openapi: 3.0.0
info:
  title: Geoapify "Routes and optimization" APIs
  description: This combined API provides functionalities for map matching, route matrix generation, route planning, and general routing. It includes features such as reconstructing routes from GPS coordinates, generating time-distance matrices, optimizing multi-agent routes, and calculating routes between waypoints. Supports various transportation modes like cars, trucks, bicycles, scooters, and walking.
  version: 1.0.0

servers:
  - url: https://api.geoapify.com/v1
    description: Main Geoapify API server

tags:
  - name: Map Matching API
    description: Lets you match geographical coordinates, such as GPS tracks, to the existing road network.
  - name: Route Matrix API
    description: Generates a time-distance matrix between source and target locations.
  - name: Route Planner API
    description: Optimizes routes between multiple locations for multiple agents.
  - name: Routing API
    description: Provides route calculations between waypoints for different transportation modes.

paths:
  /mapmatching:
    post:
      tags:
        - Map Matching API
      summary: Match GPS coordinates to road network
      description: Matches geographical coordinates, such as GPS tracks, to the existing road network. Supports different travel modes like drive, walk, and bicycle.
      operationId: mapMatching
      parameters:
        - name: apiKey
          in: query
          required: true
          description: Your Geoapify API key.
          schema:
            type: string
            example: "YOUR_API_KEY"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: The transportation mode to use.
                  enum: [ drive, walk, bicycle ]
                  example: drive
                waypoints:
                  type: array
                  description: Array of waypoints to be matched to the road network.
                  items:
                    type: object
                    properties:
                      location:
                        type: array
                        items:
                          type: number
                        description: The coordinates of the waypoint as [longitude, latitude].
                        example: [ 10.694703, 47.567028 ]
                      timestamp:
                        type: string
                        format: date-time
                        description: The timestamp of the waypoint in ISO 8601 format.
                        example: "2019-11-04T07:09:34.000Z"
                      bearing:
                        type: number
                        description: Bearing in degrees [0, 360].
                        example: 90
            example:
              mode: drive
              waypoints:
                - location: [ 10.694703, 47.567028 ]
                  timestamp: "2019-11-04T07:09:34.000Z"
                - location: [ 10.6950319, 47.567783 ]
                  timestamp: "2019-11-04T07:09:45.000Z"
      responses:
        '200':
          description: A successful response containing the matched route and its properties.
          content:
            application/geo+json:
              example: |
                {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "type": "Feature",
                      "properties": {
                        "distance": 87,
                        "time": 8,
                        "legs": [
                          {
                            "time": 8,
                            "distance": 87,
                            "steps": [
                              {
                                "osm_way_id": 150185120,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 0,
                                "to_index": 2,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 31,
                                "begin_bearing": 17,
                                "end_bearing": 16
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 2,
                                "to_index": 3,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 24,
                                "begin_bearing": 14,
                                "end_bearing": 14
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 3,
                                "to_index": 4,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 15,
                                "begin_bearing": 17,
                                "end_bearing": 17
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 4,
                                "to_index": 6,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 13,
                                "begin_bearing": 18,
                                "end_bearing": 18
                              },
                              {
                                "osm_way_id": 498012707,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 6,
                                "to_index": 8,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 4,
                                "begin_bearing": 19,
                                "end_bearing": 19
                              }
                            ]
                          }
                        ],
                        "mode": "drive",
                        "waypoints": [
                          {
                            "original_index": 0,
                            "location": [
                              10.694689,
                              47.56703
                            ],
                            "original_location": [
                              10.694703,
                              47.567028
                            ],
                            "match_type": "matched",
                            "match_distance": 1.022797,
                            "leg_index": 0,
                            "step_index": 0
                          },
                          {
                            "original_index": 1,
                            "location": [
                              10.695019,
                              47.567789
                            ],
                            "original_location": [
                              10.6950319,
                              47.567783
                            ],
                            "match_type": "matched",
                            "match_distance": 1.234974,
                            "leg_index": 0,
                            "step_index": 4
                          }
                        ]
                      },
                      "geometry": {
                        "type": "MultiLineString",
                        "coordinates": [
                          [
                            [
                              10.69469,
                              47.567031
                            ],
                            [
                              10.694792,
                              47.567251
                            ],
                            [
                              10.694809,
                              47.567302
                            ],
                            [
                              10.694887,
                              47.567512
                            ],
                            [
                              10.694947,
                              47.567644
                            ],
                            [
                              10.694994,
                              47.56774
                            ],
                            [
                              10.695002,
                              47.567757
                            ],
                            [
                              10.695019,
                              47.567789
                            ],
                            [
                              10.695019,
                              47.56779
                            ]
                          ]
                        ]
                      }
                    }
                  ]
                }
        '400':
          description: Invalid input (e.g., missing or incorrect parameters).
        '401':
          description: Invalid or missing API key.
        '500':
          description: Internal server error.

  /routematrix:
    post:
      tags:
        - Route Matrix API
      summary: Generate time-distance matrix for source and target locations
      description: Generates a time-distance matrix for specified source and target locations, useful for optimizing routes and analytics. Supports multiple transportation modes including driving, walking, and bicycles.
      operationId: generateRouteMatrix
      parameters:
        - name: apiKey
          in: query
          required: true
          description: Your Geoapify API key.
          schema:
            type: string
            example: "YOUR_API_KEY"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: The transportation mode to use.
                  enum: [ drive, truck, walk, bicycle ]
                  example: drive
                sources:
                  type: array
                  description: List of source waypoints.
                  items:
                    type: object
                    properties:
                      location:
                        type: array
                        items:
                          type: number
                        description: The coordinates of the source location as [longitude, latitude].
                        example: [ 9.236501233317654, 47.79125886208948 ]
                targets:
                  type: array
                  description: List of target waypoints.
                  items:
                    type: object
                    properties:
                      location:
                        type: array
                        items:
                          type: number
                        description: The coordinates of the target location as [longitude, latitude].
                        example: [ 9.049297670979968, 47.572236047449366 ]
                avoid:
                  type: array
                  description: List of road types or locations to avoid.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of area to avoid (e.g., tolls, highways, locations).
                        example: tolls
                      values:
                        type: array
                        description: Specific coordinates to avoid if the type is "locations".
                        items:
                          type: object
                          properties:
                            lon:
                              type: number
                              description: Longitude.
                            lat:
                              type: number
                              description: Latitude.
                traffic:
                  type: string
                  description: The traffic model to use for route calculation.
                  enum: [ free_flow, approximated ]
                  example: approximated
                type:
                  type: string
                  description: Type of route calculation.
                  enum: [ balanced, short, less_maneuvers ]
                  example: short
                max_speed:
                  type: number
                  description: Maximum speed allowed in kilometers per hour.
                  example: 80
                units:
                  type: string
                  description: Unit system to use for distances.
                  enum: [ metric, imperial ]
                  example: imperial
            example:
              mode: truck
              sources:
                - location: [ 9.236501233317654, 47.79125886208948 ]
                - location: [ 9.29243400499115, 47.75443519732946 ]
              targets:
                - location: [ 9.049297670979968, 47.572236047449366 ]
                - location: [ 9.204539649503204, 47.56068305549502 ]
              avoid:
                - type: tolls
              traffic: approximated
              type: balanced
              max_speed: 80
              units: metric
      responses:
        '200':
          description: A successful response containing the time-distance matrix.
          content:
            application/json:
              example: |
                {
                  "sources": [
                    {
                      "original_location": [
                        9.236501233317654,
                        47.79125886208948
                      ],
                      "location": [
                        9.238094,
                        47.792033
                      ]
                    },
                    {
                      "original_location": [
                        9.29243400499115,
                        47.75443519732946
                      ],
                      "location": [
                        9.2926,
                        47.754454
                      ]
                    }
                  ],
                  "targets": [
                    {
                      "original_location": [
                        9.049297670979968,
                        47.572236047449366
                      ],
                      "location": [
                        9.049953,
                        47.572671
                      ]
                    },
                    {
                      "original_location": [
                        9.204539649503204,
                        47.56068305549502
                      ],
                      "location": [
                        9.204531,
                        47.560683
                      ]
                    }
                  ],
                  "sources_to_targets": [
                    [
                      {
                        "distance": 71016,
                        "time": 7002,
                        "source_index": 0,
                        "target_index": 0
                      },
                      {
                        "distance": 71027,
                        "time": 7251,
                        "source_index": 0,
                        "target_index": 1
                      }
                    ],
                    [
                      {
                        "distance": 38044,
                        "time": 6772,
                        "source_index": 1,
                        "target_index": 0
                      },
                      {
                        "distance": 38055,
                        "time": 7021,
                        "source_index": 1,
                        "target_index": 1
                      }
                    ]
                  ],
                  "units": "metric",
                  "distance_units": "meters",
                  "mode": "truck",
                  "type": "balanced",
                  "traffic": "approximated",
                  "max_speed": 80,
                  "avoid": [
                    {
                      "type": "tolls"
                    }
                  ]
                }
        '400':
          description: Invalid input (e.g., missing or incorrect parameters).
        '401':
          description: Invalid or missing API key.
        '500':
          description: Internal server error.

  /routeplanner:
    post:
      tags:
        - Route Planner API
      summary: Generate optimized route plans for agents and jobs
      description: Provides an optimized route plan for agents, jobs, and shipments considering vehicle capacities, time windows, and more.
      operationId: generateRoutePlan
      parameters:
        - name: apiKey
          in: query
          required: true
          description: Your Geoapify API key.
          schema:
            type: string
            example: "YOUR_API_KEY"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: The transportation mode to use.
                  enum: [ drive, truck, walk, bicycle ]
                  example: drive
                agents:
                  type: array
                  description: List of agents representing vehicles or workers.
                  items:
                    type: object
                    properties:
                      start_location:
                        type: array
                        items:
                          type: number
                        description: The starting location of the agent as [longitude, latitude].
                        example: [ 13.381453755359324, 52.520666399999996 ]
                      start_location_index:
                        type: integer
                        description: Index of the start location in the locations list.
                      end_location:
                        type: array
                        items:
                          type: number
                        description: Optional end location for the agent.
                      end_location_index:
                        type: integer
                        description: Index of the end location in the locations list.
                      pickup_capacity:
                        type: number
                        description: Capacity for bulky goods pickup.
                      delivery_capacity:
                        type: number
                        description: Capacity for bulky goods delivery.
                      capabilities:
                        type: array
                        items:
                          type: string
                        description: List of capabilities or special features of the agent.
                        example: [ 'electricity', 'extra-long' ]
                      time_windows:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                        description: Working timeframes represented as pairs of relative times in seconds.
                        example: [ [ 0, 7200 ] ]
                      breaks:
                        type: array
                        description: Breaks during the agent's working hours.
                        items:
                          type: object
                          properties:
                            duration:
                              type: number
                              description: Break duration in seconds.
                            time_windows:
                              type: array
                              items:
                                type: array
                                items:
                                  type: number
                              description: Time ranges during which the break can take place.
                              example: [ [ 3600, 7200 ] ]
                      id:
                        type: string
                        description: Optional identifier for the agent.
                      description:
                        type: string
                        description: Description of the agent.
                jobs:
                  type: array
                  description: List of jobs to be performed by the agents.
                  items:
                    type: object
                    properties:
                      location:
                        type: array
                        items:
                          type: number
                        description: The job location as [longitude, latitude].
                        example: [ 13.381175446198714, 52.50929975 ]
                      location_index:
                        type: integer
                        description: Index of the job location in the locations list.
                      priority:
                        type: integer
                        description: Job priority, ranging from 0 (lowest) to 100 (highest).
                        example: 50
                      duration:
                        type: number
                        description: Duration of the job in seconds.
                        example: 600
                      pickup_amount:
                        type: number
                        description: Amount of bulky goods to be picked up for the job.
                      delivery_amount:
                        type: number
                        description: Amount of bulky goods to be delivered for the job.
                      requirements:
                        type: array
                        items:
                          type: string
                        description: List of job requirements that match agent capabilities.
                        example: [ 'electricity', 'extra-long' ]
                      time_windows:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                        description: Timeframes in seconds within which the job must be completed.
                        example: [ [ 0, 3600 ] ]
                      id:
                        type: string
                        description: Optional identifier for the job.
                      description:
                        type: string
                        description: Description of the job.
                shipments:
                  type: array
                  description: List of shipments to be picked up and delivered by agents.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the shipment.
                      pickup:
                        type: object
                        properties:
                          location:
                            type: array
                            items:
                              type: number
                            description: The pickup location as [longitude, latitude].
                          location_index:
                            type: integer
                            description: Index of the pickup location in the locations list.
                          duration:
                            type: number
                            description: Duration of the pickup in seconds.
                            example: 120
                          time_windows:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                            description: Timeframes for the pickup.
                            example: [ [ 0, 3600 ] ]
                      delivery:
                        type: object
                        properties:
                          location:
                            type: array
                            items:
                              type: number
                            description: The delivery location as [longitude, latitude].
                          location_index:
                            type: integer
                            description: Index of the delivery location in the locations list.
                          duration:
                            type: number
                            description: Duration of the delivery in seconds.
                            example: 120
                          time_windows:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                            description: Timeframes for the delivery.
                            example: [ [ 0, 3600 ] ]
                      requirements:
                        type: array
                        items:
                          type: string
                        description: Requirements for handling the shipment.
                      priority:
                        type: integer
                        description: Shipment priority.
                      description:
                        type: string
                        description: Description of the shipment.
                locations:
                  type: array
                  description: List of locations used in jobs and shipments.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the location.
                      location:
                        type: array
                        items:
                          type: number
                        description: Coordinates of the location as [longitude, latitude].
                avoid:
                  type: array
                  description: List of road types or locations to avoid.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Type of area to avoid.
                        example: tolls
                      values:
                        type: array
                        items:
                          type: object
                          description: Coordinates to avoid.
                          properties:
                            lon:
                              type: number
                              description: Longitude.
                              example: 12.1830350
                            lat:
                              type: number
                              description: Latitude.
                              example: 47.981384
                traffic:
                  type: string
                  description: Traffic model to use for route calculation.
                  enum: [ free_flow, approximated ]
                  example: approximated
                type:
                  type: string
                  description: Type of route calculation.
                  enum: [ balanced, short, less_maneuvers ]
                  example: short
                max_speed:
                  type: number
                  description: Maximum speed allowed in kilometers per hour.
                  example: 80
                units:
                  type: string
                  description: Unit system for distances.
                  enum: [ metric, imperial ]
                  example: metric
            example:
              mode: drive
              agents:
                - start_location: [ 13.381453755359324, 52.520666399999996 ]
                  time_windows: [ [ 0, 7200 ] ]
              jobs:
                - location: [ 13.381175446198714, 52.50929975 ]
                  duration: 600
                  priority: 50
              shipments:
                - id: order_1
                  pickup:
                    location_index: 0
                    duration: 120
                  delivery:
                    location: [ 13.381175446198714, 52.50929975 ]
                    duration: 120
              locations:
                - id: warehouse-0
                  location: [ 13.3465209, 52.5245064 ]
              avoid:
                - type: tolls
              traffic: approximated
              type: balanced
              max_speed: 80
              units: metric
      responses:
        '200':
          description: A successful response containing the route planning results.
          content:
            application/geo+json:
              example: |
                {
                  "type": "FeatureCollection",
                  "properties": {
                    "mode": "drive",
                    "params": {
                      "mode": "drive",
                      "agents": [
                        {
                          "start_location": [
                            13.381453755359324,
                            52.520666399999996
                          ],
                          "time_windows": [
                            [
                              0,
                              7200
                            ]
                          ]
                        }
                      ],
                      "jobs": [
                        {
                          "location": [
                            13.381175446198714,
                            52.50929975
                          ],
                          "duration": 600,
                          "priority": 50
                        }
                      ],
                      "shipments": [
                        {
                          "id": "order_1",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              13.381175446198714,
                              52.50929975
                            ],
                            "duration": 120
                          }
                        }
                      ],
                      "locations": [
                        {
                          "id": "warehouse-0",
                          "location": [
                            13.3465209,
                            52.5245064
                          ]
                        }
                      ],
                      "avoid": [
                        {
                          "type": "tolls"
                        }
                      ],
                      "traffic": "approximated",
                      "type": "balanced",
                      "max_speed": 80,
                      "units": "metric"
                    }
                  },
                  "features": [
                    {
                      "geometry": {
                        "type": "MultiLineString",
                        "coordinates": [
                          [
                            [
                              13.381707,
                              52.520624
                            ],
                            [
                              13.346817,
                              52.524456
                            ]
                          ],
                          [
                            [
                              13.346817,
                              52.524456
                            ],
                            [
                              13.381154,
                              52.509437
                            ]
                          ]
                        ]
                      },
                      "type": "Feature",
                      "properties": {
                        "agent_index": 0,
                        "time": 2543,
                        "start_time": 0,
                        "end_time": 2543,
                        "distance": 7005,
                        "legs": [
                          {
                            "time": 664,
                            "distance": 2795,
                            "from_waypoint_index": 0,
                            "to_waypoint_index": 1,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 664,
                                "distance": 2795
                              }
                            ]
                          },
                          {
                            "time": 1039,
                            "distance": 4210,
                            "from_waypoint_index": 1,
                            "to_waypoint_index": 2,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 1039,
                                "distance": 4210
                              }
                            ]
                          }
                        ],
                        "mode": "drive",
                        "actions": [
                          {
                            "index": 0,
                            "type": "start",
                            "start_time": 0,
                            "duration": 0,
                            "waypoint_index": 0
                          },
                          {
                            "index": 1,
                            "type": "pickup",
                            "start_time": 664,
                            "duration": 120,
                            "shipment_index": 0,
                            "shipment_id": "order_1",
                            "location_index": 0,
                            "location_id": "warehouse-0",
                            "waypoint_index": 1
                          },
                          {
                            "index": 2,
                            "type": "delivery",
                            "start_time": 1823,
                            "duration": 120,
                            "shipment_index": 0,
                            "shipment_id": "order_1",
                            "waypoint_index": 2
                          },
                          {
                            "index": 3,
                            "type": "job",
                            "start_time": 1943,
                            "duration": 600,
                            "job_index": 0,
                            "waypoint_index": 2
                          },
                          {
                            "index": 4,
                            "type": "end",
                            "start_time": 2543,
                            "duration": 0
                          }
                        ],
                        "waypoints": [
                          {
                            "original_location": [
                              13.381453755359324,
                              52.520666399999996
                            ],
                            "location": [
                              13.381707,
                              52.520624
                            ],
                            "start_time": 0,
                            "duration": 0,
                            "actions": [
                              {
                                "index": 0,
                                "type": "start",
                                "start_time": 0,
                                "duration": 0,
                                "waypoint_index": 0
                              }
                            ],
                            "next_leg_index": 0
                          },
                          {
                            "original_location": [
                              13.3465209,
                              52.5245064
                            ],
                            "location": [
                              13.346817,
                              52.524456
                            ],
                            "start_time": 664,
                            "duration": 120,
                            "actions": [
                              {
                                "index": 1,
                                "type": "pickup",
                                "start_time": 664,
                                "duration": 120,
                                "shipment_index": 0,
                                "shipment_id": "order_1",
                                "location_index": 0,
                                "location_id": "warehouse-0",
                                "waypoint_index": 1
                              }
                            ],
                            "original_location_index": 0,
                            "original_location_id": "warehouse-0",
                            "prev_leg_index": 0,
                            "next_leg_index": 1
                          },
                          {
                            "original_location": [
                              13.381175446198714,
                              52.50929975
                            ],
                            "location": [
                              13.381154,
                              52.509437
                            ],
                            "start_time": 1823,
                            "duration": 720,
                            "actions": [
                              {
                                "index": 2,
                                "type": "delivery",
                                "start_time": 1823,
                                "duration": 120,
                                "shipment_index": 0,
                                "shipment_id": "order_1",
                                "waypoint_index": 2
                              },
                              {
                                "index": 3,
                                "type": "job",
                                "start_time": 1943,
                                "duration": 600,
                                "job_index": 0,
                                "waypoint_index": 2
                              }
                            ],
                            "prev_leg_index": 1
                          }
                        ]
                      }
                    }
                  ]
                }
        '400':
          description: Invalid input (e.g., missing or incorrect parameters).
        '401':
          description: Invalid or missing API key.
        '500':
          description: Internal server error.

  /routing:
    get:
      tags:
        - Routing API
      summary: Calculate route between waypoints
      description: Calculates routes between two or more waypoints for a variety of transportation modes, such as cars, trucks, bicycles, and walking. Supports customization using parameters like avoidance of road types and route parts.
      operationId: calculateRoute
      parameters:
        - name: waypoints
          in: query
          required: true
          description: Coordinates representing the waypoints, separated by a vertical bar ('|'). Each coordinate is a latitude, longitude pair.
          schema:
            type: string
            example: "50.679023,4.569876|50.661705,4.578667"
        - name: mode
          in: query
          required: true
          description: Mode of transportation for route calculation.
          schema:
            type: string
            enum: [ drive, walk, bike, truck, scooter, hike ]
            example: "drive"
        - name: apiKey
          in: query
          required: true
          description: API key for authentication.
          schema:
            type: string
            example: "YOUR_API_KEY"
        - name: type
          in: query
          required: false
          description: Type of route optimization. Options include 'balanced', 'short', and 'less_maneuvers'.
          schema:
            type: string
            enum: [ balanced, short, less_maneuvers ]
            example: "short"
        - name: units
          in: query
          required: false
          description: Units for distance measurement. Options are 'metric' or 'imperial'.
          schema:
            type: string
            enum: [ metric, imperial ]
            example: "imperial"
        - name: lang
          in: query
          required: false
          description: Language for the turn-by-turn instructions, using ISO 639-1 codes.
          schema:
            type: string
            example: "en"
        - name: avoid
          in: query
          required: false
          description: Types of road or locations to avoid during the route calculation.
          schema:
            type: string
            example: "tolls:1|ferries"
        - name: details
          in: query
          required: false
          description: Additional details to include in the response, such as 'instruction_details', 'route_details', or 'elevation'.
          schema:
            type: string
            example: "instruction_details,route_details"
        - name: traffic
          in: query
          required: false
          description: Traffic model for route calculation. Options are 'free_flow' or 'approximated'.
          schema:
            type: string
            enum: [ free_flow, approximated ]
            example: "approximated"
        - name: max_speed
          in: query
          required: false
          description: Maximum speed for the route (in KPH).
          schema:
            type: integer
            example: 80
        - name: format
          in: query
          required: false
          description: Output format for the response, such as 'geojson', 'json', or 'xml'.
          schema:
            type: string
            enum: [ geojson, json, xml ]
            example: "json"
      responses:
        '200':
          description: Successful response with routing details.
          content:
            application/json:
              example:
                {
                  "results": [
                    {
                      "mode": "drive",
                      "waypoints": [
                        {
                          "location": [
                            4.569876,
                            50.679023
                          ],
                          "original_index": 0
                        },
                        {
                          "location": [
                            4.578667,
                            50.661705
                          ],
                          "original_index": 1
                        }
                      ],
                      "units": "imperial",
                      "avoid": [
                        {
                          "type": "tolls",
                          "importance": 1
                        },
                        {
                          "type": "ferries"
                        }
                      ],
                      "details": [
                        "instruction_details",
                        "route_details"
                      ],
                      "traffic": "approximated",
                      "distance": 1.884,
                      "distance_units": "miles",
                      "time": 390.501,
                      "max_speed": 20,
                      "legs": [
                        {
                          "distance": 1.884,
                          "time": 390.501,
                          "steps": [
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Avenue Jacques Georgin",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 62,
                              "from_index": 0,
                              "to_index": 1,
                              "distance": 0.03,
                              "time": 5.510294117647058,
                              "instruction": {
                                "text": "Drive southeast on Avenue Jacques Georgin.",
                                "type": "StartAtRight",
                                "transition_instruction": "Drive southeast. Then Turn left onto Fond de Bondry.",
                                "pre_transition_instruction": "Drive southeast on Avenue Jacques Georgin. Then Turn left onto Fond de Bondry.",
                                "post_transition_instruction": "Continue for 200 feet.",
                                "streets": [
                                  "Avenue Jacques Georgin"
                                ],
                                "contains_next_instruction": true
                              }
                            },
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Fond de Bondry",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 62,
                              "from_index": 1,
                              "to_index": 7,
                              "distance": 0.11,
                              "time": 30.60141592920354,
                              "instruction": {
                                "text": "Turn left onto Fond de Bondry.",
                                "type": "Left",
                                "transition_instruction": "Turn left.",
                                "pre_transition_instruction": "Turn left onto Fond de Bondry.",
                                "post_transition_instruction": "Continue for 600 feet.",
                                "streets": [
                                  "Fond de Bondry"
                                ]
                              }
                            },
                            {
                              "speed": 40,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "unclassified",
                              "name": "Fond de Bondry",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 62,
                              "from_index": 7,
                              "to_index": 10,
                              "distance": 0.05,
                              "time": 12.225925925925928,
                              "instruction": {
                                "text": "Turn right to stay on Fond de Bondry.",
                                "type": "Right",
                                "transition_instruction": "Turn right. Then Turn right onto Avenue Albert 1er.",
                                "pre_transition_instruction": "Turn right to stay on Fond de Bondry. Then Turn right onto Avenue Albert 1er.",
                                "post_transition_instruction": "Continue for 300 feet.",
                                "streets": [
                                  "Fond de Bondry"
                                ],
                                "contains_next_instruction": true
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue Albert 1er, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 61,
                              "from_index": 10,
                              "to_index": 21,
                              "distance": 0.23,
                              "time": 44.78207062600321,
                              "instruction": {
                                "text": "Turn right onto Avenue Albert 1er/N239. Continue on N239.",
                                "type": "Right",
                                "transition_instruction": "Turn right.",
                                "pre_transition_instruction": "Turn right onto Avenue Albert 1er, N239.",
                                "post_transition_instruction": "Continue on N239 for a half mile.",
                                "streets": [
                                  "N239",
                                  "Avenue Albert 1er"
                                ]
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue Albert 1er, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 68,
                              "from_index": 21,
                              "to_index": 30,
                              "distance": 0.26,
                              "time": 50.623210272873195
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 30,
                              "to_index": 33,
                              "distance": 0.03,
                              "time": 5.841139646869983
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 33,
                              "to_index": 34,
                              "distance": 0,
                              "time": 0
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 34,
                              "to_index": 39,
                              "distance": 0.02,
                              "time": 3.894093097913323
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 39,
                              "to_index": 40,
                              "distance": 0.01,
                              "time": 1.9470465489566615
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 40,
                              "to_index": 42,
                              "distance": 0.02,
                              "time": 3.894093097913323
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 64,
                              "from_index": 42,
                              "to_index": 47,
                              "distance": 0.02,
                              "time": 3.894093097913323
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Avenue des Combattants, N239",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 64,
                              "from_index": 47,
                              "to_index": 51,
                              "distance": 0.03,
                              "time": 5.841139646869983
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Rond-Point de la Libération des Camps",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": true,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 64,
                              "from_index": 51,
                              "to_index": 55,
                              "distance": 0.01,
                              "time": 3.4221428571428576,
                              "instruction": {
                                "text": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                "type": "Roundabout",
                                "transition_instruction": "Enter the roundabout and take the 1st exit.",
                                "pre_transition_instruction": "Enter Rond-Point de la Libération des Camps and take the 1st exit onto Avenue Paul Delvaux.",
                                "streets": [
                                  "Rond-Point de la Libération des Camps"
                                ],
                                "roundabout_exit": 1
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Rond-Point de la Libération des Camps",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": true,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 62,
                              "from_index": 55,
                              "to_index": 57,
                              "distance": 0,
                              "time": 0
                            },
                            {
                              "speed": 50,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "tertiary",
                              "name": "Avenue Paul Delvaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 60,
                              "from_index": 57,
                              "to_index": 60,
                              "distance": 0.01,
                              "time": 1.835981735159817,
                              "instruction": {
                                "text": "Exit the roundabout onto Avenue Paul Delvaux.",
                                "type": "Roundabout",
                                "transition_instruction": "Exit the roundabout.",
                                "pre_transition_instruction": "Exit the roundabout onto Avenue Paul Delvaux.",
                                "post_transition_instruction": "Continue for a quarter mile.",
                                "streets": [
                                  "Avenue Paul Delvaux"
                                ]
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "tertiary",
                              "name": "Avenue Paul Delvaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 58,
                              "from_index": 60,
                              "to_index": 67,
                              "distance": 0.06,
                              "time": 11.015890410958903
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "tertiary",
                              "name": "Avenue Paul Delvaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": true,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 56,
                              "from_index": 67,
                              "to_index": 69,
                              "distance": 0.02,
                              "time": 3.671963470319634
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "tertiary",
                              "name": "Avenue Paul Delvaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 55,
                              "from_index": 69,
                              "to_index": 80,
                              "distance": 0.13,
                              "time": 23.867762557077622
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Rue des Deux Ponts",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": true,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 56,
                              "from_index": 80,
                              "to_index": 83,
                              "distance": 0.01,
                              "time": 2.41,
                              "instruction": {
                                "text": "Enter the roundabout and take the 2nd exit onto Rue des Deux Ponts.",
                                "type": "Roundabout",
                                "transition_instruction": "Enter the roundabout and take the 2nd exit.",
                                "pre_transition_instruction": "Enter the roundabout and take the 2nd exit onto Rue des Deux Ponts.",
                                "roundabout_exit": 2
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Rue des Deux Ponts",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "forward",
                              "elevation": 56,
                              "from_index": 83,
                              "to_index": 84,
                              "distance": 0.01,
                              "time": 1.8767708333333333,
                              "instruction": {
                                "text": "Exit the roundabout onto Rue des Deux Ponts.",
                                "type": "Roundabout",
                                "transition_instruction": "Exit the roundabout. Then, in 500 feet, Turn left onto Montagne du Stimont.",
                                "pre_transition_instruction": "Exit the roundabout onto Rue des Deux Ponts. Then, in 500 feet, Turn left onto Montagne du Stimont.",
                                "post_transition_instruction": "Continue for 500 feet.",
                                "streets": [
                                  "Rue des Deux Ponts"
                                ],
                                "contains_next_instruction": true
                              }
                            },
                            {
                              "speed": 50,
                              "speed_limit": 50,
                              "truck_limit": 50,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "secondary",
                              "name": "Rue des Deux Ponts, N232",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 60,
                              "from_index": 84,
                              "to_index": 89,
                              "distance": 0.09,
                              "time": 16.8909375
                            },
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Montagne du Stimont",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 60,
                              "from_index": 89,
                              "to_index": 95,
                              "distance": 0.06,
                              "time": 13.792125000000002,
                              "instruction": {
                                "text": "Turn left onto Montagne du Stimont.",
                                "type": "Left",
                                "transition_instruction": "Turn left.",
                                "pre_transition_instruction": "Turn left onto Montagne du Stimont.",
                                "post_transition_instruction": "Continue for 900 feet.",
                                "streets": [
                                  "Montagne du Stimont"
                                ]
                              }
                            },
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Montagne du Stimont",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 69,
                              "from_index": 95,
                              "to_index": 109,
                              "distance": 0.1,
                              "time": 22.986875
                            },
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Rue de Renivaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 71,
                              "from_index": 109,
                              "to_index": 126,
                              "distance": 0.27,
                              "time": 49.371,
                              "instruction": {
                                "text": "Bear right onto Rue de Renivaux.",
                                "type": "SlightRight",
                                "transition_instruction": "Bear right.",
                                "pre_transition_instruction": "Bear right onto Rue de Renivaux.",
                                "post_transition_instruction": "Continue for a quarter mile.",
                                "streets": [
                                  "Rue de Renivaux"
                                ]
                              }
                            },
                            {
                              "speed": 35,
                              "speed_limit": 90,
                              "truck_limit": 90,
                              "surface": "paved_smooth",
                              "lane_count": 1,
                              "road_class": "residential",
                              "name": "Avenue des Bouleaux",
                              "toll": false,
                              "tunnel": false,
                              "bridge": false,
                              "roundabout": false,
                              "rightside": true,
                              "traversability": "both",
                              "elevation": 104,
                              "from_index": 126,
                              "to_index": 158,
                              "distance": 0.29,
                              "time": 68.16812499999999,
                              "instruction": {
                                "text": "Make a sharp left onto Avenue des Bouleaux.",
                                "type": "SharpLeft",
                                "transition_instruction": "Make a sharp left.",
                                "pre_transition_instruction": "Make a sharp left onto Avenue des Bouleaux.",
                                "post_transition_instruction": "Continue for a quarter mile.",
                                "streets": [
                                  "Avenue des Bouleaux"
                                ]
                              }
                            },
                            {
                              "from_index": 158,
                              "to_index": 158,
                              "distance": 0,
                              "time": 0,
                              "instruction": {
                                "text": "Your destination is on the right.",
                                "type": "DestinationReachedRight",
                                "transition_instruction": "Your destination will be on the right.",
                                "pre_transition_instruction": "Your destination is on the right."
                              }
                            }
                          ],
                          "country_code": [
                            "be"
                          ]
                        }
                      ],
                      "country_code": [
                        "be"
                      ],
                      "geometry": [
                        [
                          {
                            "lon": 4.570128,
                            "lat": 50.679194
                          },
                          {
                            "lon": 4.570706,
                            "lat": 50.678852
                          },
                          {
                            "lon": 4.571422,
                            "lat": 50.679306
                          },
                          {
                            "lon": 4.571714,
                            "lat": 50.679485
                          },
                          {
                            "lon": 4.571851,
                            "lat": 50.679643
                          },
                          {
                            "lon": 4.571848,
                            "lat": 50.679718
                          },
                          {
                            "lon": 4.571843,
                            "lat": 50.679833
                          },
                          {
                            "lon": 4.571687,
                            "lat": 50.680199
                          },
                          {
                            "lon": 4.571974,
                            "lat": 50.68026
                          },
                          {
                            "lon": 4.572331,
                            "lat": 50.680334
                          },
                          {
                            "lon": 4.572864,
                            "lat": 50.680439
                          },
                          {
                            "lon": 4.572877,
                            "lat": 50.680298
                          },
                          {
                            "lon": 4.572904,
                            "lat": 50.679988
                          },
                          {
                            "lon": 4.572919,
                            "lat": 50.679703
                          },
                          {
                            "lon": 4.572904,
                            "lat": 50.679509
                          },
                          {
                            "lon": 4.572904,
                            "lat": 50.679306
                          },
                          {
                            "lon": 4.572789,
                            "lat": 50.678618
                          },
                          {
                            "lon": 4.572672,
                            "lat": 50.678082
                          },
                          {
                            "lon": 4.572656,
                            "lat": 50.677904
                          },
                          {
                            "lon": 4.572576,
                            "lat": 50.677555
                          },
                          {
                            "lon": 4.572527,
                            "lat": 50.677345
                          },
                          {
                            "lon": 4.572504,
                            "lat": 50.677168
                          },
                          {
                            "lon": 4.572431,
                            "lat": 50.676973
                          },
                          {
                            "lon": 4.572244,
                            "lat": 50.676485
                          },
                          {
                            "lon": 4.571878,
                            "lat": 50.675756
                          },
                          {
                            "lon": 4.571829,
                            "lat": 50.675656
                          },
                          {
                            "lon": 4.571528,
                            "lat": 50.675145
                          },
                          {
                            "lon": 4.571335,
                            "lat": 50.674739
                          },
                          {
                            "lon": 4.571313,
                            "lat": 50.674693
                          },
                          {
                            "lon": 4.570879,
                            "lat": 50.673689
                          },
                          {
                            "lon": 4.570807,
                            "lat": 50.673522
                          },
                          {
                            "lon": 4.570639,
                            "lat": 50.673127
                          },
                          {
                            "lon": 4.570627,
                            "lat": 50.673098
                          },
                          {
                            "lon": 4.570604,
                            "lat": 50.673042
                          },
                          {
                            "lon": 4.570582,
                            "lat": 50.672988
                          },
                          {
                            "lon": 4.570569,
                            "lat": 50.672958
                          },
                          {
                            "lon": 4.570554,
                            "lat": 50.672924
                          },
                          {
                            "lon": 4.57052,
                            "lat": 50.67284
                          },
                          {
                            "lon": 4.570503,
                            "lat": 50.672802
                          },
                          {
                            "lon": 4.570481,
                            "lat": 50.672748
                          },
                          {
                            "lon": 4.57043,
                            "lat": 50.672645
                          },
                          {
                            "lon": 4.570373,
                            "lat": 50.672505
                          },
                          {
                            "lon": 4.570338,
                            "lat": 50.672424
                          },
                          {
                            "lon": 4.570302,
                            "lat": 50.672346
                          },
                          {
                            "lon": 4.570258,
                            "lat": 50.672249
                          },
                          {
                            "lon": 4.570246,
                            "lat": 50.672223
                          },
                          {
                            "lon": 4.570226,
                            "lat": 50.672155
                          },
                          {
                            "lon": 4.570206,
                            "lat": 50.672112
                          },
                          {
                            "lon": 4.570169,
                            "lat": 50.672006
                          },
                          {
                            "lon": 4.570163,
                            "lat": 50.671895
                          },
                          {
                            "lon": 4.570178,
                            "lat": 50.67169
                          },
                          {
                            "lon": 4.570187,
                            "lat": 50.671625
                          },
                          {
                            "lon": 4.570177,
                            "lat": 50.671577
                          },
                          {
                            "lon": 4.570188,
                            "lat": 50.671538
                          },
                          {
                            "lon": 4.570207,
                            "lat": 50.671512
                          },
                          {
                            "lon": 4.570251,
                            "lat": 50.671484
                          },
                          {
                            "lon": 4.570281,
                            "lat": 50.671476
                          },
                          {
                            "lon": 4.570339,
                            "lat": 50.671463
                          },
                          {
                            "lon": 4.570421,
                            "lat": 50.671412
                          },
                          {
                            "lon": 4.570507,
                            "lat": 50.671356
                          },
                          {
                            "lon": 4.570558,
                            "lat": 50.671333
                          },
                          {
                            "lon": 4.570586,
                            "lat": 50.671266
                          },
                          {
                            "lon": 4.570606,
                            "lat": 50.671199
                          },
                          {
                            "lon": 4.570635,
                            "lat": 50.671099
                          },
                          {
                            "lon": 4.570648,
                            "lat": 50.671013
                          },
                          {
                            "lon": 4.570671,
                            "lat": 50.670862
                          },
                          {
                            "lon": 4.570708,
                            "lat": 50.670681
                          },
                          {
                            "lon": 4.570815,
                            "lat": 50.670486
                          },
                          {
                            "lon": 4.570943,
                            "lat": 50.670398
                          },
                          {
                            "lon": 4.571071,
                            "lat": 50.670306
                          },
                          {
                            "lon": 4.571247,
                            "lat": 50.669974
                          },
                          {
                            "lon": 4.571373,
                            "lat": 50.669794
                          },
                          {
                            "lon": 4.571648,
                            "lat": 50.669254
                          },
                          {
                            "lon": 4.57171,
                            "lat": 50.669096
                          },
                          {
                            "lon": 4.571724,
                            "lat": 50.669016
                          },
                          {
                            "lon": 4.571725,
                            "lat": 50.668897
                          },
                          {
                            "lon": 4.571739,
                            "lat": 50.66874
                          },
                          {
                            "lon": 4.571789,
                            "lat": 50.668681
                          },
                          {
                            "lon": 4.57185,
                            "lat": 50.668636
                          },
                          {
                            "lon": 4.57187,
                            "lat": 50.668576
                          },
                          {
                            "lon": 4.571894,
                            "lat": 50.668513
                          },
                          {
                            "lon": 4.571886,
                            "lat": 50.668488
                          },
                          {
                            "lon": 4.571888,
                            "lat": 50.668457
                          },
                          {
                            "lon": 4.571908,
                            "lat": 50.668427
                          },
                          {
                            "lon": 4.572011,
                            "lat": 50.668288
                          },
                          {
                            "lon": 4.571962,
                            "lat": 50.66817
                          },
                          {
                            "lon": 4.571834,
                            "lat": 50.66802
                          },
                          {
                            "lon": 4.571572,
                            "lat": 50.667343
                          },
                          {
                            "lon": 4.571572,
                            "lat": 50.667217
                          },
                          {
                            "lon": 4.571594,
                            "lat": 50.667081
                          },
                          {
                            "lon": 4.571674,
                            "lat": 50.667074
                          },
                          {
                            "lon": 4.571904,
                            "lat": 50.667039
                          },
                          {
                            "lon": 4.572131,
                            "lat": 50.666976
                          },
                          {
                            "lon": 4.572521,
                            "lat": 50.666806
                          },
                          {
                            "lon": 4.572711,
                            "lat": 50.666709
                          },
                          {
                            "lon": 4.572735,
                            "lat": 50.666699
                          },
                          {
                            "lon": 4.572756,
                            "lat": 50.666691
                          },
                          {
                            "lon": 4.57283,
                            "lat": 50.666651
                          },
                          {
                            "lon": 4.57301,
                            "lat": 50.666555
                          },
                          {
                            "lon": 4.57312,
                            "lat": 50.666457
                          },
                          {
                            "lon": 4.573172,
                            "lat": 50.666377
                          },
                          {
                            "lon": 4.573184,
                            "lat": 50.666297
                          },
                          {
                            "lon": 4.573126,
                            "lat": 50.666113
                          },
                          {
                            "lon": 4.573072,
                            "lat": 50.665975
                          },
                          {
                            "lon": 4.573013,
                            "lat": 50.66584
                          },
                          {
                            "lon": 4.573016,
                            "lat": 50.665674
                          },
                          {
                            "lon": 4.57306,
                            "lat": 50.665571
                          },
                          {
                            "lon": 4.573085,
                            "lat": 50.665513
                          },
                          {
                            "lon": 4.573142,
                            "lat": 50.665431
                          },
                          {
                            "lon": 4.573231,
                            "lat": 50.665374
                          },
                          {
                            "lon": 4.573184,
                            "lat": 50.665306
                          },
                          {
                            "lon": 4.57322,
                            "lat": 50.66519
                          },
                          {
                            "lon": 4.573293,
                            "lat": 50.665016
                          },
                          {
                            "lon": 4.573395,
                            "lat": 50.664745
                          },
                          {
                            "lon": 4.57352,
                            "lat": 50.664479
                          },
                          {
                            "lon": 4.573604,
                            "lat": 50.664312
                          },
                          {
                            "lon": 4.573698,
                            "lat": 50.664145
                          },
                          {
                            "lon": 4.573988,
                            "lat": 50.663759
                          },
                          {
                            "lon": 4.574049,
                            "lat": 50.663616
                          },
                          {
                            "lon": 4.574127,
                            "lat": 50.663388
                          },
                          {
                            "lon": 4.57423,
                            "lat": 50.663113
                          },
                          {
                            "lon": 4.574415,
                            "lat": 50.662597
                          },
                          {
                            "lon": 4.574528,
                            "lat": 50.662192
                          },
                          {
                            "lon": 4.574476,
                            "lat": 50.661944
                          },
                          {
                            "lon": 4.574399,
                            "lat": 50.661692
                          },
                          {
                            "lon": 4.574426,
                            "lat": 50.661624
                          },
                          {
                            "lon": 4.574442,
                            "lat": 50.661595
                          },
                          {
                            "lon": 4.574512,
                            "lat": 50.661714
                          },
                          {
                            "lon": 4.574606,
                            "lat": 50.661827
                          },
                          {
                            "lon": 4.574803,
                            "lat": 50.662049
                          },
                          {
                            "lon": 4.575002,
                            "lat": 50.662217
                          },
                          {
                            "lon": 4.575236,
                            "lat": 50.662384
                          },
                          {
                            "lon": 4.575434,
                            "lat": 50.662482
                          },
                          {
                            "lon": 4.575642,
[...]
