{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Geometry API",
    "version": "1.0.0",
    "description": "Store GeoJSON geometries and calculate unions or intersections of two or more reusable geometry or isoline IDs."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Geometry",
      "description": "Store GeoJSON and combine stored or generated geometries by union or intersection."
    }
  ],
  "paths": {
    "/geometry": {
      "get": {
        "tags": [
          "Geometry"
        ],
        "operationId": "calculateStoredGeometry",
        "summary": "Combine geometries by union or intersection",
        "description": "Combines two or more previously generated or stored geometries and returns a new GeoJSON FeatureCollection.\n\n- Repeat the `id` query parameter for every input geometry; at least two IDs are required.\n- Use `operation=union` to merge all covered areas, or `operation=intersection` to return only their common area.\n- Input IDs can come from APIs that return reusable geometry or isoline IDs, or from `POST /geometry`.\n- The default `format=geojson` response includes a new `properties.id` that can be reused in later Geometry API calls.\n- `topojson` returns TopoJSON and `geobuf` returns a binary Geobuf payload.\n\n**Example:** union two 600-second drive isolines near Philadelphia, Pennsylvania.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Geometry or isoline IDs to combine. Repeat `id` for every input; at least two IDs are required.",
            "schema": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "string",
                "pattern": "^[a-f0-9]{32}$",
                "description": "Reusable 32-character geometry or isoline ID."
              },
              "example": [
                "a3f2029c4c2741f40782725fa0dc88be",
                "1a98e89ca85dcc8251211d7d83e16512"
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "description": "Required operation. `union` merges all input areas; `intersection` keeps only their common area.",
            "schema": {
              "type": "string",
              "enum": [
                "intersection",
                "union"
              ],
              "example": "union"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Optional detail datasets to add to each returned feature.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(details:)?[a-z.0-9_-]{5,100}(,[a-z.0-9_-]{5,100})*$"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response encoding. The documented response schema and example describe the default GeoJSON format.",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "topojson",
                "geobuf"
              ],
              "default": "geojson",
              "example": "geojson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Combined geometry. The example is the GeoJSON union of the two preset drive isolines.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureCollection"
                },
                "example": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "geometry": {
                        "type": "MultiPolygon",
                        "coordinates": [
                          [
                            [
                              [
                                -75.093638,
                                39.889902
                              ],
                              [
                                -75.094101,
                                39.890438
                              ],
                              [
                                -75.094194,
                                39.890457
                              ],
                              [
                                -75.094638,
                                39.890657
                              ],
                              [
                                -75.094869,
                                39.89067
                              ],
                              [
                                -75.09548,
                                39.890743
                              ],
                              [
                                -75.095638,
                                39.890753
                              ],
                              [
                                -75.095737,
                                39.890803
                              ],
                              [
                                -75.095787,
                                39.890902
                              ],
                              [
                                -75.095974,
                                39.891237
                              ],
                              [
                                -75.096039,
                                39.8915
                              ],
                              [
                                -75.096328,
                                39.891591
                              ],
                              [
                                -75.096638,
                                39.891779
                              ],
                              [
                                -75.09672,
                                39.89182
                              ],
                              [
                                -75.096761,
                                39.891902
                              ],
                              [
                                -75.097028,
                                39.892291
                              ],
                              [
                                -75.097096,
                                39.892443
                              ],
                              [
                                -75.097203,
                                39.892466
                              ],
                              [
                                -75.097638,
                                39.89269
                              ],
                              [
                                -75.097779,
                                39.892761
                              ],
                              [
                                -75.097849,
                                39.892902
                              ],
                              [
                                -75.09814,
                                39.8934
                              ],
                              [
                                -75.098638,
                                39.893656
                              ],
                              [
                                -75.09887,
                                39.89367
                              ],
                              [
                                -75.099487,
                                39.893751
                              ],
                              [
                                -75.099638,
                                39.893761
                              ],
                              [
                                -75.099803,
                                39.893737
                              ],
                              [
                                -75.100337,
                                39.8936
                              ],
                              [
                                -75.100638,
                                39.893566
                              ],
                              [
                                -75.100992,
                                39.893547
                              ],
                              [
                                -75.101258,
                                39.893521
                              ],
                              [
                                -75.101638,
                                39.893503
                              ],
                              [
                                -75.102,
                                39.893264
                              ],
                              [
                                -75.102138,
                                39.892902
                              ],
                              [
                                -75.10202,
                                39.89252
                              ],
                              [
                                -75.101638,
                                39.892054
                              ],
                              [
                                -75.101464,
                                39.892076
                              ],
                              [
                                -75.10093,
                                39.892194
                              ],
                              [
                                -75.100638,
                                39.892223
                              ],
                              [
                                -75.100424,
                                39.892116
                              ],
                              [
                                -75.100317,
                                39.891902
                              ],
                              [
                                -75.100072,
                                39.891468
                              ],
                              [
                                -75.099638,
                                39.891188
                              ],
                              [
                                -75.099447,
                                39.891092
                              ],
                              [
                                -75.099352,
                                39.890902
                              ],
                              [
                                -75.099329,
                                39.890592
                              ],
                              [
                                -75.099282,
                                39.890258
                              ],
                              [
                                -75.099259,
                                39.889902
                              ],
                              [
                                -75.099268,
                                39.889531
                              ],
                              [
                                -75.099282,
                                39.889258
                              ],
                              [
                                -75.099291,
                                39.888902
                              ],
                              [
                                -75.099053,
                                39.888487
                              ],
                              [
                                -75.098638,
                                39.888226
                              ],
                              [
                                -75.098422,
                                39.888118
                              ],
                              [
                                -75.098314,
                                39.887902
                              ],
                              [
                                -75.098091,
                                39.887448
                              ],
                              [
                                -75.097638,
                                39.887141
                              ],
                              [
                                -75.097433,
                                39.887107
                              ],
                              [
                                -75.096787,
                                39.887051
                              ],
                              [
                                -75.096638,
                                39.887029
                              ],
                              [
                                -75.096541,
                                39.886999
                              ],
                              [
                                -75.096492,
                                39.886902
                              ],
                              [
                                -75.09639,
                                39.886653
                              ],
                              [
                                -75.096439,
                                39.8861
                              ],
                              [
                                -75.095687,
                                39.88595
                              ],
                              [
                                -75.095638,
                                39.88592
                              ],
                              [
                                -75.095624,
                                39.885916
                              ],
                              [
                                -75.095618,
                                39.885902
                              ],
                              [
                                -75.095584,
                                39.885847
                              ],
                              [
                                -75.095584,
                                39.884956
                              ],
                              [
                                -75.094948,
                                39.885212
                              ],
                              [
                                -75.094638,
                                39.885119
                              ],
                              [
                                -75.094413,
                                39.885127
                              ],
                              [
                                -75.093725,
                                39.884989
                              ],
                              [
                                -75.093638,
                                39.884994
                              ],
                              [
                                -75.093582,
                                39.884958
                              ],
                              [
                                -75.093568,
                                39.884902
                              ],
                              [
                                -75.093505,
                                39.884768
                              ],
                              [
                                -75.093385,
                                39.884154
                              ],
                              [
                                -75.092979,
                                39.883902
                              ],
                              [
                                -75.09285,
                                39.88369
                              ],
                              [
                                -75.092638,
                                39.883498
                              ],
                              [
                                -75.092246,
                                39.883293
                              ],
                              [
                                -75.091822,
                                39.882902
                              ],
                              [
                                -75.091752,
                                39.882788
                              ],
                              [
                                -75.091638,
                                39.882652
                              ],
                              [
                                -75.091309,
                                39.882231
                              ],
                              [
                                -75.090937,
                                39.881902
                              ],
                              [
                                -75.090728,
                                39.881812
                              ],
                              [
                                -75.090638,
                                39.881775
                              ],
                              [
                                -75.090488,
                                39.881752
                              ],
                              [
                                -75.089761,
                                39.881779
                              ],
                              [
                                -75.089638,
                                39.881749
                              ],
                              [
                                -75.089428,
                                39.881112
                              ],
                              [
                                -75.088708,
                                39.880972
                              ],
                              [
                                -75.088638,
                                39.880935
                              ],
                              [
                                -75.088605,
                                39.880935
                              ],
                              [
                                -75.088323,
                                39.880902
                              ],
                              [
                                -75.088514,
                                39.880777
                              ],
                              [
                                -75.088638,
                                39.880677
                              ],
                              [
                                -75.089114,
                                39.880378
                              ],
                              [
                                -75.089198,
                                39.880342
                              ],
                              [
                                -75.089638,
                                39.880126
                              ],
                              [
                                -75.089771,
                                39.880034
                              ],
                              [
                                -75.089888,
                                39.879902
                              ],
                              [
                                -75.090248,
                                39.879511
                              ],
                              [
                                -75.090638,
                                39.879139
                              ],
                              [
                                -75.090769,
                                39.879033
                              ],
                              [
                                -75.090858,
                                39.878902
                              ],
                              [
                                -75.091021,
                                39.878519
                              ],
                              [
                                -75.091067,
                                39.87833
                              ],
                              [
                                -75.091425,
                                39.877902
                              ],
                              [
                                -75.091577,
                                39.877841
                              ],
                              [
                                -75.091638,
                                39.877769
                              ],
                              [
                                -75.092135,
                                39.877405
                              ],
                              [
                                -75.092139,
                                39.877402
                              ],
                              [
                                -75.092638,
                                39.877111
                              ],
                              [
                                -75.092746,
                                39.877009
                              ],
                              [
                                -75.092856,
                                39.876902
                              ],
                              [
                                -75.093015,
                                39.876525
                              ],
                              [
                                -75.093029,
                                39.876292
                              ],
                              [
                                -75.093502,
                                39.876038
                              ],
                              [
                                -75.093638,
                                39.875935
                              ],
                              [
                                -75.094048,
                                39.876491
                              ],
                              [
                                -75.094358,
                                39.876902
                              ],
                              [
                                -75.094506,
                                39.877034
                              ],
                              [
                                -75.094638,
                                39.877117
                              ],
                              [
                                -75.094987,
                                39.87725
                              ],
                              [
                                -75.095226,
                                39.877314
                              ],
                              [
                                -75.095638,
                                39.877544
                              ],
                              [
                                -75.095986,
                                39.877554
                              ],
                              [
                                -75.096343,
                                39.877902
                              ],
                              [
                                -75.096535,
                                39.878004
                              ],
                              [
                                -75.096638,
                                39.878039
                              ],
                              [
                                -75.096708,
                                39.877971
                              ],
                              [
                                -75.096771,
                                39.877902
                              ],
                              [
                                -75.096876,
                                39.877664
                              ],
                              [
                                -75.096908,
                                39.877172
                              ],
                              [
                                -75.097518,
                                39.876902
                              ],
                              [
                                -75.097634,
                                39.876897
                              ],
                              [
                                -75.097638,
                                39.876898
                              ],
                              [
                                -75.097641,
                                39.876898
                              ],
                              [
                                -75.097711,
                                39.876902
                              ],
                              [
                                -75.098406,
                                39.877134
                              ],
                              [
                                -75.098638,
                                39.877176
                              ],
                              [
                                -75.098794,
                                39.877746
                              ],
                              [
                                -75.099513,
                                39.877776
                              ],
                              [
                                -75.099638,
                                39.877834
                              ],
                              [
                                -75.099681,
                                39.877858
                              ],
                              [
                                -75.099701,
                                39.877902
                              ],
                              [
                                -75.099927,
                                39.87819
                              ],
                              [
                                -75.100082,
                                39.878458
                              ],
                              [
                                -75.1002,
                                39.878464
                              ],
                              [
                                -75.100638,
                                39.878643
                              ],
                              [
                                -75.100901,
                                39.878639
                              ],
                              [
                                -75.101347,
                                39.878611
                              ],
                              [
                                -75.101638,
                                39.878606
                              ],
                              [
                                -75.101967,
                                39.878231
                              ],
                              [
                                -75.102071,
                                39.877902
                              ],
                              [
                                -75.102059,
                                39.87748
                              ],
                              [
                                -75.102047,
                                39.87731
                              ],
                              [
                                -75.102035,
                                39.876902
                              ],
                              [
                                -75.102035,
                                39.876505
                              ],
                              [
                                -75.102032,
                                39.876296
                              ],
                              [
                                -75.102033,
                                39.875902
                              ],
                              [
                                -75.101918,
                                39.875622
                              ],
                              [
                                -75.101638,
                                39.875431
                              ],
                              [
                                -75.101162,
                                39.875425
                              ],
                              [
                                -75.101114,
                                39.875425
                              ],
                              [
                                -75.100638,
                                39.875419
                              ],
                              [
                                -75.100144,
                                39.875395
                              ],
                              [
                                -75.100131,
                                39.875395
                              ],
                              [
                                -75.099638,
                                39.875371
                              ],
                              [
                                -75.099313,
                                39.875227
                              ],
                              [
                                -75.099126,
                                39.874902
                              ],
                              [
                                -75.098971,
                                39.874569
                              ],
                              [
                                -75.098638,
                                39.874389
                              ],
                              [
                                -75.098163,
                                39.874377
                              ],
                              [
                                -75.09811,
                                39.874373
                              ],
                              [
                                -75.097638,
                                39.87436
                              ],
                              [
                                -75.097182,
                                39.874357
                              ],
                              [
                                -75.097091,
                                39.874355
                              ],
                              [
                                -75.096638,
                                39.874351
                              ],
                              [
                                -75.096191,
                                39.874349
                              ],
                              [
                                -75.096084,
                                39.874347
                              ],
                              [
                                -75.095638,
                                39.874345
                              ],
                              [
                                -75.09515,
                                39.87439
                              ],
                              [
                                -75.095126,
                                39.874389
                              ],
                              [
                                -75.094638,
                                39.874447
                              ],
                              [
                                -75.094264,
                                39.874276
                              ],
                              [
                                -75.094181,
                                39.873902
                              ],
                              [
                                -75.094147,
                                39.873411
                              ],
                              [
                                -75.094638,
                                39.873356
                              ],
                              [
                                -75.095052,
                                39.873488
                              ],
                              [
                                -75.095221,
                                39.873485
                              ],
                              [
                                -75.095638,
                                39.873564
                              ],
                              [
                                -75.096014,
                                39.873526
                              ],
                              [
                                -75.096259,
                                39.873522
                              ],
                              [
                                -75.096638,
                                39.873476
                              ],
                              [
                                -75.09704,
                                39.8735
                              ],
                              [
                                -75.097231,
                                39.873495
                              ],
                              [
                                -75.097638,
                                39.873516
                              ],
                              [
                                -75.098051,
                                39.873488
                              ],
                              [
                                -75.098215,
                                39.873478
                              ],
                              [
                                -75.098638,
                                39.873449
                              ],
                              [
                                -75.099118,
                                39.873421
                              ],
                              [
                                -75.099157,
                                39.87342
                              ],
                              [
                                -75.099638,
                                39.87339
                              ],
                              [
                                -75.100026,
                                39.873513
                              ],
                              [
                                -75.100259,
                                39.873902
                              ],
                              [
                                -75.100393,
                                39.874147
                              ],
                              [
                                -75.100638,
                                39.874254
                              ],
                              [
                                -75.100959,
                                39.874223
                              ],
                              [
                                -75.101382,
                                39.874158
                              ],
                              [
                                -75.101638,
                                39.87413
                              ],
                              [
                                -75.10177,
                                39.874033
                              ],
                              [
                                -75.101825,
                                39.873902
                              ],
                              [
                                -75.101825,
                                39.873715
                              ],
                              [
                                -75.101811,
                                39.873074
                              ],
                              [
                                -75.101811,
                                39.872902
                              ],
                              [
                                -75.101757,
                                39.872783
                              ],
                              [
                                -75.101638,
                                39.872718
                              ],
                              [
                                -75.101144,
                                39.872408
                              ],
                              [
                                -75.101135,
                                39.872405
                              ],
                              [
                                -75.101134,
                                39.872398
                              ],
                              [
                                -75.100897,
                                39.871902
                              ],
                              [
                                -75.100895,
                                39.871644
                              ],
                              [
                                -75.100888,
                                39.871151
                              ],
                              [
                                -75.100887,
                                39.870902
                              ],
                              [
                                -75.100868,
                                39.870672
                              ],
                              [
                                -75.100748,
                                39.870011
                              ],
                              [
                                -75.100737,
                                39.869902
                              ],
                              [
                                -75.100737,
                                39.869803
                              ],
                              [
                                -75.100704,
                                39.868967
                              ],
                              [
                                -75.100703,
                                39.868902
                              ],
                              [
                                -75.100705,
                                39.868835
                              ],
                              [
                                -75.100708,
                                39.867972
                              ],
                              [
                                -75.10071,
                                39.867902
                              ],
                              [
                                -75.100706,
                                39.867834
                              ],
                              [
                                -75.100638,
                                39.867428
                              ],
                              [
                                -75.100332,
                                39.867596
                              ],
                              [
                                -75.100029,
                                39.867902
                              ],
                              [
                                -75.09997,
                                39.868233
                              ],
                              [
                                -75.099638,
                                39.868885
                              ],
                              [
                                -75.099631,
                                39.868894
                              ],
                              [
                                -75.09962,
                                39.868902
                              ],
                              [
                                -75.098904,
                                39.869168
                              ],
                              [
                                -75.098638,
                                39.869251
                              ],
                              [
                                -75.098326,
                                39.869213
                              ],
                              [
                                -75.097992,
                                39.868902
                              ],
                              [
                                -75.097797,
                                39.868743
                              ],
                              [
                                -75.097638,
                                39.868625
                              ],
                              [
                                -75.097325,
                                39.868215
                              ],
                              [
                                -75.096943,
                                39.868207
                              ],
                              [
                                -75.096638,
                                39.868093
                              ],
                              [
                                -75.096496,
                                39.868043
                              ],
                              [
                                -75.095694,
                                39.867902
                              ],
                              [
                                -75.095663,
                                39.867877
                              ],
                              [
                                -75.095638,
                                39.867869
                              ],
                              [
                                -75.095598,
                                39.867861
                              ],
                              [
                                -75.095369,
                                39.867902
                              ],
                              [
                                -75.094669,
                                39.867932
                              ],
                              [
                                -75.094638,
                                39.86795
                              ],
                              [
                                -75.094603,
                                39.867937
                              ],
                              [
                                -75.094518,
                                39.867902
                              ],
                              [
                                -75.094123,
                                39.867416
                              ],
                              [
                                -75.093638,
                                39.867125
                              ],
                              [
                                -75.093506,
                                39.867034
                              ],
                              [
                                -75.093375,
                                39.866902
                              ],
                              [
                                -75.092971,
                                39.866568
                              ],
                              [
                                -75.092638,
                                39.866368
                              ],
                              [
                                -75.09234,
                                39.8662
                              ],
                              [
                                -75.091688,
                                39.865902
                              ],
                              [
                                -75.092497,
                                39.865761
                              ],
                              [
                                -75.092638,
                                39.865798
                              ],
                              [
                                -75.092746,
                                39.865794
                              ],
                              [
                                -75.093459,
                                39.865723
                              ],
                              [
                                -75.093638,
                                39.865717
                              ],
                              [
                                -75.094031,
                                39.865509
                              ],
                              [
                                -75.094216,
                                39.865479
                              ],
                              [
                                -75.09426,
                                39.86528
                              ],
                              [
                                -75.094477,
                                39.864902
                              ],
                              [
                                -75.094487,
                                39.86475
                              ],
                              [
                                -75.094638,
                                39.863989
                              ],
                              [
                                -75.094686,
                                39.863949
                              ],
                              [
                                -75.094743,
                                39.863902
                              ],
                              [
                                -75.095567,
                                39.863831
                              ],
                              [
                                -75.095638,
                                39.863837
                              ],
                              [
                                -75.095701,
                                39.863838
                              ],
                              [
                                -75.096535,
                                39.863798
                              ],
                              [
                                -75.096638,
                                39.863801
                              ],
                              [
                                -75.096849,
                                39.863691
                              ],
                              [
                                -75.09738,
                                39.863643
                              ],
                              [
                                -75.097436,
                                39.863104
                              ],
                              [
                                -75.097543,
                                39.862902
                              ],
                              [
                                -75.097554,
                                39.862818
                              ],
                              [
                                -75.097638,
                                39.862598
                              ],
                              [
                                -75.098088,
                                39.862352
                              ],
                              [
                                -75.098409,
                                39.861902
                              ],
                              [
                                -75.098535,
                                39.861799
                              ],
                              [
                                -75.098588,
                                39.860952
                              ],
                              [
                                -75.098607,
                                39.860902
                              ],
                              [
                                -75.098588,
                                39.860851
                              ],
                              [
                                -75.098638,
                                39.860483
                              ],
                              [
                                -75.0987,
                                39.859963
                              ],
                              [
                                -75.098704,
                                39.859902
                              ],
                              [
                                -75.099197,
                                39.859461
                              ],
                              [
                                -75.099201,
                                39.859339
                              ],
                              [
                                -75.099357,
                                39.858902
                              ],
                              [
                                -75.099123,
                                39.858417
                              ],
                              [
                                -75.098638,
                                39.858168
                              ],
                              [
                                -75.098341,
                                39.858199
                              ],
                              [
                                -75.098052,
                                39.857902
                              ],
                              [
                                -75.098055,
                                39.857485
                              ],
                              [
                                -75.098055,
                                39.857318
                              ],
                              [
                                -75.098058,
                                39.856902
                              ],
                              [
                                -75.09827,
                                39.856534
                              ],
                              [
                                -75.098276,
                                39.856264
                              ],
                              [
                                -75.098376,
                                39.855902
                              ],
                              [
                                -75.098137,
                                39.855403
                              ],
                              [
                                -75.097638,
                                39.855145
                              ],
                              [
                                -75.09746,
                                39.85508
                              ],
                              [
                                -75.097096,
                                39.854902
                              ],
                              [
                                -75.0971,
                                39.85444
                              ],
                              [
                                -75.0971,
                                39.854363
                              ],
                              [
                                -75.097105,
                                39.853902
                              ],
                              [
                                -75.097302,
                                39.853565
                              ],
                              [
                                -75.097309,
                                39.85323
                              ],
                              [
                                -75.097401,
                                39.852902
                              ],
                              [
                                -75.097183,
                                39.852446
                              ],
                              [
                                -75.097186,
                                39.852354
                              ],
                              [
                                -75.097089,
                                39.852352
                              ],
                              [
                                -75.096638,
                                39.852119
                              ],
                              [
                                -75.096408,
                                39.852132
                              ],
                              [
                                -75.096149,
                                39.851902
                              ],
                              [
                                -75.096154,
                                39.851417
                              ],
                              [
                                -75.096154,
                                39.851385
                              ],
                              [
                                -75.096159,
                                39.850902
                              ],
                              [
                                -75.096338,
                                39.850601
                              ],
                              [
                                -75.096349,
                                39.850191
                              ],
                              [
                                -75.09643,
                                39.849902
                              ],
                              [
                                -75.096238,
                                39.849502
                              ],
                              [
                                -75.096245,
                                39.849295
                              ],
                              [
                                -75.096028,
                                39.849291
                              ],
                              [
                                -75.095638,
                                39.84909
                              ],
                              [
                                -75.095438,
                                39.849102
                              ],
                              [
                                -75.095211,
                                39.848902
                              ],
                              [
                                -75.095416,
                                39.84868
                              ],
                              [
                                -75.095426,
                                39.848114
                              ],
                              [
                                -75.095497,
                                39.847902
                              ],
                              [
                                -75.095479,
                                39.847742
                              ],
                              [
                                -75.095494,
                                39.847045
                              ],
                              [
                                -75.095472,
                                39.846902
                              ],
                              [
                                -75.09532,
                                39.846584
                              ],
                              [
                                -75.095336,
                                39.846203
                              ],
                              [
                                -75.09494,
                                39.846203
                              ],
                              [
                                -75.094638,
                                39.846049
                              ],
                              [
                                -75.09448,
                                39.84606
                              ],
                              [
                                -75.094298,
                                39.845902
                              ],
                              [
                                -75.094446,
                                39.84571
                              ],
                              [
                                -75.094465,
                                39.845075
                              ],
                              [
                                -75.09452,
                                39.844902
                              ],
                              [
                                -75.094512,
                                39.844775
                              ],
                              [
                                -75.094529,
                                39.84401
                              ],
                              [
                                -75.094521,
                                39.843902
                              ],
                              [
                                -75.094416,
                                39.843679
                              ],
                              [
                                -75.094445,
                                39.843095
                              ],
                              [
                                -75.093832,
                                39.843095
                              ],
                              [
                                -75.093638,
                                39.842996
                              ],
                              [
                                -75.093576,
                                39.842964
                              ],
                              [
                                -75.09354,
                                39.842902
                              ],
                              [
                                -75.093536,
                                39.842799
                              ],
                              [
                                -75.093558,
                                39.841981
                              ],
                              [
                                -75.093554,
                                39.841902
                              ],
                              [
                                -75.093551,
                                39.841814
                              ],
                              [
                                -75.093578,
                                39.840962
                              ],
                              [
                                -75.093575,
                                39.840902
                              ],
                              [
                                -75.093521,
                                39.840784
                              ],
                              [
                                -75.093577,
                                39.839962
                              ],
                              [
                                -75.092682,
                                39.839945
                              ],
                              [
                                -75.092638,
                                39.839922
                              ],
                              [
                                -75.092624,
                                39.839916
                              ],
                              [
                                -75.092615,
                                39.839902
                              ],
                              [
                                -75.092613,
                                39.839877
                              ],
                              [
                                -75.092638,
                                39.839146
                              ],
                              [
                                -75.092717,
                                39.839822
                              ],
                              [
                                -75.093531,
                                39.839795
                              ],
                              [
                                -75.093638,
                                39.839843
                              ],
                              [
                                -75.093659,
                                39.839881
                              ],
                              [
                                -75.093661,
                                39.839902
                              ],
                              [
                                -75.093671,
                                39.839935
                              ],
                              [
                                -75.093706,
                                39.840833
                              ],
                              [
                                -75.093759,
                                39.840902
                              ],
                              [
                                -75.093763,
                                39.841026
                              ],
                              [
                                -75.093807,
                                39.841732
                              ],
                              [
                                -75.093812,
                                39.841902
                              ],
                              [
                                -75.094036,
                                39.842299
                              ],
                              [
                                -75.094058,
                                39.842481
                              ],
                              [
                                -75.094218,
                                39.842481
                              ],
                              [
                                -75.094638,
                                39.842679
                              ],
                              [
                                -75.094699,
                                39.842841
                              ],
                              [
                                -75.094708,
                                39.842902
                              ],
                              [
                                -75.094708,
                                39.842972
                              ],
                              [
                                -75.094724,
                                39.843816
                              ],
                              [
                                -75.094724,
                                39.843902
                              ],
                              [
                                -75.09477,
                                39.844033
                              ],
                              [
                                -75.094789,
                                39.84475
                              ],
                              [
                                -75.094944,
                                39.844902
                              ],
                              [
                                -75.095191,
                                39.845349
                              ],
                              [
                                -75.095638,
                                39.845561
                              ],
                              [
                                -75.096071,
                                39.845335
                              ],
                              [
                                -75.096296,
                                39.844902
                              ],
                              [
                                -75.096498,
                                39.844762
                              ],
                              [
                                -75.096638,
                                39.84456
                              ],
                              [
                                -75.097086,
                                39.84435
                              ],
                              [
                                -75.097333,
                                39.843902
                              ],
                              [
                                -75.09734,
                                39.843603
                              ],
                              [
                                -75.097359,
                                39.843181
                              ],
                              [
                                -75.097365,
                                39.842902
                              ],
                              [
                                -75.097502,
                                39.842765
                              ],
                              [
                                -75.09752,
                                39.84202
                              ],
                              [
                                -75.09756,
                                39.841902
                              ],
                              [
                                -75.097552,
                                39.841815
                              ],
                              [
                                -75.097567,
                                39.840973
                              ],
                              [
                                -75.097558,
                                39.840902
                              ],
                              [
                                -75.097586,
                                39.840849
                              ],
                              [
                                -75.097638,
                                39.840836
                              ],
                              [
                                -75.097767,
                                39.840773
                              ],
                              [
                                -75.098516,
                                39.840779
                              ],
                              [
                                -75.098536,
                                39.840004
                              ],
                              [
                                -75.098589,
                                39.839902
                              ],
                              [
                                -75.098579,
                                39.839842
                              ],
                              [
                                -75.098598,
                                39.838942
                              ],
                              [
                                -75.098587,
                                39.838902
                              ],
                              [
                                -75.0986,
                                39.838864
                              ],
                              [
                                -75.098638,
                                39.838842
                              ],
                              [
                                -75.09875,
                                39.83879
                              ],
                              [
                                -75.099579,
                                39.838842
                              ],
                              [
                                -75.099579,
                                39.837961
                              ],
                              [
                                -75.099609,
                                39.837902
                              ],
                              [
                                -75.099607,
                                39.837871
                              ],
                              [
                                -75.099638,
                                39.83719
                              ],
                              [
                                -75.099677,
                                39.837863
                              ],
                              [
                                -75.099658,
                                39.837902
                              ],
                              [
                                -75.099659,
                                39.837923
                              ],
                              [
                                -75.099659,
                                39.83888
                              ],
                              [
                                -75.09966,
                                39.838902
                              ],
                              [
                                -75.099653,
                                39.838917
                              ],
                              [
                                -75.099638,
                                39.838924
                              ],
                              [
                                -75.09959,
                                39.83895
                              ],
                              [
                                -75.09873,
                                39.838994
                              ],
                              [
                                -75.098766,
                                39.839773
                              ],
                              [
                                -75.098707,
                                39.839902
                              ],
                              [
                                -75.098704,
                                39.839968
                              ],
                              [
                                -75.098719,
                                39.840821
                              ],
                              [
                                -75.098716,
                                39.840902
                              ],
                              [
                                -75.098687,
                                39.84095
                              ],
                              [
                                -75.098638,
                                39.840972
                              ],
                              [
                                -75.098492,
                                39.841047
                              ],
                              [
                                -75.097791,
                                39.841054
                              ],
                              [
                                -75.097816,
                                39.841723
                              ],
                              [
                                -75.097731,
                                39.841902
                              ],
                              [
                                -75.09773,
                                39.841993
                              ],
                              [
                                -75.097744,
                                39.842795
                              ],
                              [
                                -75.097743,
                                39.842902
                              ],
                              [
                                -75.097741,
                                39.843004
                              ],
                              [
                                -75.097754,
                                39.843785
                              ],
                              [
                                -75.097752,
                                39.843902
                              ],
                              [
                                -75.097753,
                                39.844016
                              ],
                              [
                                -75.097765,
                                39.844775
                              ],
                              [
                                -75.097765,
                                39.844902
                              ],
                              [
                                -75.097744,
                                39.845008
                              ],
                              [
                                -75.097638,
                                39.845236
                              ],
                              [
                                -75.097204,
                                39.845467
                              ],
                              [
                                -75.097006,
                                39.845902
                              ],
                              [
                                -75.096833,
                                39.846096
                              ],
                              [
                                -75.096845,
                                39.846694
                              ],
                              [
                                -75.096781,
                                39.846902
                              ],
                              [
                                -75.09685,
                                39.847113
                              ],
                              [
                                -75.096861,
                                39.847679
                              ],
                              [
                                -75.097054,
                                39.847902
                              ],
                              [
                                -75.097062,
                                39.848325
                              ],
                              [
                                -75.097067,
                                39.848473
                              ],
                              [
                                -75.097075,
                                39.848902
                              ],
                              [
                                -75.097083,
                                39.849347
                              ],
                              [
                                -75.097087,
                                39.849453
                              ],
                              [
                                -75.097095,
                                39.849902
                              ],
                              [
                                -75.097105,
                                39.850368
                              ],
                              [
                                -75.097108,
                                39.850432
                              ],
                              [
                                -75.097117,
                                39.850902
                              ],
                              [
                                -75.097298,
                                39.851242
                              ],
                              [
                                -75.097638,
                                39.851402
                              ],
                              [
                                -75.097971,
                                39.851569
                              ],
                              [
                                -75.098138,
                                39.851902
                              ],
                              [
                                -75.098147,
                                39.852393
                              ],
                              [
                                -75.098147,
                                39.85241
                              ],
                              [
                                -75.098155,
                                39.852902
                              ],
                              [
                                -75.098164,
                                39.853376
                              ],
                              [
                                -75.098164,
                                39.853427
                              ],
                              [
                                -75.098172,
                                39.853902
                              ],
                              [
                                -75.098333,
                                39.854207
                              ],
                              [
                                -75.098638,
                                39.854352
                              ],
                              [
                                -75.098799,
                                39.854741
                              ],
                              [
                                -75.098827,
                                39.854902
                              ],
                              [
                                -75.098923,
                                39.855186
                              ],
                              [
                                -75.098931,
                                39.855608
                              ],
                              [
                                -75.099205,
                                39.855902
                              ],
                              [
                                -75.099212,
                                39.856328
                              ],
                              [
                                -75.099212,
                                39.856475
                              ],
                              [
                                -75.099218,
                                39.856902
                              ],
                              [
                                -75.099362,
                                39.857177
                              ],
                              [
                                -75.099638,
                                39.857309
                              ],
                              [
                                -75.100033,
                                39.857507
                              ],
                              [
                                -75.100231,
                                39.857902
                              ],
                              [
                                -75.100237,
                                39.858303
                              ],
                              [
                                -75.100237,
                                39.8585
                              ],
                              [
                                -75.100242,
                                39.858902
                              ],
                              [
                                -75.100069,
                                39.859332
                              ],
                              [
                                -75.100072,
                                39.859467
                              ],
                              [
                                -75.099979,
                                39.859902
                              ],
                              [
                                -75.100202,
                                39.860338
                              ],
                              [
                                -75.100638,
                                39.860551
                              ],
                              [
                                -75.10097,
                                39.86057
                              ],
                              [
                                -75.101267,
                                39.860902
                              ],
                              [
                                -75.101272,
                                39.861268
                              ],
                              [
                                -75.101272,
                                39.861535
                              ],
                              [
                                -75.101276,
                                39.861902
                              ],
                              [
                                -75.101398,
                                39.862142
                              ],
                              [
                                -75.101638,
                                39.862269
                              ],
                              [
                                -75.102016,
                                39.862279
                              ],
                              [
                                -75.10226,
                                39.862279
                              ],
                              [
                                -75.102638,
                                39.86229
                              ],
                              [
                                -75.103037,
                                39.8623
                              ],
                              [
                                -75.10324,
                                39.8623
                              ],
                              [
                                -75.103638,
                                39.862311
                              ],
                              [
                                -75.104032,
                                39.862508
                              ],
                              [
                                -75.104229,
                                39.862902
                              ],
                              [
                                -75.104282,
                                39.863258
                              ],
                              [
                                -75.104635,
                                39.863899
                              ],
                              [
                                -75.104636,
                                39.863902
                              ],
                              [
                                -75.104637,
                                39.863903
                              ],
                              [
                                -75.104638,
                                39.863904
                              ],
                              [
                                -75.10464,
                                39.863903
                              ],
                              [
                                -75.104642,
                                39.863902
                              ],
                              [
                                -75.105324,
                                39.863587
                              ],
                              [
                                -75.105638,
                                39.863528
                              ],
                              [
                                -75.106012,
                                39.863528
                              ],
                              [
                                -75.106265,
                                39.863528
                              ],
                              [
                                -75.106638,
                                39.863528
                              ],
                              [
                                -75.10711,
                                39.863373
                              ],
                              [
                                -75.10746,
                                39.862902
                              ],
                              [
                                -75.10752,
                                39.862783
                              ],
                              [
                                -75.107638,
                                39.862724
                              ],
                              [
                                -75.107822,
                                39.862718
                              ],
                              [
                                -75.108418,
                                39.862682
                              ],
                              [
                                -75.108638,
                                39.862675
                              ],
                              [
                                -75.108854,
                                39.862686
                              ],
                              [
                                -75.109491,
                                39.862755
                              ],
                              [
                                -75.109638,
                                39.862763
                              ],
                              [
                                -75.109767,
                                39.862773
                              ],
                              [
                                -75.110531,
                                39.862902
                              ],
                              [
                                -75.110613,
                                39.862927
                              ],
                              [
                                -75.110638,
                                39.862931
                              ],
                              [
                                -75.110659,
                                39.862923
                              ],
                              [
                                -75.110671,
                                39.862902
                              ],
                              [
                                -75.111334,
                                39.862598
                              ],
                              [
                                -75.111638,
                                39.862541
                              ],
                              [
                                -75.111935,
                                39.862605
                              ],
                              [
                                -75.112352,
                                39.862616
                              ],
                              [
                                -75.112638,
                                39.862661
                              ],
                              [
                                -75.113093,
                                39.862447
                              ],
                              [
                                -75.113187,
                                39.862451
                              ],
                              [
                                -75.113191,
                                39.862349
                              ],
                              [
                                -75.113426,
                                39.861902
                              ],
                              [
                                -75.113461,
                                39.861724
                              ],
                              [
                                -75.113638,
                                39.861597
                              ],
                              [
                                -75.113939,
                                39.8616
                              ],
                              [
                                -75.114346,
                                39.861609
                              ],
                              [
                                -75.114638,
                                39.861613
                              ],
                              [
                                -75.115129,
                                39.861393
                              ],
                              [
                                -75.115404,
                                39.860902
                              ],
                              [
                                -75.115482,
                                39.860745
                              ],
                              [
                                -75.115638,
                                39.860667
                              ],
                              [
                                -75.115871,
                                39.860669
                              ],
                              [
                                -75.116412,
                                39.860675
                              ],
                              [
                                -75.116638,
                                39.860676
                              ],
                              [
                                -75.116834,
                                39.860705
                              ],
                              [
                                -75.117462,
                                39.860726
                              ],
                              [
                                -75.117638,
                                39.860747
                              ],
                              [
                                -75.117922,
                                39.860618
                              ],
                              [
                                -75.118381,
                                39.860644
                              ],
                              [
                                -75.118414,
                                39.860126
                              ],
                              [
                                -75.118537,
                                39.859902
                              ],
                              [
                                -75.118581,
                                39.859844
                              ],
                              [
                                -75.118638,
                                39.85982
                              ],
                              [
                                -75.118711,
                                39.859828
                              ],
                              [
                                -75.119571,
                                39.859835
                              ],
                              [
                                -75.119638,
                                39.859841
                              ],
                              [
                                -75.119714,
                                39.859826
                              ],
                              [
                                -75.120586,
                                39.859849
                              ],
                              [
                                -75.120638,
                                39.85983
                              ],
                              [
                                -75.120711,
                                39.859828
                              ],
                              [
                                -75.121601,
                                39.859864
                              ],
                              [
                                -75.121638,
                                39.859863
                              ],
                              [
                                -75.121705,
                                39.859835
                              ],
                              [
                                -75.122282,
                                39.859902
                              ],
                              [
                                -75.121675,
                                39.859938
                              ],
                              [
                                -75.121638,
                                39.859937
                              ],
                              [
                                -75.121605,
                                39.859935
                              ],
                              [
                                -75.120703,
                                39.859967
                              ],
                              [
                                -75.120638,
                                39.859963
                              ],
                              [
                                -75.120579,
                                39.85996
                              ],
                              [
                                -75.119723,
                                39.859986
                              ],
                              [
                                -75.119638,
                                39.859983
                              ],
                              [
                                -75.119468,
                                39.860072
                              ],
                              [
                                -75.118821,
                                39.860084
                              ],
                              [
                                -75.118853,
                                39.860686
                              ],
                              [
                                -75.118752,
                                39.860902
                              ],
                              [
                                -75.118703,
                                39.860966
                              ],
                              [
                                -75.118638,
                                39.860995
                              ],
                              [
                                -75.118556,
                                39.860984
                              ],
                              [
                                -75.117736,
                                39.861
                              ],
                              [
                                -75.117638,
                                39.860989
                              ],
                              [
                                -75.117515,
                                39.861024
                              ],
                              [
                                -75.116778,
                                39.861041
                              ],
                              [
                                -75.116638,
                                39.861127
                              ],
                              [
                                -75.116156,
                                39.861383
                              ],
                              [
                                -75.116121,
                                39.861384
                              ],
                              [
                                -75.116123,
                                39.861416
                              ],
                              [
                                -75.115903,
                                39.861902
                              ],
                              [
                                -75.115814,
                                39.862078
                              ],
                              [
                                -75.115638,
                                39.862166
                              ],
                              [
                                -75.115369,
                                39.862171
                              ],
                              [
[...]
