{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Map Matching API",
    "version": "1.0.0",
    "description": "Snap ordered GPS measurements to a route on the routable road network."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Map Matching"
    }
  ],
  "paths": {
    "/mapmatching": {
      "post": {
        "tags": [
          "Map Matching"
        ],
        "operationId": "matchGpsTrace",
        "summary": "Match a GPS trace to the road network",
        "description": "Snaps an ordered GPS trace to a plausible route on the routable road network.\n\n- Send `mode` and 1–1,000 `waypoints` in a JSON body.\n- Each waypoint `location` uses GeoJSON coordinate order: `[longitude, latitude]`.\n- Optional timestamps help calculate effective speed and reject implausible measurements.\n- Optional bearings describe recorded travel direction in degrees clockwise from north.\n- Waypoint order is preserved; points may be matched, unmatched, interpolated, or merged.\n- The response is a GeoJSON `FeatureCollection` with `MultiLineString` route geometry, matched waypoint metadata, legs, and road-level steps.\n\n**Example:** a 35-point timestamped GPS trace matched with `mode=drive`.",
        "requestBody": {
          "required": true,
          "description": "GPS trace and matching options. The request body must be JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapMatchingRequest"
              },
              "example": {
                "mode": "drive",
                "waypoints": [
                  {
                    "timestamp": "2019-11-04T07:09:34.000Z",
                    "location": [
                      10.694703,
                      47.567028
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:09:45.000Z",
                    "location": [
                      10.6950319,
                      47.567783
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:09:57.000Z",
                    "location": [
                      10.6952599,
                      47.5682759
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:07.000Z",
                    "location": [
                      10.6965304,
                      47.5687653
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:17.000Z",
                    "location": [
                      10.6975647,
                      47.5691475
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:28.000Z",
                    "location": [
                      10.6984645,
                      47.5689924
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:38.000Z",
                    "location": [
                      10.6993804,
                      47.5695884
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:49.000Z",
                    "location": [
                      10.7004255,
                      47.5696526
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:10:59.000Z",
                    "location": [
                      10.7017509,
                      47.5691545
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:11:34.000Z",
                    "location": [
                      10.7028073,
                      47.5688025
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:11:45.000Z",
                    "location": [
                      10.7039882,
                      47.5684956
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:11:55.000Z",
                    "location": [
                      10.7059951,
                      47.5678558
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:05.000Z",
                    "location": [
                      10.7085059,
                      47.5668116
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:16.000Z",
                    "location": [
                      10.7106272,
                      47.5658437
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:26.000Z",
                    "location": [
                      10.7130338,
                      47.5651228
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:37.000Z",
                    "location": [
                      10.7154089,
                      47.5652946
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:47.000Z",
                    "location": [
                      10.7175699,
                      47.5655232
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:12:58.000Z",
                    "location": [
                      10.7203314,
                      47.5657987
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:13:09.000Z",
                    "location": [
                      10.7229241,
                      47.5660543
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:13:20.000Z",
                    "location": [
                      10.7252423,
                      47.5656265
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:13:30.000Z",
                    "location": [
                      10.7269064,
                      47.5647174
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:13:41.000Z",
                    "location": [
                      10.7275872,
                      47.5632757
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:13:51.000Z",
                    "location": [
                      10.7290924,
                      47.5617733
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:02.000Z",
                    "location": [
                      10.7312696,
                      47.560384
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:13.000Z",
                    "location": [
                      10.7330629,
                      47.5588335
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:23.000Z",
                    "location": [
                      10.7348687,
                      47.5579939
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:33.000Z",
                    "location": [
                      10.736509,
                      47.5568371
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:44.000Z",
                    "location": [
                      10.7384167,
                      47.5569489
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:14:55.000Z",
                    "location": [
                      10.740077,
                      47.556789
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:15:21.000Z",
                    "location": [
                      10.7405779,
                      47.5566208
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:15:32.000Z",
                    "location": [
                      10.7407534,
                      47.5562106
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:15:43.000Z",
                    "location": [
                      10.7399772,
                      47.555543
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:16:00.000Z",
                    "location": [
                      10.7395943,
                      47.5552649
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:16:11.000Z",
                    "location": [
                      10.7387026,
                      47.554868
                    ]
                  },
                  {
                    "timestamp": "2019-11-04T07:16:23.000Z",
                    "location": [
                      10.7378114,
                      47.554748
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matched GeoJSON route. The feature contains snapped route geometry, total distance and time, road-level steps, and one match record for each input waypoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapMatchingFeatureCollection"
                },
                "example": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "type": "Feature",
                      "properties": {
                        "distance": 4611,
                        "time": 326,
                        "legs": [
                          {
                            "time": 326,
                            "distance": 4611,
                            "steps": [
                              {
                                "osm_way_id": 150185120,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 0,
                                "to_index": 2,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 31,
                                "begin_bearing": 17,
                                "end_bearing": 16
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 2,
                                "to_index": 3,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 24,
                                "begin_bearing": 14,
                                "end_bearing": 14
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 3,
                                "to_index": 4,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 15,
                                "begin_bearing": 17,
                                "end_bearing": 17
                              },
                              {
                                "osm_way_id": 150185120,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 4,
                                "to_index": 6,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 13,
                                "begin_bearing": 18,
                                "end_bearing": 18
                              },
                              {
                                "osm_way_id": 498012707,
                                "speed": 40,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "unclassified",
                                "from_index": 6,
                                "to_index": 7,
                                "name": "Morisse",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 4,
                                "begin_bearing": 19,
                                "end_bearing": 19
                              },
                              {
                                "osm_way_id": 624169049,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 7,
                                "to_index": 14,
                                "name": "Kemptener Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": true,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 13,
                                "begin_bearing": 65,
                                "end_bearing": 65
                              },
                              {
                                "osm_way_id": 624169049,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 14,
                                "to_index": 19,
                                "name": "Kemptener Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": true,
                                "traversability": "forward",
                                "time": 2,
                                "distance": 12,
                                "begin_bearing": 4,
                                "end_bearing": 4
                              },
                              {
                                "osm_way_id": 624169049,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 19,
                                "to_index": 20,
                                "name": "Kemptener Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": true,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 2,
                                "begin_bearing": 329,
                                "end_bearing": 329
                              },
                              {
                                "osm_way_id": 26304356,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 20,
                                "to_index": 22,
                                "name": "Glückstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 12,
                                "begin_bearing": 357,
                                "end_bearing": 357
                              },
                              {
                                "osm_way_id": 26304356,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 22,
                                "to_index": 23,
                                "name": "Glückstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 7,
                                "begin_bearing": 5,
                                "end_bearing": 5
                              },
                              {
                                "osm_way_id": 549408766,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 23,
                                "to_index": 24,
                                "name": "Glückstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 18,
                                "begin_bearing": 23,
                                "end_bearing": 23
                              },
                              {
                                "osm_way_id": 31766319,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 24,
                                "to_index": 27,
                                "name": "Glückstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 32,
                                "begin_bearing": 49,
                                "end_bearing": 64
                              },
                              {
                                "osm_way_id": 25735341,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 27,
                                "to_index": 32,
                                "name": "Ottostraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 11,
                                "distance": 156,
                                "begin_bearing": 72,
                                "end_bearing": 50
                              },
                              {
                                "osm_way_id": 202420492,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 32,
                                "to_index": 39,
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": true,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 12,
                                "begin_bearing": 93,
                                "end_bearing": 93
                              },
                              {
                                "osm_way_id": 31810941,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 39,
                                "to_index": 40,
                                "name": "Von-Freyberg-Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 2,
                                "distance": 18,
                                "begin_bearing": 103,
                                "end_bearing": 103
                              },
                              {
                                "osm_way_id": 11493930,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 40,
                                "to_index": 44,
                                "name": "Von-Freyberg-Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 43,
                                "begin_bearing": 106,
                                "end_bearing": 96
                              },
                              {
                                "osm_way_id": 11493930,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 44,
                                "to_index": 45,
                                "name": "Von-Freyberg-Straße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 6,
                                "begin_bearing": 83,
                                "end_bearing": 83
                              },
                              {
                                "osm_way_id": 150185140,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 45,
                                "to_index": 47,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 8,
                                "begin_bearing": 63,
                                "end_bearing": 63
                              },
                              {
                                "osm_way_id": 150185140,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 47,
                                "to_index": 48,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 7,
                                "begin_bearing": 62,
                                "end_bearing": 62
                              },
                              {
                                "osm_way_id": 218654242,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 48,
                                "to_index": 51,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 38,
                                "begin_bearing": 47,
                                "end_bearing": 49
                              },
                              {
                                "osm_way_id": 218654242,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 51,
                                "to_index": 53,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 28,
                                "begin_bearing": 48,
                                "end_bearing": 48
                              },
                              {
                                "osm_way_id": 218654242,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 53,
                                "to_index": 55,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 13,
                                "begin_bearing": 49,
                                "end_bearing": 49
                              },
                              {
                                "osm_way_id": 218654242,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 55,
                                "to_index": 56,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 4,
                                "begin_bearing": 46,
                                "end_bearing": 46
                              },
                              {
                                "osm_way_id": 218791919,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 56,
                                "to_index": 58,
                                "name": "Luitpoldstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 12,
                                "begin_bearing": 73,
                                "end_bearing": 73
                              },
                              {
                                "osm_way_id": 956114564,
                                "speed": 30,
                                "speed_limit": 30,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 58,
                                "to_index": 62,
                                "name": "Prinzregentenplatz",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": true,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 10,
                                "begin_bearing": 63,
                                "end_bearing": 63
                              },
                              {
                                "osm_way_id": 218791920,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 62,
                                "to_index": 63,
                                "name": "Prinzregentenplatz",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 19,
                                "begin_bearing": 79,
                                "end_bearing": 79
                              },
                              {
                                "osm_way_id": 275267329,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "secondary",
                                "from_index": 63,
                                "to_index": 67,
                                "name": "Prinzregentenplatz",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 43,
                                "begin_bearing": 102,
                                "end_bearing": 93
                              },
                              {
                                "osm_way_id": 909779028,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 67,
                                "to_index": 69,
                                "name": "Kaiser-Maximilian-Platz, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 71,
                                "begin_bearing": 112,
                                "end_bearing": 114
                              },
                              {
                                "osm_way_id": 1056559837,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 69,
                                "to_index": 71,
                                "name": "Kaiser-Maximilian-Platz, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 18,
                                "begin_bearing": 125,
                                "end_bearing": 125
                              },
                              {
                                "osm_way_id": 1056842986,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 71,
                                "to_index": 72,
                                "name": "Kaiser-Maximilian-Platz, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 20,
                                "begin_bearing": 136,
                                "end_bearing": 136
                              },
                              {
                                "osm_way_id": 275267331,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 72,
                                "to_index": 76,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 35,
                                "begin_bearing": 128,
                                "end_bearing": 120
                              },
                              {
                                "osm_way_id": 75989309,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "primary",
                                "from_index": 76,
                                "to_index": 77,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 27,
                                "begin_bearing": 110,
                                "end_bearing": 110
                              },
                              {
                                "osm_way_id": 75989309,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "primary",
                                "from_index": 77,
                                "to_index": 79,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 49,
                                "begin_bearing": 111,
                                "end_bearing": 111
                              },
                              {
                                "osm_way_id": 28972330,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "primary",
                                "from_index": 79,
                                "to_index": 80,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 23,
                                "begin_bearing": 110,
                                "end_bearing": 110
                              },
                              {
                                "osm_way_id": 28972330,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "primary",
                                "from_index": 80,
                                "to_index": 83,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 26,
                                "begin_bearing": 110,
                                "end_bearing": 110
                              },
                              {
                                "osm_way_id": 1239617506,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 83,
                                "to_index": 84,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 14,
                                "begin_bearing": 112,
                                "end_bearing": 112
                              },
                              {
                                "osm_way_id": 369571911,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 84,
                                "to_index": 89,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 63,
                                "begin_bearing": 115,
                                "end_bearing": 114
                              },
                              {
                                "osm_way_id": 29593711,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 89,
                                "to_index": 90,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 25,
                                "begin_bearing": 116,
                                "end_bearing": 116
                              },
                              {
                                "osm_way_id": 34603701,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 90,
                                "to_index": 94,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 8,
                                "distance": 231,
                                "begin_bearing": 116,
                                "end_bearing": 122
                              },
                              {
                                "osm_way_id": 909779029,
                                "speed": 70,
                                "speed_limit": 80,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 94,
                                "to_index": 97,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 27,
                                "begin_bearing": 122,
                                "end_bearing": 122
                              },
                              {
                                "osm_way_id": 909779029,
                                "speed": 70,
                                "speed_limit": 80,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 97,
                                "to_index": 99,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 71,
                                "begin_bearing": 123,
                                "end_bearing": 123
                              },
                              {
                                "osm_way_id": 456761092,
                                "speed": 70,
                                "speed_limit": 80,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 99,
                                "to_index": 100,
                                "name": "Sebastianstraße, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 19,
                                "begin_bearing": 123,
                                "end_bearing": 123
                              },
                              {
                                "osm_way_id": 15701443,
                                "speed": 70,
                                "speed_limit": 80,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 100,
                                "to_index": 101,
                                "name": "König-Ludwig-Brücke, B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": true,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 7,
                                "distance": 141,
                                "begin_bearing": 124,
                                "end_bearing": 124
                              },
                              {
                                "osm_way_id": 369566532,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 101,
                                "to_index": 102,
                                "name": "B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 18,
                                "begin_bearing": 123,
                                "end_bearing": 123
                              },
                              {
                                "osm_way_id": 202389980,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "primary",
                                "from_index": 102,
                                "to_index": 104,
                                "name": "B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 11,
                                "begin_bearing": 123,
                                "end_bearing": 123
                              },
                              {
                                "osm_way_id": 202529075,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 104,
                                "to_index": 105,
                                "name": "B 16",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 30,
                                "begin_bearing": 121,
                                "end_bearing": 121
                              },
                              {
                                "osm_way_id": 25927077,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 105,
                                "to_index": 106,
                                "name": "Füssener Straße, B 17",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 38,
                                "begin_bearing": 120,
                                "end_bearing": 120
                              },
                              {
                                "osm_way_id": 4471681,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 106,
                                "to_index": 107,
                                "name": "Füssener Straße, B 17",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 26,
                                "begin_bearing": 116,
                                "end_bearing": 116
                              },
                              {
                                "osm_way_id": 369566533,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 107,
                                "to_index": 111,
                                "name": "Füssener Straße, B 17",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 68,
                                "begin_bearing": 113,
                                "end_bearing": 104
                              },
                              {
                                "osm_way_id": 369566533,
                                "speed": 70,
                                "speed_limit": 70,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "primary",
                                "from_index": 111,
                                "to_index": 129,
                                "name": "Füssener Straße, B 17",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 12,
                                "distance": 233,
                                "begin_bearing": 101,
                                "end_bearing": 67
                              },
                              {
                                "osm_way_id": 35107900,
                                "speed": 125,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "secondary",
                                "from_index": 129,
                                "to_index": 132,
                                "name": "Parkstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 30,
                                "begin_bearing": 99,
                                "end_bearing": 97
                              },
                              {
                                "osm_way_id": 35107900,
                                "speed": 125,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 2,
                                "road_class": "secondary",
                                "from_index": 132,
                                "to_index": 133,
                                "name": "Parkstraße",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "forward",
                                "time": 1,
                                "distance": 20,
                                "begin_bearing": 81,
                                "end_bearing": 81
                              },
                              {
                                "osm_way_id": 655325762,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 133,
                                "to_index": 136,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 7,
                                "distance": 183,
                                "begin_bearing": 82,
                                "end_bearing": 81
                              },
                              {
                                "osm_way_id": 655325762,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 136,
                                "to_index": 140,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 12,
                                "distance": 325,
                                "begin_bearing": 82,
                                "end_bearing": 81
                              },
                              {
                                "osm_way_id": 965949833,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 140,
                                "to_index": 141,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 19,
                                "begin_bearing": 82,
                                "end_bearing": 82
                              },
                              {
                                "osm_way_id": 965949833,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 141,
                                "to_index": 142,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 13,
                                "begin_bearing": 90,
                                "end_bearing": 90
                              },
                              {
                                "osm_way_id": 24970422,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 142,
                                "to_index": 144,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 20,
                                "begin_bearing": 98,
                                "end_bearing": 98
                              },
                              {
                                "osm_way_id": 24970422,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 144,
                                "to_index": 145,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 3,
                                "begin_bearing": 107,
                                "end_bearing": 107
                              },
                              {
                                "osm_way_id": 24970422,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 145,
                                "to_index": 158,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 20,
                                "distance": 275,
                                "begin_bearing": 113,
                                "end_bearing": 144
                              },
                              {
                                "osm_way_id": 24970422,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 158,
                                "to_index": 166,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 10,
                                "distance": 139,
                                "begin_bearing": 142,
                                "end_bearing": 176
                              },
                              {
                                "osm_way_id": 956594076,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 166,
                                "to_index": 171,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 67,
                                "begin_bearing": 173,
                                "end_bearing": 159
                              },
                              {
                                "osm_way_id": 956594075,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 171,
                                "to_index": 175,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 58,
                                "begin_bearing": 151,
                                "end_bearing": 148
                              },
                              {
                                "osm_way_id": 910958697,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 175,
                                "to_index": 177,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 4,
                                "distance": 115,
                                "begin_bearing": 144,
                                "end_bearing": 138
                              },
                              {
                                "osm_way_id": 910958697,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 177,
                                "to_index": 179,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 8,
                                "distance": 219,
                                "begin_bearing": 134,
                                "end_bearing": 134
                              },
                              {
                                "osm_way_id": 655325763,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 179,
                                "to_index": 205,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 22,
                                "distance": 598,
                                "begin_bearing": 134,
                                "end_bearing": 107
                              },
                              {
                                "osm_way_id": 655325763,
                                "speed": 100,
                                "speed_limit": 100,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 205,
                                "to_index": 209,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 77,
                                "begin_bearing": 81,
                                "end_bearing": 75
                              },
                              {
                                "osm_way_id": 655325764,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 209,
                                "to_index": 214,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 6,
                                "distance": 83,
                                "begin_bearing": 85,
                                "end_bearing": 96
                              },
                              {
                                "osm_way_id": 655325764,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 214,
                                "to_index": 216,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 6,
                                "distance": 82,
                                "begin_bearing": 97,
                                "end_bearing": 106
                              },
                              {
                                "osm_way_id": 28972323,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 216,
                                "to_index": 217,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 12,
                                "begin_bearing": 106,
                                "end_bearing": 106
                              },
                              {
                                "osm_way_id": 12152482,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 217,
                                "to_index": 218,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 32,
                                "begin_bearing": 111,
                                "end_bearing": 111
                              },
                              {
                                "osm_way_id": 233862494,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 218,
                                "to_index": 220,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 15,
                                "begin_bearing": 128,
                                "end_bearing": 128
                              },
                              {
                                "osm_way_id": 573659103,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "secondary",
                                "from_index": 220,
                                "to_index": 221,
                                "name": "Parkstraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 29,
                                "begin_bearing": 141,
                                "end_bearing": 141
                              },
                              {
                                "osm_way_id": 38624253,
                                "speed": 50,
                                "speed_limit": 50,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 221,
                                "to_index": 222,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 8,
                                "begin_bearing": 183,
                                "end_bearing": 183
                              },
                              {
                                "osm_way_id": 379095030,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 222,
                                "to_index": 224,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 14,
                                "begin_bearing": 192,
                                "end_bearing": 192
                              },
                              {
                                "osm_way_id": 379095030,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 224,
                                "to_index": 226,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 6,
                                "distance": 27,
                                "begin_bearing": 209,
                                "end_bearing": 211
                              },
                              {
                                "osm_way_id": 379095030,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 226,
                                "to_index": 227,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 6,
                                "distance": 24,
                                "begin_bearing": 222,
                                "end_bearing": 222
                              },
                              {
                                "osm_way_id": 379095030,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 227,
                                "to_index": 228,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 9,
                                "distance": 38,
                                "begin_bearing": 224,
                                "end_bearing": 224
                              },
                              {
                                "osm_way_id": 379095030,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 228,
                                "to_index": 233,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 20,
                                "distance": 83,
                                "begin_bearing": 217,
                                "end_bearing": 226
                              },
                              {
                                "osm_way_id": 769462547,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 233,
                                "to_index": 234,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 1,
                                "distance": 6,
                                "begin_bearing": 235,
                                "end_bearing": 235
                              },
                              {
                                "osm_way_id": 769462547,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 234,
                                "to_index": 235,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 2,
                                "distance": 9,
                                "begin_bearing": 242,
                                "end_bearing": 242
                              },
                              {
                                "osm_way_id": 769462547,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 235,
                                "to_index": 240,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 12,
                                "distance": 49,
                                "begin_bearing": 246,
                                "end_bearing": 250
                              },
                              {
                                "osm_way_id": 769462551,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 240,
                                "to_index": 243,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 6,
                                "distance": 24,
                                "begin_bearing": 261,
                                "end_bearing": 262
                              },
                              {
                                "osm_way_id": 769462551,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 243,
                                "to_index": 244,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 3,
                                "distance": 12,
                                "begin_bearing": 265,
                                "end_bearing": 265
                              },
                              {
                                "osm_way_id": 769462553,
                                "speed": 15,
                                "speed_limit": 15,
                                "surface": "paved_smooth",
                                "lane_count": 1,
                                "road_class": "tertiary",
                                "from_index": 244,
                                "to_index": 246,
                                "name": "Alpseestraße, St 2008",
                                "toll": false,
                                "tunnel": false,
                                "bridge": false,
                                "roundabout": false,
                                "traversability": "both",
                                "time": 5,
                                "distance": 19,
                                "begin_bearing": 261,
                                "end_bearing": 261
                              }
                            ]
                          }
                        ],
                        "mode": "drive",
                        "waypoints": [
                          {
                            "original_index": 0,
                            "location": [
                              10.694689,
                              47.56703
                            ],
                            "original_location": [
                              10.694703,
                              47.567028
                            ],
                            "match_type": "matched",
                            "match_distance": 1.022797,
                            "leg_index": 0,
                            "step_index": 0
                          },
                          {
                            "original_index": 1,
                            "location": [
                              10.695032,
                              47.567789
                            ],
                            "original_location": [
                              10.6950319,
                              47.567783
                            ],
                            "match_type": "matched",
                            "match_distance": 0.71318,
                            "leg_index": 0,
                            "step_index": 5
                          },
                          {
                            "original_index": 2,
                            "location": [
                              10.695257,
                              47.568269
                            ],
                            "original_location": [
                              10.6952599,
                              47.5682759
                            ],
                            "match_type": "matched",
                            "match_distance": 0.792993,
                            "leg_index": 0,
                            "step_index": 10
                          },
                          {
                            "original_index": 3,
                            "location": [
                              10.696531,
                              47.568763
                            ],
                            "original_location": [
                              10.6965304,
                              47.5687653
                            ],
                            "match_type": "matched",
                            "match_distance": 0.176465,
                            "leg_index": 0,
                            "step_index": 12
                          },
                          {
                            "original_index": 4,
                            "location": [
                              10.697514,
                              47.569145
                            ],
                            "original_location": [
                              10.6975647,
                              47.5691475
                            ],
                            "match_type": "matched",
                            "match_distance": 3.785831,
                            "leg_index": 0,
                            "step_index": 13
                          },
                          {
                            "original_index": 5,
                            "location": [
                              10.698416,
                              47.569056
                            ],
                            "original_location": [
                              10.6984645,
                              47.5689924
                            ],
                            "match_type": "matched",
                            "match_distance": 7.900073,
                            "leg_index": 0,
                            "step_index": 17
                          },
                          {
                            "original_index": 6,
                            "location": [
                              10.699368,
                              47.569601
                            ],
                            "original_location": [
                              10.6993804,
                              47.5695884
                            ],
                            "match_type": "matched",
                            "match_distance": 1.672281,
                            "leg_index": 0,
                            "step_index": 22
                          },
                          {
                            "original_index": 7,
                            "location": [
                              10.700425,
                              47.569653
                            ],
                            "original_location": [
                              10.7004255,
                              47.5696526
                            ],
                            "match_type": "matched",
                            "match_distance": 0.056717,
                            "leg_index": 0,
                            "step_index": 26
                          },
                          {
                            "original_index": 8,
                            "location": [
                              10.701743,
                              47.569148
                            ],
                            "original_location": [
                              10.7017509,
                              47.5691545
                            ],
                            "match_type": "matched",
                            "match_distance": 0.832764,
[...]
