{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Isoline API",
    "version": "1.0.0",
    "description": "Calculate reachable areas as travel-time isochrones or travel-distance isodistances, or retrieve a previously generated isoline by ID."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Isoline"
    }
  ],
  "paths": {
    "/isoline": {
      "get": {
        "tags": [
          "Isoline"
        ],
        "operationId": "calculateIsoline",
        "summary": "Calculate an isochrone or isodistance",
        "description": "Calculates the area reachable from an origin within one or more travel-time or travel-distance limits.\n\n- To calculate an isoline, provide `lat`, `lon`, `type`, `mode`, and one or more `range` values.\n- With `type=time`, each range is travel time in seconds. With `type=distance`, ranges use meters for `units=metric` or miles for `units=imperial`.\n- Up to 10 ranges can be requested; the GeoJSON response contains one Polygon or MultiPolygon feature per range.\n- `transit` and `approximated_transit` support time-based isolines only.\n- Alternatively, provide only `id` to retrieve a previously generated isoline.\n- The default `format=geojson` response is a GeoJSON FeatureCollection. `topojson` and `geobuf` are available for clients that support those formats.\n\n**Example:** `lat=36.9743711&lon=-76.4166222&type=time&mode=drive&range=900`",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Origin latitude in decimal degrees. Required when calculating an isoline; omit when retrieving by `id`.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90,
              "example": 36.9743711
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Origin longitude in decimal degrees. Required when calculating an isoline; omit when retrieving by `id`.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180,
              "example": -76.4166222
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "One to 10 reachability limits. Required when calculating. Values are seconds for `type=time`; for `type=distance`, values are meters with metric units or miles with imperial units.",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 10,
              "items": {
                "type": "number",
                "minimum": 1
              },
              "example": [
                900
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Isoline kind. Use `time` for an isochrone or `distance` for an isodistance. Required when calculating.",
            "schema": {
              "type": "string",
              "enum": [
                "time",
                "distance"
              ],
              "example": "time"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Travel mode used to calculate reachability. `drive` represents passenger-car routing. Required when calculating.",
            "schema": {
              "type": "string",
              "enum": [
                "walk",
                "hike",
                "scooter",
                "motorcycle",
                "drive",
                "light_truck",
                "bicycle",
                "mountain_bike",
                "road_bike",
                "bus",
                "medium_truck",
                "truck",
                "truck_dangerous_goods",
                "heavy_truck",
                "long_truck",
                "transit",
                "approximated_transit"
              ],
              "example": "drive"
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "description": "Unit system for distance ranges and `max_speed`. Metric uses meters and km/h; imperial uses miles and mph. Time ranges are always seconds.",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "metric"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "required": false,
            "description": "Routing features or areas to avoid. Examples include `tolls`, `highways`, `ferries`, `location:latitude,longitude`, `polygon:lat,lon;lat,lon;...`, and `country_codes:us,ca`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(tolls|ferries|highways|green_zones|transfers|location|location_lonlat|location_latlon|polygon|polygon_lonlat|polygon_latlon|country_codes)(:.*)?$"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "route_type",
            "in": "query",
            "required": false,
            "description": "Route optimization preference: balanced, shortest distance, or fewer maneuvers.",
            "schema": {
              "type": "string",
              "enum": [
                "balanced",
                "short",
                "less_maneuvers"
              ],
              "default": "balanced"
            }
          },
          {
            "name": "traffic",
            "in": "query",
            "required": false,
            "description": "Traffic model. Use `approximated` to account for typical traffic where supported.",
            "schema": {
              "type": "string",
              "enum": [
                "free_flow",
                "approximated"
              ],
              "default": "free_flow"
            }
          },
          {
            "name": "max_speed",
            "in": "query",
            "required": false,
            "description": "Optional maximum travel speed: 10–252 km/h with metric units or 6.5–155 mph with imperial units.",
            "schema": {
              "type": "number",
              "minimum": 6.5,
              "maximum": 252
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Optional detail datasets to add to every isoline feature, such as `population`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 5,
                "maxLength": 100
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "ID returned for a previously generated isoline. Use `id` by itself instead of the calculation parameters.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response encoding. The documented success schema and example describe the default `geojson` format.",
            "schema": {
              "type": "string",
              "enum": [
                "geojson",
                "topojson",
                "geobuf"
              ],
              "default": "geojson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calculated or retrieved isoline. This example is the default GeoJSON response for a 900-second passenger-car isochrone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsolineFeatureCollection"
                },
                "example": {
                  "features": [
                    {
                      "properties": {
                        "lat": 36.9743711,
                        "lon": -76.4166222,
                        "mode": "drive",
                        "type": "time",
                        "range": 900,
                        "id": "768fc88900268ab0ec5aa67fbfa09cc2"
                      },
                      "geometry": {
                        "coordinates": [
                          [
                            [
                              [
                                -76.392622,
                                37.113792
                              ],
                              [
                                -76.392779,
                                37.113528
                              ],
                              [
                                -76.392876,
                                37.113371
                              ],
                              [
                                -76.392725,
                                37.113267
                              ],
                              [
                                -76.392853,
                                37.112602
                              ],
                              [
                                -76.392787,
                                37.112371
                              ],
                              [
                                -76.392777,
                                37.112216
                              ],
                              [
                                -76.392839,
                                37.111588
                              ],
                              [
                                -76.392828,
                                37.111371
                              ],
                              [
                                -76.393066,
                                37.110926
                              ],
                              [
                                -76.393081,
                                37.11083
                              ],
                              [
                                -76.39318,
                                37.110813
                              ],
                              [
                                -76.393622,
                                37.110569
                              ],
                              [
                                -76.393806,
                                37.110555
                              ],
                              [
                                -76.394567,
                                37.110425
                              ],
                              [
                                -76.394622,
                                37.11042
                              ],
                              [
                                -76.394655,
                                37.110404
                              ],
                              [
                                -76.394671,
                                37.110371
                              ],
                              [
                                -76.394734,
                                37.110259
                              ],
                              [
                                -76.394837,
                                37.109586
                              ],
                              [
                                -76.395463,
                                37.109529
                              ],
                              [
                                -76.395622,
                                37.109448
                              ],
                              [
                                -76.395722,
                                37.109471
                              ],
                              [
                                -76.396152,
                                37.109371
                              ],
                              [
                                -76.395694,
                                37.109298
                              ],
                              [
                                -76.395622,
                                37.109293
                              ],
                              [
                                -76.395411,
                                37.10916
                              ],
                              [
                                -76.394893,
                                37.109099
                              ],
                              [
                                -76.394989,
                                37.108738
                              ],
                              [
                                -76.394863,
                                37.108371
                              ],
                              [
                                -76.394782,
                                37.10821
                              ],
                              [
                                -76.394622,
                                37.10813
                              ],
                              [
                                -76.394187,
                                37.107806
                              ],
                              [
                                -76.394031,
                                37.107371
                              ],
                              [
                                -76.394043,
                                37.106949
                              ],
                              [
                                -76.394052,
                                37.106801
                              ],
                              [
                                -76.394064,
                                37.106371
                              ],
                              [
                                -76.394078,
                                37.105915
                              ],
                              [
                                -76.394082,
                                37.105831
                              ],
                              [
                                -76.394095,
                                37.105371
                              ],
                              [
                                -76.394108,
                                37.104885
                              ],
                              [
                                -76.394109,
                                37.104858
                              ],
                              [
                                -76.394122,
                                37.104371
                              ],
                              [
                                -76.394134,
                                37.103883
                              ],
                              [
                                -76.394134,
                                37.103858
                              ],
                              [
                                -76.394146,
                                37.103371
                              ],
                              [
                                -76.394294,
                                37.103043
                              ],
                              [
                                -76.394622,
                                37.102816
                              ],
                              [
                                -76.395033,
                                37.10296
                              ],
                              [
                                -76.395332,
                                37.103371
                              ],
                              [
                                -76.395429,
                                37.103564
                              ],
                              [
                                -76.395622,
                                37.10366
                              ],
                              [
                                -76.395815,
                                37.103564
                              ],
                              [
                                -76.395911,
                                37.103371
                              ],
                              [
                                -76.395939,
                                37.103053
                              ],
                              [
                                -76.39599,
                                37.102739
                              ],
                              [
                                -76.396018,
                                37.102371
                              ],
                              [
                                -76.396221,
                                37.10197
                              ],
                              [
                                -76.396622,
                                37.101708
                              ],
                              [
                                -76.396847,
                                37.101595
                              ],
                              [
                                -76.396959,
                                37.101371
                              ],
                              [
                                -76.396847,
                                37.101146
                              ],
                              [
                                -76.396622,
                                37.101033
                              ],
                              [
                                -76.396249,
                                37.100744
                              ],
                              [
                                -76.396129,
                                37.100371
                              ],
                              [
                                -76.396108,
                                37.099885
                              ],
                              [
                                -76.396105,
                                37.099854
                              ],
                              [
                                -76.396082,
                                37.099371
                              ],
                              [
                                -76.395929,
                                37.099064
                              ],
                              [
                                -76.395622,
                                37.09891
                              ],
                              [
                                -76.395165,
                                37.098914
                              ],
                              [
                                -76.395077,
                                37.098915
                              ],
                              [
                                -76.394622,
                                37.098919
                              ],
                              [
                                -76.394337,
                                37.098656
                              ],
                              [
                                -76.394243,
                                37.098371
                              ],
                              [
                                -76.394036,
                                37.097957
                              ],
                              [
                                -76.393622,
                                37.09775
                              ],
                              [
                                -76.393374,
                                37.097618
                              ],
                              [
                                -76.393261,
                                37.097371
                              ],
                              [
                                -76.393382,
                                37.097131
                              ],
                              [
                                -76.393622,
                                37.097003
                              ],
                              [
                                -76.394043,
                                37.096792
                              ],
                              [
                                -76.394254,
                                37.096371
                              ],
                              [
                                -76.394266,
                                37.096015
                              ],
                              [
                                -76.394622,
                                37.096027
                              ],
                              [
                                -76.394856,
                                37.096136
                              ],
                              [
                                -76.394987,
                                37.096371
                              ],
                              [
                                -76.395199,
                                37.096793
                              ],
                              [
                                -76.395622,
                                37.097005
                              ],
                              [
                                -76.396044,
                                37.096793
                              ],
                              [
                                -76.396256,
                                37.096371
                              ],
                              [
                                -76.396385,
                                37.096134
                              ],
                              [
                                -76.396622,
                                37.096018
                              ],
                              [
                                -76.396942,
                                37.096051
                              ],
                              [
                                -76.397302,
                                37.096051
                              ],
                              [
                                -76.397622,
                                37.096078
                              ],
                              [
                                -76.397916,
                                37.096077
                              ],
                              [
                                -76.398328,
                                37.096077
                              ],
                              [
                                -76.398622,
                                37.096075
                              ],
                              [
                                -76.398822,
                                37.09617
                              ],
                              [
                                -76.398927,
                                37.096371
                              ],
                              [
                                -76.399159,
                                37.096834
                              ],
                              [
                                -76.399622,
                                37.097065
                              ],
                              [
                                -76.399929,
                                37.097064
                              ],
                              [
                                -76.400315,
                                37.097064
                              ],
                              [
                                -76.400622,
                                37.097062
                              ],
                              [
                                -76.400854,
                                37.097138
                              ],
                              [
                                -76.401081,
                                37.097371
                              ],
                              [
                                -76.400909,
                                37.097658
                              ],
                              [
                                -76.400622,
                                37.097807
                              ],
                              [
                                -76.400152,
                                37.09784
                              ],
                              [
                                -76.400091,
                                37.09784
                              ],
                              [
                                -76.399622,
                                37.097879
                              ],
                              [
                                -76.399294,
                                37.098043
                              ],
                              [
                                -76.39913,
                                37.098371
                              ],
                              [
                                -76.399117,
                                37.098866
                              ],
                              [
                                -76.399117,
                                37.098875
                              ],
                              [
                                -76.399106,
                                37.099371
                              ],
                              [
                                -76.399278,
                                37.099715
                              ],
                              [
                                -76.399622,
                                37.099887
                              ],
                              [
                                -76.399943,
                                37.10005
                              ],
                              [
                                -76.400145,
                                37.100371
                              ],
                              [
                                -76.400304,
                                37.100688
                              ],
                              [
                                -76.400622,
                                37.100847
                              ],
                              [
                                -76.400957,
                                37.101035
                              ],
                              [
                                -76.401148,
                                37.101371
                              ],
                              [
                                -76.401205,
                                37.101787
                              ],
                              [
                                -76.401282,
                                37.102031
                              ],
                              [
                                -76.401346,
                                37.102371
                              ],
                              [
                                -76.401438,
                                37.102555
                              ],
                              [
                                -76.401622,
                                37.102647
                              ],
                              [
                                -76.402081,
                                37.102911
                              ],
                              [
                                -76.402358,
                                37.103371
                              ],
                              [
                                -76.402446,
                                37.103546
                              ],
                              [
                                -76.402622,
                                37.103634
                              ],
                              [
                                -76.402797,
                                37.103546
                              ],
                              [
                                -76.402885,
                                37.103371
                              ],
                              [
                                -76.403207,
                                37.102956
                              ],
                              [
                                -76.403622,
                                37.10283
                              ],
                              [
                                -76.404093,
                                37.102842
                              ],
                              [
                                -76.404147,
                                37.102845
                              ],
                              [
                                -76.404622,
                                37.102857
                              ],
                              [
                                -76.405042,
                                37.102951
                              ],
                              [
                                -76.40532,
                                37.103371
                              ],
                              [
                                -76.40542,
                                37.103572
                              ],
                              [
                                -76.405622,
                                37.103672
                              ],
                              [
                                -76.405934,
                                37.103683
                              ],
                              [
                                -76.406286,
                                37.103706
                              ],
                              [
                                -76.406622,
                                37.103717
                              ],
                              [
                                -76.406956,
                                37.103705
                              ],
                              [
                                -76.407316,
                                37.103676
                              ],
                              [
                                -76.407622,
                                37.103664
                              ],
                              [
                                -76.408107,
                                37.103885
                              ],
                              [
                                -76.408423,
                                37.104371
                              ],
                              [
                                -76.408489,
                                37.104503
                              ],
                              [
                                -76.408622,
                                37.104569
                              ],
                              [
                                -76.408754,
                                37.104503
                              ],
                              [
                                -76.40882,
                                37.104371
                              ],
                              [
                                -76.409103,
                                37.10389
                              ],
                              [
                                -76.409111,
                                37.10386
                              ],
                              [
                                -76.40914,
                                37.103852
                              ],
                              [
                                -76.409622,
                                37.103575
                              ],
                              [
                                -76.409847,
                                37.103596
                              ],
                              [
                                -76.410314,
                                37.103678
                              ],
                              [
                                -76.410622,
                                37.103703
                              ],
                              [
                                -76.410992,
                                37.103741
                              ],
                              [
                                -76.411212,
                                37.103781
                              ],
                              [
                                -76.411622,
                                37.103815
                              ],
                              [
                                -76.411918,
                                37.103667
                              ],
                              [
                                -76.412066,
                                37.103371
                              ],
                              [
                                -76.412281,
                                37.10303
                              ],
                              [
                                -76.412622,
                                37.102892
                              ],
                              [
                                -76.412969,
                                37.102718
                              ],
                              [
                                -76.413143,
                                37.102371
                              ],
                              [
                                -76.41332,
                                37.102069
                              ],
                              [
                                -76.413622,
                                37.101927
                              ],
                              [
                                -76.413976,
                                37.102016
                              ],
                              [
                                -76.414549,
                                37.102371
                              ],
                              [
                                -76.414523,
                                37.102469
                              ],
                              [
                                -76.414288,
                                37.103037
                              ],
                              [
                                -76.414231,
                                37.103371
                              ],
                              [
                                -76.414236,
                                37.103756
                              ],
                              [
                                -76.414243,
                                37.103992
                              ],
                              [
                                -76.414249,
                                37.104371
                              ],
                              [
                                -76.414103,
                                37.104852
                              ],
                              [
                                -76.413622,
                                37.105233
                              ],
                              [
                                -76.413499,
                                37.105248
                              ],
                              [
                                -76.413045,
                                37.105371
                              ],
                              [
                                -76.412984,
                                37.105733
                              ],
                              [
                                -76.412797,
                                37.106195
                              ],
                              [
                                -76.412753,
                                37.106371
                              ],
                              [
                                -76.413347,
                                37.106645
                              ],
                              [
                                -76.413622,
                                37.106657
                              ],
                              [
                                -76.413873,
                                37.106622
                              ],
                              [
                                -76.414339,
                                37.106653
                              ],
                              [
                                -76.414622,
                                37.106626
                              ],
                              [
                                -76.414758,
                                37.106507
                              ],
                              [
                                -76.414792,
                                37.106371
                              ],
                              [
                                -76.414807,
                                37.106185
                              ],
                              [
                                -76.414889,
                                37.105638
                              ],
                              [
                                -76.414907,
                                37.105371
                              ],
                              [
                                -76.415157,
                                37.104906
                              ],
                              [
                                -76.415622,
                                37.104605
                              ],
                              [
                                -76.41587,
                                37.104619
                              ],
                              [
                                -76.416325,
                                37.104668
                              ],
                              [
                                -76.416622,
                                37.104683
                              ],
                              [
                                -76.417053,
                                37.104939
                              ],
                              [
                                -76.417288,
                                37.105371
                              ],
                              [
                                -76.417399,
                                37.105593
                              ],
                              [
                                -76.417622,
                                37.105704
                              ],
                              [
                                -76.4181,
                                37.105849
                              ],
                              [
                                -76.418164,
                                37.105828
                              ],
                              [
                                -76.418182,
                                37.105931
                              ],
                              [
                                -76.418481,
                                37.106371
                              ],
                              [
                                -76.418552,
                                37.10644
                              ],
                              [
                                -76.418622,
                                37.106464
                              ],
                              [
                                -76.418688,
                                37.106437
                              ],
                              [
                                -76.418762,
                                37.106371
                              ],
                              [
                                -76.418952,
                                37.10604
                              ],
                              [
                                -76.418994,
                                37.105743
                              ],
                              [
                                -76.419246,
                                37.105747
                              ],
                              [
                                -76.419622,
                                37.105574
                              ],
                              [
                                -76.420106,
                                37.105886
                              ],
                              [
                                -76.420378,
                                37.106371
                              ],
                              [
                                -76.420488,
                                37.106505
                              ],
                              [
                                -76.420622,
                                37.106615
                              ],
                              [
                                -76.420795,
                                37.106544
                              ],
                              [
                                -76.421466,
                                37.106526
                              ],
                              [
                                -76.421622,
                                37.10649
                              ],
                              [
                                -76.42177,
                                37.106519
                              ],
                              [
                                -76.422537,
                                37.106455
                              ],
                              [
                                -76.422622,
                                37.106488
                              ],
                              [
                                -76.422732,
                                37.106481
                              ],
                              [
                                -76.423557,
                                37.106371
                              ],
                              [
                                -76.422732,
                                37.10626
                              ],
                              [
                                -76.422622,
                                37.106253
                              ],
                              [
                                -76.422496,
                                37.106245
                              ],
                              [
                                -76.421826,
                                37.106166
                              ],
                              [
                                -76.421622,
                                37.106155
                              ],
                              [
                                -76.42114,
                                37.105853
                              ],
                              [
                                -76.420977,
                                37.105371
                              ],
                              [
                                -76.421206,
                                37.104955
                              ],
                              [
                                -76.421622,
                                37.104713
                              ],
                              [
                                -76.421991,
                                37.10474
                              ],
                              [
                                -76.422221,
                                37.104771
                              ],
                              [
                                -76.422622,
                                37.104797
                              ],
                              [
                                -76.423048,
                                37.104797
                              ],
                              [
                                -76.423195,
                                37.104797
                              ],
                              [
                                -76.423622,
                                37.104797
                              ],
                              [
                                -76.424041,
                                37.10479
                              ],
                              [
                                -76.424207,
                                37.104785
                              ],
                              [
                                -76.424622,
                                37.104779
                              ],
                              [
                                -76.425033,
                                37.10496
                              ],
                              [
                                -76.425262,
                                37.105371
                              ],
                              [
                                -76.425333,
                                37.10566
                              ],
                              [
                                -76.425622,
                                37.10573
                              ],
                              [
                                -76.426115,
                                37.105864
                              ],
                              [
                                -76.426129,
                                37.105863
                              ],
                              [
                                -76.426622,
                                37.106171
                              ],
                              [
                                -76.426807,
                                37.106185
                              ],
                              [
                                -76.427495,
                                37.106371
                              ],
                              [
                                -76.427528,
                                37.106464
                              ],
                              [
                                -76.427622,
                                37.106711
                              ],
                              [
                                -76.42774,
                                37.107252
                              ],
                              [
                                -76.42785,
                                37.107371
                              ],
                              [
                                -76.42817,
                                37.107822
                              ],
                              [
                                -76.428272,
                                37.108021
                              ],
                              [
                                -76.428469,
                                37.108371
                              ],
                              [
                                -76.42853,
                                37.108462
                              ],
                              [
                                -76.428622,
                                37.108684
                              ],
                              [
                                -76.428934,
                                37.109059
                              ],
                              [
                                -76.429186,
                                37.109371
                              ],
                              [
                                -76.429486,
                                37.109507
                              ],
                              [
                                -76.429622,
                                37.110068
                              ],
                              [
                                -76.429821,
                                37.10957
                              ],
                              [
                                -76.429896,
                                37.109371
                              ],
                              [
                                -76.430041,
                                37.108951
                              ],
                              [
                                -76.43009,
                                37.108839
                              ],
                              [
                                -76.430214,
                                37.108371
                              ],
                              [
                                -76.430359,
                                37.108108
                              ],
                              [
                                -76.430622,
                                37.107833
                              ],
                              [
                                -76.430979,
                                37.107728
                              ],
                              [
                                -76.431208,
                                37.107784
                              ],
                              [
                                -76.431622,
                                37.107734
                              ],
                              [
                                -76.431864,
                                37.107613
                              ],
                              [
                                -76.432393,
                                37.107599
                              ],
                              [
                                -76.432622,
                                37.10754
                              ],
                              [
                                -76.432766,
                                37.107515
                              ],
                              [
                                -76.433518,
                                37.107474
                              ],
                              [
                                -76.433622,
                                37.10746
                              ],
                              [
                                -76.433774,
                                37.107523
                              ],
                              [
                                -76.434572,
                                37.10742
                              ],
                              [
                                -76.434622,
                                37.10804
                              ],
                              [
                                -76.434685,
                                37.107434
                              ],
                              [
                                -76.434658,
                                37.107371
                              ],
                              [
                                -76.43464,
                                37.107353
                              ],
                              [
                                -76.434622,
                                37.107347
                              ],
                              [
                                -76.434597,
                                37.107346
                              ],
                              [
                                -76.433708,
                                37.107284
                              ],
                              [
                                -76.433622,
                                37.107282
                              ],
                              [
                                -76.433523,
                                37.107272
                              ],
                              [
                                -76.43276,
                                37.107232
                              ],
                              [
                                -76.432622,
                                37.107217
                              ],
                              [
                                -76.432284,
                                37.107033
                              ],
                              [
                                -76.431972,
                                37.107021
                              ],
                              [
                                -76.431999,
                                37.106748
                              ],
                              [
                                -76.431833,
                                37.106371
                              ],
                              [
                                -76.431755,
                                37.106237
                              ],
                              [
                                -76.431622,
                                37.106163
                              ],
                              [
                                -76.431307,
                                37.106056
                              ],
                              [
                                -76.430968,
                                37.106025
                              ],
                              [
                                -76.430622,
                                37.105769
                              ],
                              [
                                -76.430347,
                                37.105645
                              ],
                              [
                                -76.430114,
                                37.105371
                              ],
                              [
                                -76.430102,
                                37.10489
                              ],
                              [
                                -76.43007,
                                37.104819
                              ],
                              [
                                -76.430044,
                                37.104371
                              ],
                              [
                                -76.429699,
                                37.104294
                              ],
                              [
                                -76.429622,
                                37.103792
                              ],
                              [
                                -76.429476,
                                37.104225
                              ],
                              [
                                -76.42943,
                                37.104371
                              ],
                              [
                                -76.42899,
                                37.104739
                              ],
                              [
                                -76.428622,
                                37.104768
                              ],
                              [
                                -76.428301,
                                37.10505
                              ],
                              [
                                -76.427956,
                                37.105036
                              ],
                              [
                                -76.427622,
                                37.105137
                              ],
                              [
                                -76.427242,
                                37.104991
                              ],
                              [
                                -76.427011,
                                37.104981
                              ],
                              [
                                -76.426622,
                                37.104445
                              ],
                              [
                                -76.426575,
                                37.104418
                              ],
                              [
                                -76.426556,
                                37.104371
                              ],
                              [
                                -76.426546,
                                37.104295
                              ],
                              [
                                -76.426622,
                                37.104111
                              ],
                              [
                                -76.426743,
                                37.103492
                              ],
                              [
                                -76.427433,
                                37.103371
                              ],
                              [
                                -76.426809,
                                37.103183
                              ],
                              [
                                -76.426752,
                                37.102501
                              ],
                              [
                                -76.42669,
                                37.102371
                              ],
                              [
                                -76.426729,
                                37.102263
                              ],
                              [
                                -76.426659,
                                37.101408
                              ],
                              [
                                -76.426738,
                                37.101371
                              ],
                              [
                                -76.426646,
                                37.101346
                              ],
                              [
                                -76.426622,
                                37.101346
                              ],
                              [
                                -76.426602,
                                37.101351
                              ],
                              [
                                -76.426499,
                                37.101371
                              ],
                              [
                                -76.425993,
                                37.101742
                              ],
                              [
                                -76.425622,
                                37.10173
                              ],
                              [
                                -76.425371,
                                37.10212
                              ],
                              [
                                -76.424721,
                                37.102271
                              ],
                              [
                                -76.424622,
                                37.10232
                              ],
                              [
                                -76.424592,
                                37.102341
                              ],
                              [
                                -76.424579,
                                37.102371
                              ],
                              [
                                -76.424437,
                                37.102555
                              ],
                              [
                                -76.424215,
                                37.102964
                              ],
                              [
                                -76.424027,
                                37.102965
                              ],
                              [
                                -76.423622,
                                37.103125
                              ],
                              [
                                -76.423372,
                                37.103121
                              ],
                              [
                                -76.422929,
                                37.103064
                              ],
                              [
                                -76.422622,
                                37.10306
                              ],
                              [
                                -76.42231,
                                37.103059
                              ],
                              [
                                -76.421943,
                                37.10305
                              ],
                              [
                                -76.421622,
                                37.103049
                              ],
                              [
                                -76.421176,
                                37.102817
                              ],
                              [
                                -76.420957,
                                37.102371
                              ],
                              [
                                -76.420843,
                                37.102149
                              ],
                              [
                                -76.420622,
                                37.102045
                              ],
                              [
                                -76.420167,
                                37.101826
                              ],
                              [
                                -76.419905,
                                37.101371
                              ],
                              [
                                -76.420103,
                                37.100889
                              ],
                              [
                                -76.420097,
                                37.100846
                              ],
                              [
                                -76.420149,
                                37.100844
                              ],
                              [
                                -76.420622,
                                37.100578
                              ],
                              [
                                -76.420766,
                                37.100515
                              ],
                              [
                                -76.42085,
                                37.100371
                              ],
                              [
                                -76.42083,
                                37.100162
                              ],
                              [
                                -76.42078,
                                37.099529
                              ],
                              [
                                -76.420765,
                                37.099371
                              ],
                              [
                                -76.420762,
                                37.09923
                              ],
                              [
                                -76.420696,
                                37.098445
                              ],
                              [
                                -76.420694,
                                37.098371
                              ],
                              [
                                -76.420668,
                                37.098325
                              ],
                              [
                                -76.420622,
                                37.098305
                              ],
                              [
                                -76.420569,
                                37.098318
                              ],
                              [
                                -76.420325,
                                37.098371
                              ],
                              [
                                -76.420298,
                                37.098694
                              ],
                              [
                                -76.42022,
                                37.098969
                              ],
                              [
                                -76.420199,
                                37.099371
                              ],
                              [
                                -76.419949,
                                37.099698
                              ],
                              [
                                -76.419622,
                                37.099818
                              ],
                              [
                                -76.419143,
                                37.099892
                              ],
                              [
                                -76.418865,
                                37.100371
                              ],
                              [
                                -76.41879,
                                37.100539
                              ],
                              [
                                -76.418622,
                                37.100781
                              ],
                              [
                                -76.418432,
                                37.10056
                              ],
                              [
                                -76.417683,
                                37.100432
                              ],
                              [
                                -76.417622,
                                37.100406
                              ],
                              [
                                -76.417597,
                                37.100396
                              ],
                              [
                                -76.417574,
                                37.100371
                              ],
                              [
                                -76.417581,
                                37.10033
                              ],
                              [
                                -76.417622,
                                37.100213
                              ],
                              [
                                -76.418107,
                                37.099856
                              ],
                              [
                                -76.418515,
                                37.099371
                              ],
                              [
                                -76.417962,
                                37.09903
                              ],
                              [
                                -76.417622,
                                37.099016
                              ],
                              [
                                -76.417253,
                                37.098739
                              ],
                              [
                                -76.416819,
                                37.098568
                              ],
                              [
                                -76.416622,
                                37.09847
                              ],
                              [
                                -76.41655,
                                37.098443
                              ],
                              [
                                -76.416483,
                                37.098371
                              ],
                              [
                                -76.41576,
                                37.098233
                              ],
                              [
                                -76.415622,
                                37.098223
                              ],
                              [
                                -76.415349,
                                37.098098
                              ],
                              [
                                -76.414893,
                                37.0981
                              ],
                              [
                                -76.4148,
                                37.097549
                              ],
                              [
                                -76.414696,
                                37.097371
                              ],
                              [
                                -76.414672,
                                37.09732
                              ],
                              [
                                -76.414622,
                                37.097296
                              ],
                              [
                                -76.414544,
                                37.097293
                              ],
                              [
                                -76.413796,
                                37.097196
                              ],
                              [
                                -76.413622,
                                37.097191
                              ],
                              [
                                -76.413443,
                                37.097192
                              ],
                              [
                                -76.412825,
                                37.097167
                              ],
                              [
                                -76.412622,
                                37.097167
                              ],
                              [
                                -76.412328,
                                37.097077
                              ],
                              [
                                -76.411933,
                                37.09706
                              ],
                              [
                                -76.411622,
                                37.096846
                              ],
                              [
                                -76.411137,
                                37.096855
                              ],
                              [
                                -76.411106,
                                37.096855
                              ],
                              [
                                -76.410622,
                                37.096864
                              ],
                              [
                                -76.410124,
                                37.096868
                              ],
                              [
                                -76.410119,
                                37.096868
                              ],
                              [
                                -76.409622,
                                37.096872
                              ],
                              [
                                -76.409244,
                                37.096748
                              ],
                              [
                                -76.409017,
                                37.096371
                              ],
                              [
                                -76.409006,
                                37.095986
                              ],
                              [
                                -76.408992,
                                37.095741
                              ],
                              [
                                -76.408981,
                                37.095371
                              ],
                              [
                                -76.409151,
                                37.0949
                              ],
                              [
                                -76.409622,
                                37.094614
                              ],
                              [
                                -76.409834,
                                37.094583
                              ],
                              [
                                -76.410463,
                                37.094371
                              ],
                              [
                                -76.410447,
                                37.094196
                              ],
                              [
                                -76.410622,
                                37.093804
                              ],
                              [
                                -76.410664,
                                37.093413
                              ],
                              [
                                -76.410666,
                                37.093371
                              ],
                              [
                                -76.410651,
                                37.093341
                              ],
                              [
                                -76.410622,
                                37.093326
                              ],
                              [
                                -76.410575,
                                37.093324
                              ],
                              [
                                -76.409743,
                                37.093249
                              ],
                              [
                                -76.409622,
                                37.093244
                              ],
                              [
                                -76.40951,
                                37.093259
                              ],
                              [
                                -76.409162,
                                37.093371
                              ],
                              [
                                -76.408876,
                                37.093625
                              ],
                              [
                                -76.408622,
                                37.093691
                              ],
                              [
                                -76.40832,
                                37.093672
                              ],
                              [
                                -76.407791,
                                37.093371
                              ],
                              [
                                -76.407652,
                                37.09334
                              ],
                              [
                                -76.407622,
                                37.093337
                              ],
                              [
                                -76.407599,
                                37.093348
                              ],
                              [
                                -76.407588,
                                37.093371
                              ],
                              [
                                -76.407513,
                                37.09348
                              ],
                              [
                                -76.407301,
                                37.09405
                              ],
                              [
                                -76.406951,
                                37.094042
                              ],
                              [
                                -76.406622,
                                37.094177
                              ],
                              [
                                -76.406492,
                                37.094241
                              ],
                              [
                                -76.406428,
                                37.094371
                              ],
                              [
                                -76.406405,
                                37.094587
                              ],
                              [
                                -76.406315,
                                37.095064
                              ],
                              [
                                -76.406289,
                                37.095371
                              ],
                              [
                                -76.406022,
                                37.095771
                              ],
                              [
                                -76.405622,
                                37.095884
                              ],
                              [
                                -76.405163,
                                37.09583
                              ],
                              [
                                -76.405081,
                                37.09583
                              ],
                              [
                                -76.404622,
                                37.095786
                              ],
                              [
                                -76.404244,
                                37.095748
                              ],
                              [
                                -76.403999,
                                37.095748
                              ],
                              [
                                -76.403622,
                                37.095717
                              ],
                              [
                                -76.403288,
                                37.095704
                              ],
                              [
                                -76.402955,
                                37.095704
                              ],
                              [
                                -76.402622,
                                37.095692
                              ],
                              [
                                -76.402304,
                                37.095688
                              ],
                              [
                                -76.401939,
                                37.095688
                              ],
                              [
                                -76.401622,
                                37.095684
                              ],
                              [
                                -76.401401,
                                37.095592
                              ],
                              [
                                -76.40124,
                                37.095371
                              ],
                              [
                                -76.401051,
                                37.094941
                              ],
                              [
                                -76.400622,
                                37.094667
                              ],
                              [
                                -76.400396,
                                37.094596
                              ],
                              [
                                -76.399728,
                                37.094371
                              ],
                              [
                                -76.399905,
                                37.094087
                              ],
                              [
                                -76.400065,
                                37.093814
                              ],
                              [
                                -76.400406,
                                37.093371
                              ],
                              [
                                -76.399871,
                                37.093121
                              ],
                              [
                                -76.399622,
                                37.093044
                              ],
                              [
                                -76.399321,
                                37.092671
                              ],
                              [
                                -76.399313,
                                37.092371
                              ],
                              [
                                -76.399406,
                                37.092156
                              ],
                              [
                                -76.399622,
                                37.092022
                              ],
                              [
                                -76.400041,
                                37.09179
                              ],
                              [
                                -76.400273,
                                37.091371
                              ],
                              [
                                -76.400385,
                                37.091134
                              ],
                              [
                                -76.400622,
                                37.090978
                              ],
                              [
                                -76.401116,
                                37.090865
                              ],
                              [
                                -76.401127,
                                37.090865
                              ],
                              [
                                -76.401622,
                                37.090785
                              ],
                              [
                                -76.402107,
                                37.090856
                              ],
                              [
                                -76.402136,
                                37.090856
                              ],
                              [
                                -76.402622,
                                37.09096
                              ],
                              [
                                -76.403015,
                                37.090764
                              ],
                              [
                                -76.403211,
                                37.090371
                              ],
                              [
                                -76.403015,
                                37.089978
                              ],
                              [
                                -76.402622,
                                37.089781
                              ],
                              [
                                -76.402359,
                                37.089633
                              ],
                              [
                                -76.40225,
                                37.089371
                              ],
                              [
                                -76.402345,
                                37.089094
                              ],
                              [
                                -76.402622,
                                37.088891
                              ],
                              [
                                -76.402968,
                                37.088717
                              ],
                              [
                                -76.403142,
                                37.088371
                              ],
                              [
                                -76.403323,
                                37.088072
                              ],
                              [
                                -76.403622,
                                37.087906
                              ],
                              [
                                -76.403979,
                                37.087728
                              ],
                              [
                                -76.404157,
                                37.087371
                              ],
                              [
                                -76.404309,
                                37.087058
                              ],
                              [
                                -76.404622,
                                37.086893
                              ],
                              [
                                -76.404976,
                                37.087016
                              ],
                              [
                                -76.405296,
                                37.087371
                              ],
                              [
                                -76.405404,
                                37.087588
                              ],
                              [
                                -76.405622,
                                37.087697
                              ],
                              [
                                -76.406086,
                                37.087835
                              ],
                              [
                                -76.406143,
                                37.08785
                              ],
                              [
                                -76.406622,
                                37.088007
                              ],
                              [
                                -76.406856,
                                37.088136
                              ],
                              [
                                -76.406975,
                                37.088371
                              ],
                              [
                                -76.40688,
                                37.088629
                              ],
                              [
                                -76.406622,
                                37.088841
                              ],
                              [
                                -76.406356,
                                37.089105
                              ],
                              [
                                -76.406267,
                                37.089371
                              ],
                              [
                                -76.406093,
                                37.089842
                              ],
                              [
                                -76.405622,
                                37.090167
                              ],
                              [
                                -76.405306,
                                37.090055
                              ],
                              [
                                -76.404827,
                                37.090165
                              ],
                              [
                                -76.404729,
                                37.089478
                              ],
                              [
                                -76.404661,
                                37.089371
                              ],
                              [
                                -76.404648,
                                37.089345
                              ],
                              [
                                -76.404622,
                                37.089332
                              ],
                              [
                                -76.404596,
                                37.089345
                              ],
                              [
                                -76.404582,
                                37.089371
                              ],
                              [
                                -76.404581,
                                37.089411
                              ],
                              [
                                -76.40453,
                                37.090279
                              ],
                              [
                                -76.404527,
                                37.090371
                              ],
                              [
                                -76.404523,
                                37.090469
                              ],
                              [
                                -76.404469,
                                37.091218
                              ],
                              [
                                -76.404464,
                                37.091371
                              ],
                              [
                                -76.404475,
                                37.091517
                              ],
                              [
                                -76.404615,
                                37.092364
                              ],
                              [
                                -76.404615,
                                37.092371
                              ],
                              [
                                -76.404617,
                                37.092375
                              ],
                              [
                                -76.404622,
                                37.092377
                              ],
                              [
                                -76.404626,
                                37.092375
                              ],
                              [
                                -76.404628,
                                37.092371
                              ],
                              [
                                -76.404646,
                                37.092346
                              ],
                              [
                                -76.404923,
                                37.091672
                              ],
                              [
                                -76.405262,
                                37.091731
                              ],
                              [
                                -76.405622,
                                37.091611
                              ],
                              [
                                -76.40588,
                                37.091629
                              ],
                              [
                                -76.406308,
                                37.091685
                              ],
                              [
                                -76.406622,
                                37.091704
                              ],
                              [
                                -76.40696,
                                37.091709
                              ],
                              [
                                -76.407273,
                                37.091719
                              ],
                              [
                                -76.407622,
                                37.091724
                              ],
                              [
                                -76.407858,
                                37.091606
                              ],
                              [
                                -76.407975,
                                37.091371
                              ],
                              [
                                -76.408218,
                                37.090967
                              ],
                              [
                                -76.408622,
                                37.090755
                              ],
                              [
                                -76.408942,
                                37.090691
                              ],
                              [
                                -76.409006,
                                37.090371
                              ],
                              [
                                -76.409264,
                                37.090013
                              ],
                              [
                                -76.409622,
                                37.089869
                              ],
                              [
                                -76.410004,
                                37.089988
                              ],
                              [
                                -76.410428,
                                37.090371
                              ],
                              [
                                -76.410267,
                                37.090726
                              ],
                              [
                                -76.410223,
                                37.090972
                              ],
                              [
                                -76.409679,
                                37.091371
                              ],
                              [
                                -76.410378,
                                37.091614
                              ],
                              [
                                -76.410622,
                                37.091651
                              ],
                              [
                                -76.410913,
                                37.091662
                              ],
                              [
                                -76.411302,
                                37.09169
                              ],
                              [
                                -76.411622,
                                37.091702
                              ],
                              [
                                -76.411842,
                                37.091591
                              ],
                              [
                                -76.411953,
                                37.091371
                              ],
                              [
                                -76.412222,
                                37.090971
                              ],
                              [
                                -76.412622,
                                37.090789
                              ],
                              [
                                -76.41303,
                                37.090963
                              ],
                              [
                                -76.413256,
                                37.091371
                              ],
                              [
                                -76.413378,
                                37.091614
                              ],
                              [
                                -76.413622,
                                37.091736
                              ],
                              [
                                -76.414069,
                                37.091923
                              ],
                              [
                                -76.414335,
                                37.092371
                              ],
                              [
                                -76.414431,
                                37.092562
                              ],
                              [
                                -76.414622,
                                37.092657
                              ],
                              [
                                -76.414905,
                                37.092654
                              ],
                              [
                                -76.415347,
                                37.092645
[...]
