{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify MCP Tool: Places: List Place Categories",
    "version": "1.0.0",
    "description": "AI-focused, tool-specific OpenAPI specification for list_place_categories over the Geoapify JSON-RPC transport. Import this specification when an integration needs this tool without the full MCP catalog."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Places",
      "description": "Places MCP tools."
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "tags": [
          "Places"
        ],
        "operationId": "callListPlaceCategories",
        "summary": "Places: List Place Categories",
        "description": "Use this zero-credit tool to discover the exact category value required by search_places. It accepts no arguments and returns category names only; use search_places afterward to find actual places.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "description": "Optional protocol version. Defaults to 2025-06-18 when omitted; explicitly unsupported versions are rejected.",
            "schema": {
              "type": "string",
              "enum": [
                "2025-06-18"
              ]
            },
            "example": "2025-06-18"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlaceCategoriesToolCallRequest"
              },
              "examples": {
                "listPlaceCategoriesNumericId": {
                  "summary": "List place categories",
                  "description": "List the category values accepted by search_places.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "list_place_categories",
                      "arguments": {}
                    }
                  }
                },
                "listPlaceCategoriesStringId": {
                  "summary": "List categories with a string request id",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "category-catalog",
                    "method": "tools/call",
                    "params": {
                      "name": "list_place_categories",
                      "arguments": {}
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response for the list_place_categories MCP tool. Tool execution and validation failures also use HTTP 200 with result.isError set to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlaceCategoriesToolCallResponse"
                },
                "examples": {
                  "listPlaceCategoriesSuccess": {
                    "summary": "Place category catalog",
                    "description": "Live response for the listPlaceCategoriesNumericId request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"count\": 833,\n  \"categories\": [\n    \"accommodation\",\n    \"accommodation.hotel\",\n    \"accommodation.hut\",\n    \"accommodation.apartment\",\n    \"accommodation.chalet\",\n    \"accommodation.guest_house\",\n    \"accommodation.hostel\",\n    \"accommodation.motel\",\n    \"activity\",\n    \"activity.community_center\",\n    \"activity.events_venue\",\n    \"activity.hackerspace\",\n    \"activity.sport_club\",\n    \"adult\",\n    \"adult.nightclub\",\n    \"adult.stripclub\",\n    \"adult.swingerclub\",\n    \"adult.brothel\",\n    \"adult.casino\",\n    \"adult.adult_gaming_centre\",\n    \"airport\",\n    \"airport.terminal\",\n    \"airport.private\",\n    \"airport.international\",\n    \"airport.military\",\n    \"airport.gliding\",\n    \"airport.airfield\",\n    \"amenity\",\n    \"amenity.toilet\",\n    \"amenity.toilet.changing_table\",\n    \"amenity.drinking_water\",\n    \"amenity.give_box\",\n    \"amenity.give_box.food\",\n    \"amenity.give_box.books\",\n    \"beach\",\n    \"beach.beach_resort\",\n    \"administrative\",\n    \"administrative.continent_level\",\n    \"administrative.country_level\",\n    \"administrative.country_part_level\",\n    \"administrative.state_level\",\n    \"administrative.county_level\",\n    \"administrative.city_level\",\n    \"administrative.district_level\",\n    \"administrative.suburb_level\",\n    \"administrative.neighbourhood_level\",\n    \"postal_code\",\n    \"political\",\n    \"low_emission_zone\",\n    \"building\",\n    \"building.residential\",\n    \"building.commercial\",\n    \"building.industrial\",\n    \"building.office\",\n    \"building.catering\",\n    \"building.healthcare\",\n    \"building.university\",\n    \"building.college\",\n    \"building.dormitory\",\n    \"building.school\",\n    \"building.driving_school\",\n    \"building.kindergarten\",\n    \"building.public_and_civil\",\n    \"building.sport\",\n    \"building.spa\",\n    \"building.place_of_worship\",\n    \"building.holiday_house\",\n    \"building.accommodation\",\n    \"building.tourism\",\n    \"building.transportation\",\n    \"building.military\",\n    \"building.service\",\n    \"building.facility\",\n    \"building.garage\",\n    \"building.parking\",\n    \"building.toilet\",\n    \"building.prison\",\n    \"building.entertainment\",\n    \"building.historic\",\n    \"camping\",\n    \"camping.camp_pitch\",\n    \"camping.camp_site\",\n    \"camping.summer_camp\",\n    \"camping.caravan_site\",\n    \"catering\",\n    \"catering.restaurant\",\n    \"catering.restaurant.pizza\",\n    \"catering.restaurant.burger\",\n    \"catering.restaurant.regional\",\n    \"catering.restaurant.italian\",\n    \"catering.restaurant.chinese\",\n    \"catering.restaurant.sandwich\",\n    \"catering.restaurant.chicken\",\n    \"catering.restaurant.mexican\",\n    \"catering.restaurant.japanese\",\n    \"catering.restaurant.american\",\n    \"catering.restaurant.kebab\",\n    \"catering.restaurant.indian\",\n    \"catering.restaurant.asian\",\n    \"catering.restaurant.sushi\",\n    \"catering.restaurant.french\",\n    \"catering.restaurant.german\",\n    \"catering.restaurant.thai\",\n    \"catering.restaurant.greek\",\n    \"catering.restaurant.seafood\",\n    \"catering.restaurant.fish_and_chips\",\n    \"catering.restaurant.steak_house\",\n    \"catering.restaurant.international\",\n    \"catering.restaurant.tex-mex\",\n    \"catering.restaurant.vietnamese\",\n    \"catering.restaurant.turkish\",\n    \"catering.restaurant.korean\",\n    \"catering.restaurant.noodle\",\n    \"catering.restaurant.barbecue\",\n    \"catering.restaurant.spanish\",\n    \"catering.restaurant.fish\",\n    \"catering.restaurant.ramen\",\n    \"catering.restaurant.mediterranean\",\n    \"catering.restaurant.friture\",\n    \"catering.restaurant.beef_bowl\",\n    \"catering.restaurant.lebanese\",\n    \"catering.restaurant.wings\",\n    \"catering.restaurant.georgian\",\n    \"catering.restaurant.tapas\",\n    \"catering.restaurant.indonesian\",\n    \"catering.restaurant.arab\",\n    \"catering.restaurant.portuguese\",\n    \"catering.restaurant.russian\",\n    \"catering.restaurant.filipino\",\n    \"catering.restaurant.african\",\n    \"catering.restaurant.malaysian\",\n    \"catering.restaurant.caribbean\",\n    \"catering.restaurant.peruvian\",\n    \"catering.restaurant.bavarian\",\n    \"catering.restaurant.brazilian\",\n    \"catering.restaurant.curry\",\n    \"catering.restaurant.dumpling\",\n    \"catering.restaurant.persian\",\n    \"catering.restaurant.argentinian\",\n    \"catering.restaurant.oriental\",\n    \"catering.restaurant.balkan\",\n    \"catering.restaurant.moroccan\",\n    \"catering.restaurant.pita\",\n    \"catering.restaurant.ethiopian\",\n    \"catering.restaurant.taiwanese\",\n    \"catering.restaurant.latin_american\",\n    \"catering.restaurant.hawaiian\",\n    \"catering.restaurant.irish\",\n    \"catering.restaurant.austrian\",\n    \"catering.restaurant.croatian\",\n    \"catering.restaurant.danish\",\n    \"catering.restaurant.tacos\",\n    \"catering.restaurant.bolivian\",\n    \"catering.restaurant.hungarian\",\n    \"catering.restaurant.western\",\n    \"catering.restaurant.european\",\n    \"catering.restaurant.jamaican\",\n    \"catering.restaurant.cuban\",\n    \"catering.restaurant.soup\",\n    \"catering.restaurant.uzbek\",\n    \"catering.restaurant.nepalese\",\n    \"catering.restaurant.czech\",\n    \"catering.restaurant.syrian\",\n    \"catering.restaurant.afghan\",\n    \"catering.restaurant.malay\",\n    \"catering.restaurant.chili\",\n    \"catering.restaurant.belgian\",\n    \"catering.restaurant.ukrainian\",\n    \"catering.restaurant.swedish\",\n    \"catering.restaurant.pakistani\",\n    \"catering.fast_food\",\n    \"catering.fast_food.pizza\",\n    \"catering.fast_food.burger\",\n    \"catering.fast_food.sandwich\",\n    \"catering.fast_food.kebab\",\n    \"catering.fast_food.fish_and_chips\",\n    \"catering.fast_food.noodle\",\n    \"catering.fast_food.ramen\",\n    \"catering.fast_food.wings\",\n    \"catering.fast_food.tapas\",\n    \"catering.fast_food.pita\",\n    \"catering.fast_food.tacos\",\n    \"catering.fast_food.soup\",\n    \"catering.fast_food.salad\",\n    \"catering.fast_food.hot_dog\",\n    \"catering.cafe\",\n    \"catering.cafe.waffle\",\n    \"catering.cafe.ice_cream\",\n    \"catering.cafe.coffee_shop\",\n    \"catering.cafe.donut\",\n    \"catering.cafe.crepe\",\n    \"catering.cafe.bubble_tea\",\n    \"catering.cafe.cake\",\n    \"catering.cafe.frozen_yogurt\",\n    \"catering.cafe.dessert\",\n    \"catering.cafe.coffee\",\n    \"catering.cafe.tea\",\n    \"catering.food_court\",\n    \"catering.bar\",\n    \"catering.pub\",\n    \"catering.ice_cream\",\n    \"catering.biergarten\",\n    \"catering.taproom\",\n    \"commercial\",\n    \"commercial.supermarket\",\n    \"commercial.marketplace\",\n    \"commercial.shopping_mall\",\n    \"commercial.department_store\",\n    \"commercial.elektronics\",\n    \"commercial.outdoor_and_sport\",\n    \"commercial.outdoor_and_sport.water_sports\",\n    \"commercial.outdoor_and_sport.ski\",\n    \"commercial.outdoor_and_sport.diving\",\n    \"commercial.outdoor_and_sport.hunting\",\n    \"commercial.outdoor_and_sport.bicycle\",\n    \"commercial.outdoor_and_sport.fishing\",\n    \"commercial.outdoor_and_sport.golf\",\n    \"commercial.vehicle\",\n    \"commercial.hobby\",\n    \"commercial.hobby.model\",\n    \"commercial.hobby.anime\",\n    \"commercial.hobby.collecting\",\n    \"commercial.hobby.games\",\n    \"commercial.hobby.brewing\",\n    \"commercial.hobby.photo\",\n    \"commercial.hobby.music\",\n    \"commercial.hobby.sewing_and_knitting\",\n    \"commercial.hobby.art\",\n    \"commercial.books\",\n    \"commercial.gift_and_souvenir\",\n    \"commercial.stationery\",\n    \"commercial.newsagent\",\n    \"commercial.tickets_and_lottery\",\n    \"commercial.clothing\",\n    \"commercial.clothing.shoes\",\n    \"commercial.clothing.clothes\",\n    \"commercial.clothing.underwear\",\n    \"commercial.clothing.sport\",\n    \"commercial.clothing.men\",\n    \"commercial.clothing.women\",\n    \"commercial.clothing.kids\",\n    \"commercial.clothing.accessories\",\n    \"commercial.bag\",\n    \"commercial.baby_goods\",\n    \"commercial.agrarian\",\n    \"commercial.garden\",\n    \"commercial.houseware_and_hardware\",\n    \"commercial.houseware_and_hardware.doityourself\",\n    \"commercial.houseware_and_hardware.hardware_and_tools\",\n    \"commercial.houseware_and_hardware.building_materials\",\n    \"commercial.houseware_and_hardware.building_materials.paint\",\n    \"commercial.houseware_and_hardware.building_materials.glaziery\",\n    \"commercial.houseware_and_hardware.building_materials.doors\",\n    \"commercial.houseware_and_hardware.building_materials.tiles\",\n    \"commercial.houseware_and_hardware.building_materials.windows\",\n    \"commercial.houseware_and_hardware.building_materials.flooring\",\n    \"commercial.houseware_and_hardware.fireplace\",\n    \"commercial.houseware_and_hardware.swimming_pool\",\n    \"commercial.florist\",\n    \"commercial.furniture_and_interior\",\n    \"commercial.furniture_and_interior.lighting\",\n    \"commercial.furniture_and_interior.curtain\",\n    \"commercial.furniture_and_interior.carpet\",\n    \"commercial.furniture_and_interior.kitchen\",\n    \"commercial.furniture_and_interior.bed\",\n    \"commercial.furniture_and_interior.bathroom\",\n    \"commercial.chemist\",\n    \"commercial.health_and_beauty\",\n    \"commercial.health_and_beauty.pharmacy\",\n    \"commercial.health_and_beauty.optician\",\n    \"commercial.health_and_beauty.medical_supply\",\n    \"commercial.health_and_beauty.hearing_aids\",\n    \"commercial.health_and_beauty.herbalist\",\n    \"commercial.health_and_beauty.cosmetics\",\n    \"commercial.health_and_beauty.wigs\",\n    \"commercial.toy_and_game\",\n    \"commercial.pet\",\n    \"commercial.food_and_drink\",\n    \"commercial.food_and_drink.bakery\",\n    \"commercial.food_and_drink.deli\",\n    \"commercial.food_and_drink.frozen_food\",\n    \"commercial.food_and_drink.pasta\",\n    \"commercial.food_and_drink.spices\",\n    \"commercial.food_and_drink.organic\",\n    \"commercial.food_and_drink.honey\",\n    \"commercial.food_and_drink.rice\",\n    \"commercial.food_and_drink.nuts\",\n    \"commercial.food_and_drink.health_food\",\n    \"commercial.food_and_drink.ice_cream\",\n    \"commercial.food_and_drink.seafood\",\n    \"commercial.food_and_drink.fruit_and_vegetable\",\n    \"commercial.food_and_drink.farm\",\n    \"commercial.food_and_drink.confectionery\",\n    \"commercial.food_and_drink.chocolate\",\n    \"commercial.food_and_drink.butcher\",\n    \"commercial.food_and_drink.cheese_and_dairy\",\n    \"commercial.food_and_drink.drinks\",\n    \"commercial.food_and_drink.coffee_and_tea\",\n    \"commercial.convenience\",\n    \"commercial.discount_store\",\n    \"commercial.smoking\",\n    \"commercial.second_hand\",\n    \"commercial.gas\",\n    \"commercial.weapons\",\n    \"commercial.pyrotechnics\",\n    \"commercial.energy\",\n    \"commercial.wedding\",\n    \"commercial.jewelry\",\n    \"commercial.watches\",\n    \"commercial.art\",\n    \"commercial.antiques\",\n    \"commercial.video_and_music\",\n    \"commercial.erotic\",\n    \"commercial.trade\",\n    \"commercial.kiosk\",\n    \"education\",\n    \"education.school\",\n    \"education.driving_school\",\n    \"education.music_school\",\n    \"education.language_school\",\n    \"education.library\",\n    \"education.college\",\n    \"education.university\",\n    \"childcare\",\n    \"childcare.kindergarten\",\n    \"emergency\",\n    \"emergency.fire_hydrant\",\n    \"emergency.fire_service_inlet\",\n    \"emergency.suction_point\",\n    \"emergency.defibrillator\",\n    \"emergency.water_tank\",\n    \"emergency.phone\",\n    \"emergency.assembly_point\",\n    \"emergency.fire_extinguisher\",\n    \"emergency.ambulance_station\",\n    \"emergency.access_point\",\n    \"emergency.siren\",\n    \"emergency.fire_alarm_box\",\n    \"emergency.first_aid_kit\",\n    \"emergency.first_aid\",\n    \"emergency.bleed_control_kit\",\n    \"emergency.emergency_ward_entrance\",\n    \"emergency.control_centre\",\n    \"emergency.fire_water_pond\",\n    \"emergency.fire_hose\",\n    \"emergency.dry_riser_inlet\",\n    \"emergency.fire_detection_system\",\n    \"emergency.key_depot\",\n    \"emergency.fire_lookout\",\n    \"emergency.fire_flapper\",\n    \"emergency.lifeguard\",\n    \"emergency.life_ring\",\n    \"emergency.landing_site\",\n    \"emergency.water_rescue\",\n    \"emergency.marine_rescue\",\n    \"emergency.mountain_rescue\",\n    \"emergency.air_rescue_service\",\n    \"emergency.rescue_box\",\n    \"emergency.slipway\",\n    \"emergency.disaster_response\",\n    \"emergency.disaster_help_point\",\n    \"emergency.drinking_water\",\n    \"emergency.lifeguard_base\",\n    \"entertainment\",\n    \"entertainment.culture\",\n    \"entertainment.culture.theatre\",\n    \"entertainment.culture.arts_centre\",\n    \"entertainment.culture.gallery\",\n    \"entertainment.zoo\",\n    \"entertainment.aquarium\",\n    \"entertainment.planetarium\",\n    \"entertainment.museum\",\n    \"entertainment.cinema\",\n    \"entertainment.amusement_arcade\",\n    \"entertainment.escape_game\",\n    \"entertainment.miniature_golf\",\n    \"entertainment.bowling_alley\",\n    \"entertainment.flying_fox\",\n    \"entertainment.theme_park\",\n    \"entertainment.water_park\",\n    \"entertainment.activity_park\",\n    \"entertainment.activity_park.trampoline\",\n    \"entertainment.activity_park.climbing\",\n    \"healthcare\",\n    \"healthcare.clinic_or_praxis\",\n    \"healthcare.clinic_or_praxis.allergology\",\n    \"healthcare.clinic_or_praxis.vascular_surgery\",\n    \"healthcare.clinic_or_praxis.urology\",\n    \"healthcare.clinic_or_praxis.trauma\",\n    \"healthcare.clinic_or_praxis.rheumatology\",\n    \"healthcare.clinic_or_praxis.radiology\",\n    \"healthcare.clinic_or_praxis.pulmonology\",\n    \"healthcare.clinic_or_praxis.psychiatry\",\n    \"healthcare.clinic_or_praxis.paediatrics\",\n    \"healthcare.clinic_or_praxis.otolaryngology\",\n    \"healthcare.clinic_or_praxis.orthopaedics\",\n    \"healthcare.clinic_or_praxis.ophthalmology\",\n    \"healthcare.clinic_or_praxis.occupational\",\n    \"healthcare.clinic_or_praxis.gynaecology\",\n    \"healthcare.clinic_or_praxis.general\",\n    \"healthcare.clinic_or_praxis.gastroenterology\",\n    \"healthcare.clinic_or_praxis.endocrinology\",\n    \"healthcare.clinic_or_praxis.dermatology\",\n    \"healthcare.clinic_or_praxis.cardiology\",\n    \"healthcare.dentist\",\n    \"healthcare.dentist.orthodontics\",\n    \"healthcare.hospital\",\n    \"healthcare.pharmacy\",\n    \"heritage\",\n    \"heritage.unesco\",\n    \"traffic_signals\",\n    \"highway\",\n    \"highway.residential\",\n    \"highway.public\",\n    \"highway.service\",\n    \"highway.track\",\n    \"highway.footway\",\n    \"highway.busway\",\n    \"highway.cycleway\",\n    \"highway.pedestrian\",\n    \"highway.path\",\n    \"highway.living_street\",\n    \"highway.roundabout\",\n    \"highway.primary\",\n    \"highway.primary.link\",\n    \"highway.secondary\",\n    \"highway.secondary.link\",\n    \"highway.tertiary\",\n    \"highway.tertiary.link\",\n    \"highway.trunk\",\n    \"highway.trunk.link\",\n    \"highway.motorway\",\n    \"highway.motorway.junction\",\n    \"highway.motorway.link\",\n    \"leisure\",\n    \"leisure.picnic\",\n    \"leisure.picnic.picnic_site\",\n    \"leisure.picnic.picnic_table\",\n    \"leisure.picnic.bbq\",\n    \"leisure.playground\",\n    \"leisure.spa\",\n    \"leisure.spa.public_bath\",\n    \"leisure.spa.sauna\",\n    \"leisure.park\",\n    \"leisure.park.garden\",\n    \"leisure.park.nature_reserve\",\n    \"man_made\",\n    \"man_made.pier\",\n    \"man_made.breakwater\",\n    \"man_made.tower\",\n    \"man_made.water_tower\",\n    \"man_made.bridge\",\n    \"man_made.lighthouse\",\n    \"man_made.windmill\",\n    \"man_made.watermill\",\n    \"maritime\",\n    \"maritime.marina\",\n    \"memorial\",\n    \"memorial.graveyard\",\n    \"memorial.cemetery\",\n    \"memorial.cemetery.sector\",\n    \"memorial.christian\",\n    \"memorial.christian.catholic\",\n    \"memorial.christian.orthodox\",\n    \"memorial.christian.protestant\",\n    \"memorial.jewish\",\n    \"memorial.muslim\",\n    \"memorial.buddhist\",\n    \"memorial.hindu\",\n    \"natural\",\n    \"natural.forest\",\n    \"natural.coastal\",\n    \"natural.water\",\n    \"natural.water.sea\",\n    \"natural.water.bay\",\n    \"natural.water.spring\",\n    \"natural.water.reef\",\n    \"natural.water.inland\",\n    \"natural.water.moat\",\n    \"natural.water.river_system\",\n    \"natural.water.whitewater\",\n    \"natural.water.hot_spring\",\n    \"natural.water.geyser\",\n    \"natural.desert\",\n    \"natural.mountain\",\n    \"natural.mountain.peak\",\n    \"natural.mountain.hill\",\n    \"natural.mountain.fell\",\n    \"natural.mountain.volcano\",\n    \"natural.mountain.glacier\",\n    \"natural.mountain.cliff\",\n    \"natural.mountain.rock\",\n    \"natural.mountain.cave_entrance\",\n    \"natural.wetland\",\n    \"natural.heath_moor\",\n    \"natural.sand\",\n    \"natural.sand.dune\",\n    \"natural.protected_area\",\n    \"national_park\",\n    \"office\",\n    \"office.government\",\n    \"office.government.administrative\",\n    \"office.government.register_office\",\n    \"office.government.tax\",\n    \"office.government.public_service\",\n    \"office.government.ministry\",\n    \"office.government.healthcare\",\n    \"office.government.prosecutor\",\n    \"office.government.transportation\",\n    \"office.government.social_services\",\n    \"office.government.legislative\",\n    \"office.government.education\",\n    \"office.government.customs\",\n    \"office.government.embassy\",\n    \"office.government.social_security\",\n    \"office.government.environment\",\n    \"office.government.migration\",\n    \"office.government.cadaster\",\n    \"office.government.forestry\",\n    \"office.government.agriculture\",\n    \"office.company\",\n    \"office.estate_agent\",\n    \"office.insurance\",\n    \"office.lawyer\",\n    \"office.telecommunication\",\n    \"office.educational_institution\",\n    \"office.association\",\n    \"office.non_profit\",\n    \"office.diplomatic\",\n    \"office.it\",\n    \"office.accountant\",\n    \"office.employment_agency\",\n    \"office.religion\",\n    \"office.research\",\n    \"office.architect\",\n    \"office.financial\",\n    \"office.tax_advisor\",\n    \"office.advertising_agency\",\n    \"office.notary\",\n    \"office.newspaper\",\n    \"office.political_party\",\n    \"office.logistics\",\n    \"office.energy_supplier\",\n    \"office.travel_agent\",\n    \"office.financial_advisor\",\n    \"office.consulting\",\n    \"office.foundation\",\n    \"office.coworking\",\n    \"office.water_utility\",\n    \"office.forestry\",\n    \"office.charity\",\n    \"office.security\",\n    \"parking\",\n    \"parking.cars\",\n    \"parking.cars.surface\",\n    \"parking.cars.multistorey\",\n    \"parking.cars.underground\",\n    \"parking.cars.rooftop\",\n    \"parking.surface\",\n    \"parking.multistorey\",\n    \"parking.underground\",\n    \"parking.rooftop\",\n    \"parking.motorcycle\",\n    \"parking.bicycles\",\n    \"pet\",\n    \"pet.shop\",\n    \"pet.veterinary\",\n    \"pet.animal_boarding\",\n    \"pet.animal_shelter\",\n    \"pet.service\",\n    \"pet.dog_park\",\n    \"pet.crematorium\",\n    \"continent\",\n    \"country\",\n    \"island\",\n    \"populated_place\",\n    \"populated_place.hamlet\",\n    \"populated_place.village\",\n    \"populated_place.unpopulated_locality\",\n    \"populated_place.neighbourhood\",\n    \"populated_place.suburb\",\n    \"populated_place.town\",\n    \"populated_place.city_block\",\n    \"populated_place.quarter\",\n    \"populated_place.city\",\n    \"populated_place.allotments\",\n    \"populated_place.county\",\n    \"populated_place.municipality\",\n    \"populated_place.district\",\n    \"populated_place.region\",\n    \"populated_place.state\",\n    \"populated_place.borough\",\n    \"populated_place.subdistrict\",\n    \"populated_place.province\",\n    \"populated_place.township\",\n    \"power\",\n    \"power.tower\",\n    \"power.pole\",\n    \"power.portal\",\n    \"power.switch\",\n    \"power.plant\",\n    \"power.plant.solar\",\n    \"power.plant.hydro\",\n    \"power.plant.wind\",\n    \"power.plant.gas\",\n    \"power.plant.coal\",\n    \"power.plant.biomass\",\n    \"power.plant.oil\",\n    \"power.plant.waste\",\n    \"power.plant.geothermal\",\n    \"power.plant.nuclear\",\n    \"power.catenary_mast\",\n    \"power.cable\",\n    \"power.terminal\",\n    \"power.insulator\",\n    \"power.heliostat\",\n    \"power.connection\",\n    \"power.inverter\",\n    \"power.converter\",\n    \"power.compensator\",\n    \"power.generator\",\n    \"power.generator.solar\",\n    \"power.generator.wind\",\n    \"power.generator.gas\",\n    \"power.generator.biomass\",\n    \"power.generator.hydro\",\n    \"power.generator.oil\",\n    \"power.generator.coal\",\n    \"power.generator.nuclear\",\n    \"power.generator.geothermal\",\n    \"power.line\",\n    \"power.circuit\",\n    \"power.minor_line\",\n    \"power.substation\",\n    \"power.transformer\",\n    \"production\",\n    \"production.factory\",\n    \"production.winery\",\n    \"production.brewery\",\n    \"production.cheese\",\n    \"production.pottery\",\n    \"production.beekeeper\",\n    \"production.distillery\",\n    \"public_transport\",\n    \"public_transport.train\",\n    \"public_transport.light_rail\",\n    \"public_transport.monorail\",\n    \"public_transport.subway\",\n    \"public_transport.subway.entrance\",\n    \"public_transport.bus\",\n    \"public_transport.tram\",\n    \"public_transport.platform\",\n    \"public_transport.ferry\",\n    \"public_transport.aerialway\",\n    \"railway\",\n    \"railway.train\",\n    \"railway.subway\",\n    \"railway.tram\",\n    \"railway.light_rail\",\n    \"railway.funicular\",\n    \"railway.construction\",\n    \"railway.underground\",\n    \"railway.surface\",\n    \"religion\",\n    \"religion.place_of_worship\",\n    \"religion.place_of_worship.buddhism\",\n    \"religion.place_of_worship.christianity\",\n    \"religion.place_of_worship.hinduism\",\n    \"religion.place_of_worship.islam\",\n    \"religion.place_of_worship.judaism\",\n    \"religion.place_of_worship.shinto\",\n    \"religion.place_of_worship.sikhism\",\n    \"religion.place_of_worship.multifaith\",\n    \"rental\",\n    \"rental.car\",\n    \"rental.storage\",\n    \"rental.bicycle\",\n    \"rental.boat\",\n    \"rental.ski\",\n    \"service\",\n    \"service.financial\",\n    \"service.financial.atm\",\n    \"service.financial.payment_terminal\",\n    \"service.financial.bank\",\n    \"service.financial.bureau_de_change\",\n    \"service.financial.money_transfer\",\n    \"service.financial.money_lender\",\n    \"service.cleaning\",\n    \"service.cleaning.lavoir\",\n    \"service.cleaning.laundry\",\n    \"service.cleaning.dry_cleaning\",\n    \"service.crematorium\",\n    \"service.crematorium.pet\",\n    \"service.funeral_hall\",\n    \"service.mortuary\",\n    \"service.place_of_mourning\",\n    \"service.travel_agency\",\n    \"service.post\",\n    \"service.post.office\",\n    \"service.post.box\",\n    \"service.post.parcel_locker\",\n    \"service.police\",\n    \"service.fire_station\",\n    \"service.vehicle\",\n    \"service.vehicle.fuel\",\n    \"service.vehicle.car_wash\",\n    \"service.vehicle.charging_station\",\n    \"service.vehicle.repair\",\n    \"service.vehicle.repair.car\",\n    \"service.vehicle.repair.motorcycle\",\n    \"service.beauty\",\n    \"service.beauty.hairdresser\",\n    \"service.beauty.spa\",\n    \"service.beauty.massage\",\n    \"service.beauty.tanning_salon\",\n    \"service.beauty.tattoo\",\n    \"service.advertising\",\n    \"service.advertising.billboard\",\n    \"service.advertising.column\",\n    \"service.tailor\",\n    \"service.funeral_directors\",\n    \"service.bookmaker\",\n    \"service.estate_agent\",\n    \"service.locksmith\",\n    \"service.taxi\",\n    \"service.social_facility\",\n    \"service.social_facility.shelter\",\n    \"service.social_facility.food\",\n    \"service.social_facility.day_care\",\n    \"service.social_facility.nursing_home\",\n    \"service.social_facility.clothers\",\n    \"service.social_facility.retirement_home\",\n    \"service.recycling\",\n    \"service.recycling.container\",\n    \"service.recycling.centre\",\n    \"service.recycling.bin\",\n    \"service.blacksmith\",\n    \"service.carpenter\",\n    \"service.chimney_sweeper\",\n    \"service.electrician\",\n    \"service.key_cutter\",\n    \"service.metal_construction\",\n    \"service.photographer\",\n    \"service.shoemaker\",\n    \"service.watchmaker\",\n    \"ski\",\n    \"ski.lift\",\n    \"ski.lift.cable_car\",\n    \"ski.lift.gondola\",\n    \"ski.lift.mixed_lift\",\n    \"ski.lift.chair_lift\",\n    \"ski.lift.tow_line\",\n    \"ski.lift.magic_carpet\",\n    \"sport\",\n    \"sport.stadium\",\n    \"sport.dive_centre\",\n    \"sport.shooting\",\n    \"sport.skateboard\",\n    \"sport.fishing\",\n    \"sport.golf_course\",\n    \"sport.dojo\",\n    \"sport.horse_riding\",\n    \"sport.ice_rink\",\n    \"sport.pitch\",\n    \"sport.sports_centre\",\n    \"sport.sports_hall\",\n    \"sport.swimming_pool\",\n    \"sport.track\",\n    \"sport.fitness\",\n    \"sport.fitness.gym\",\n    \"sport.fitness.fitness_centre\",\n    \"sport.fitness.fitness_station\",\n    \"tourism\",\n    \"tourism.information\",\n    \"tourism.information.office\",\n    \"tourism.information.map\",\n    \"tourism.information.ranger_station\",\n    \"tourism.attraction\",\n    \"tourism.attraction.artwork\",\n    \"tourism.attraction.artwork.mural\",\n    \"tourism.attraction.artwork.sculpture\",\n    \"tourism.attraction.artwork.statue\",\n    \"tourism.attraction.viewpoint\",\n    \"tourism.attraction.fountain\",\n    \"tourism.attraction.clock\",\n    \"tourism.sights\",\n    \"tourism.sights.square\",\n    \"tourism.sights.place_of_worship\",\n    \"tourism.sights.place_of_worship.church\",\n    \"tourism.sights.place_of_worship.chapel\",\n    \"tourism.sights.place_of_worship.cathedral\",\n    \"tourism.sights.place_of_worship.mosque\",\n    \"tourism.sights.place_of_worship.synagogue\",\n    \"tourism.sights.place_of_worship.temple\",\n    \"tourism.sights.place_of_worship.shrine\",\n    \"tourism.sights.monastery\",\n    \"tourism.sights.city_hall\",\n    \"tourism.sights.conference_centre\",\n    \"tourism.sights.lighthouse\",\n    \"tourism.sights.windmill\",\n    \"tourism.sights.tower\",\n    \"tourism.sights.battlefield\",\n    \"tourism.sights.fort\",\n    \"tourism.sights.building\",\n    \"tourism.sights.manor\",\n    \"tourism.sights.castle\",\n    \"tourism.sights.mine\",\n    \"tourism.sights.ruines\",\n    \"tourism.sights.archaeological_site\",\n    \"tourism.sights.city_gate\",\n    \"tourism.sights.wreck\",\n    \"tourism.sights.bridge\",\n    \"tourism.sights.memorial\",\n    \"tourism.sights.memorial.aircraft\",\n    \"tourism.sights.memorial.locomotive\",\n    \"tourism.sights.memorial.railway_car\",\n    \"tourism.sights.memorial.ship\",\n    \"tourism.sights.memorial.tank\",\n    \"tourism.sights.memorial.tomb\",\n    \"tourism.sights.memorial.monument\",\n    \"tourism.sights.memorial.wayside_cross\",\n    \"tourism.sights.memorial.boundary_stone\",\n    \"tourism.sights.memorial.pillory\",\n    \"tourism.sights.memorial.milestone\",\n    \"tourism.sights.memorial.necropolis\",\n    \"tourism.sights.memorial.tumulus\",\n    \"waterway\",\n    \"waterway.navigation\",\n    \"waterway.channels\",\n    \"waterway.river_system\",\n    \"waterway.hydraulic_structures\",\n    \"waterway.whitewater\",\n    \"waterway.water_point\"\n  ]\n}"
                          }
                        ],
                        "structuredContent": {
                          "count": 833,
                          "categories": [
                            "accommodation",
                            "accommodation.hotel",
                            "accommodation.hut",
                            "accommodation.apartment",
                            "accommodation.chalet",
                            "accommodation.guest_house",
                            "accommodation.hostel",
                            "accommodation.motel",
                            "activity",
                            "activity.community_center",
                            "activity.events_venue",
                            "activity.hackerspace",
                            "activity.sport_club",
                            "adult",
                            "adult.nightclub",
                            "adult.stripclub",
                            "adult.swingerclub",
                            "adult.brothel",
                            "adult.casino",
                            "adult.adult_gaming_centre",
                            "airport",
                            "airport.terminal",
                            "airport.private",
                            "airport.international",
                            "airport.military",
                            "airport.gliding",
                            "airport.airfield",
                            "amenity",
                            "amenity.toilet",
                            "amenity.toilet.changing_table",
                            "amenity.drinking_water",
                            "amenity.give_box",
                            "amenity.give_box.food",
                            "amenity.give_box.books",
                            "beach",
                            "beach.beach_resort",
                            "administrative",
                            "administrative.continent_level",
                            "administrative.country_level",
                            "administrative.country_part_level",
                            "administrative.state_level",
                            "administrative.county_level",
                            "administrative.city_level",
                            "administrative.district_level",
                            "administrative.suburb_level",
                            "administrative.neighbourhood_level",
                            "postal_code",
                            "political",
                            "low_emission_zone",
                            "building",
                            "building.residential",
                            "building.commercial",
                            "building.industrial",
                            "building.office",
                            "building.catering",
                            "building.healthcare",
                            "building.university",
                            "building.college",
                            "building.dormitory",
                            "building.school",
                            "building.driving_school",
                            "building.kindergarten",
                            "building.public_and_civil",
                            "building.sport",
                            "building.spa",
                            "building.place_of_worship",
                            "building.holiday_house",
                            "building.accommodation",
                            "building.tourism",
                            "building.transportation",
                            "building.military",
                            "building.service",
                            "building.facility",
                            "building.garage",
                            "building.parking",
                            "building.toilet",
                            "building.prison",
                            "building.entertainment",
                            "building.historic",
                            "camping",
                            "camping.camp_pitch",
                            "camping.camp_site",
                            "camping.summer_camp",
                            "camping.caravan_site",
                            "catering",
                            "catering.restaurant",
                            "catering.restaurant.pizza",
                            "catering.restaurant.burger",
                            "catering.restaurant.regional",
                            "catering.restaurant.italian",
                            "catering.restaurant.chinese",
                            "catering.restaurant.sandwich",
                            "catering.restaurant.chicken",
                            "catering.restaurant.mexican",
                            "catering.restaurant.japanese",
                            "catering.restaurant.american",
                            "catering.restaurant.kebab",
                            "catering.restaurant.indian",
                            "catering.restaurant.asian",
                            "catering.restaurant.sushi",
                            "catering.restaurant.french",
                            "catering.restaurant.german",
                            "catering.restaurant.thai",
                            "catering.restaurant.greek",
                            "catering.restaurant.seafood",
                            "catering.restaurant.fish_and_chips",
                            "catering.restaurant.steak_house",
                            "catering.restaurant.international",
                            "catering.restaurant.tex-mex",
                            "catering.restaurant.vietnamese",
                            "catering.restaurant.turkish",
                            "catering.restaurant.korean",
                            "catering.restaurant.noodle",
                            "catering.restaurant.barbecue",
                            "catering.restaurant.spanish",
                            "catering.restaurant.fish",
                            "catering.restaurant.ramen",
                            "catering.restaurant.mediterranean",
                            "catering.restaurant.friture",
                            "catering.restaurant.beef_bowl",
                            "catering.restaurant.lebanese",
                            "catering.restaurant.wings",
                            "catering.restaurant.georgian",
                            "catering.restaurant.tapas",
                            "catering.restaurant.indonesian",
                            "catering.restaurant.arab",
                            "catering.restaurant.portuguese",
                            "catering.restaurant.russian",
                            "catering.restaurant.filipino",
                            "catering.restaurant.african",
                            "catering.restaurant.malaysian",
                            "catering.restaurant.caribbean",
                            "catering.restaurant.peruvian",
                            "catering.restaurant.bavarian",
                            "catering.restaurant.brazilian",
                            "catering.restaurant.curry",
                            "catering.restaurant.dumpling",
                            "catering.restaurant.persian",
                            "catering.restaurant.argentinian",
                            "catering.restaurant.oriental",
                            "catering.restaurant.balkan",
                            "catering.restaurant.moroccan",
                            "catering.restaurant.pita",
                            "catering.restaurant.ethiopian",
                            "catering.restaurant.taiwanese",
                            "catering.restaurant.latin_american",
                            "catering.restaurant.hawaiian",
                            "catering.restaurant.irish",
                            "catering.restaurant.austrian",
                            "catering.restaurant.croatian",
                            "catering.restaurant.danish",
                            "catering.restaurant.tacos",
                            "catering.restaurant.bolivian",
                            "catering.restaurant.hungarian",
                            "catering.restaurant.western",
                            "catering.restaurant.european",
                            "catering.restaurant.jamaican",
                            "catering.restaurant.cuban",
                            "catering.restaurant.soup",
                            "catering.restaurant.uzbek",
                            "catering.restaurant.nepalese",
                            "catering.restaurant.czech",
                            "catering.restaurant.syrian",
                            "catering.restaurant.afghan",
                            "catering.restaurant.malay",
                            "catering.restaurant.chili",
                            "catering.restaurant.belgian",
                            "catering.restaurant.ukrainian",
                            "catering.restaurant.swedish",
                            "catering.restaurant.pakistani",
                            "catering.fast_food",
                            "catering.fast_food.pizza",
                            "catering.fast_food.burger",
                            "catering.fast_food.sandwich",
                            "catering.fast_food.kebab",
                            "catering.fast_food.fish_and_chips",
                            "catering.fast_food.noodle",
                            "catering.fast_food.ramen",
                            "catering.fast_food.wings",
                            "catering.fast_food.tapas",
                            "catering.fast_food.pita",
                            "catering.fast_food.tacos",
                            "catering.fast_food.soup",
                            "catering.fast_food.salad",
                            "catering.fast_food.hot_dog",
                            "catering.cafe",
                            "catering.cafe.waffle",
                            "catering.cafe.ice_cream",
                            "catering.cafe.coffee_shop",
                            "catering.cafe.donut",
                            "catering.cafe.crepe",
                            "catering.cafe.bubble_tea",
                            "catering.cafe.cake",
                            "catering.cafe.frozen_yogurt",
                            "catering.cafe.dessert",
                            "catering.cafe.coffee",
                            "catering.cafe.tea",
                            "catering.food_court",
                            "catering.bar",
                            "catering.pub",
                            "catering.ice_cream",
                            "catering.biergarten",
                            "catering.taproom",
                            "commercial",
                            "commercial.supermarket",
                            "commercial.marketplace",
                            "commercial.shopping_mall",
                            "commercial.department_store",
                            "commercial.elektronics",
                            "commercial.outdoor_and_sport",
                            "commercial.outdoor_and_sport.water_sports",
                            "commercial.outdoor_and_sport.ski",
                            "commercial.outdoor_and_sport.diving",
                            "commercial.outdoor_and_sport.hunting",
                            "commercial.outdoor_and_sport.bicycle",
                            "commercial.outdoor_and_sport.fishing",
                            "commercial.outdoor_and_sport.golf",
                            "commercial.vehicle",
                            "commercial.hobby",
                            "commercial.hobby.model",
                            "commercial.hobby.anime",
                            "commercial.hobby.collecting",
                            "commercial.hobby.games",
                            "commercial.hobby.brewing",
                            "commercial.hobby.photo",
                            "commercial.hobby.music",
                            "commercial.hobby.sewing_and_knitting",
                            "commercial.hobby.art",
                            "commercial.books",
                            "commercial.gift_and_souvenir",
                            "commercial.stationery",
                            "commercial.newsagent",
                            "commercial.tickets_and_lottery",
                            "commercial.clothing",
                            "commercial.clothing.shoes",
                            "commercial.clothing.clothes",
                            "commercial.clothing.underwear",
                            "commercial.clothing.sport",
                            "commercial.clothing.men",
                            "commercial.clothing.women",
                            "commercial.clothing.kids",
                            "commercial.clothing.accessories",
                            "commercial.bag",
                            "commercial.baby_goods",
                            "commercial.agrarian",
                            "commercial.garden",
                            "commercial.houseware_and_hardware",
                            "commercial.houseware_and_hardware.doityourself",
                            "commercial.houseware_and_hardware.hardware_and_tools",
                            "commercial.houseware_and_hardware.building_materials",
                            "commercial.houseware_and_hardware.building_materials.paint",
                            "commercial.houseware_and_hardware.building_materials.glaziery",
                            "commercial.houseware_and_hardware.building_materials.doors",
                            "commercial.houseware_and_hardware.building_materials.tiles",
                            "commercial.houseware_and_hardware.building_materials.windows",
                            "commercial.houseware_and_hardware.building_materials.flooring",
                            "commercial.houseware_and_hardware.fireplace",
                            "commercial.houseware_and_hardware.swimming_pool",
                            "commercial.florist",
                            "commercial.furniture_and_interior",
                            "commercial.furniture_and_interior.lighting",
                            "commercial.furniture_and_interior.curtain",
                            "commercial.furniture_and_interior.carpet",
                            "commercial.furniture_and_interior.kitchen",
                            "commercial.furniture_and_interior.bed",
                            "commercial.furniture_and_interior.bathroom",
                            "commercial.chemist",
                            "commercial.health_and_beauty",
                            "commercial.health_and_beauty.pharmacy",
                            "commercial.health_and_beauty.optician",
                            "commercial.health_and_beauty.medical_supply",
                            "commercial.health_and_beauty.hearing_aids",
                            "commercial.health_and_beauty.herbalist",
                            "commercial.health_and_beauty.cosmetics",
                            "commercial.health_and_beauty.wigs",
                            "commercial.toy_and_game",
                            "commercial.pet",
                            "commercial.food_and_drink",
                            "commercial.food_and_drink.bakery",
                            "commercial.food_and_drink.deli",
                            "commercial.food_and_drink.frozen_food",
                            "commercial.food_and_drink.pasta",
                            "commercial.food_and_drink.spices",
                            "commercial.food_and_drink.organic",
                            "commercial.food_and_drink.honey",
                            "commercial.food_and_drink.rice",
                            "commercial.food_and_drink.nuts",
                            "commercial.food_and_drink.health_food",
                            "commercial.food_and_drink.ice_cream",
                            "commercial.food_and_drink.seafood",
                            "commercial.food_and_drink.fruit_and_vegetable",
                            "commercial.food_and_drink.farm",
                            "commercial.food_and_drink.confectionery",
                            "commercial.food_and_drink.chocolate",
                            "commercial.food_and_drink.butcher",
                            "commercial.food_and_drink.cheese_and_dairy",
                            "commercial.food_and_drink.drinks",
                            "commercial.food_and_drink.coffee_and_tea",
                            "commercial.convenience",
                            "commercial.discount_store",
                            "commercial.smoking",
                            "commercial.second_hand",
                            "commercial.gas",
                            "commercial.weapons",
                            "commercial.pyrotechnics",
                            "commercial.energy",
                            "commercial.wedding",
                            "commercial.jewelry",
                            "commercial.watches",
                            "commercial.art",
                            "commercial.antiques",
                            "commercial.video_and_music",
                            "commercial.erotic",
                            "commercial.trade",
                            "commercial.kiosk",
                            "education",
                            "education.school",
                            "education.driving_school",
                            "education.music_school",
                            "education.language_school",
                            "education.library",
                            "education.college",
                            "education.university",
                            "childcare",
                            "childcare.kindergarten",
                            "emergency",
                            "emergency.fire_hydrant",
                            "emergency.fire_service_inlet",
                            "emergency.suction_point",
                            "emergency.defibrillator",
                            "emergency.water_tank",
                            "emergency.phone",
                            "emergency.assembly_point",
                            "emergency.fire_extinguisher",
                            "emergency.ambulance_station",
                            "emergency.access_point",
                            "emergency.siren",
                            "emergency.fire_alarm_box",
                            "emergency.first_aid_kit",
                            "emergency.first_aid",
                            "emergency.bleed_control_kit",
                            "emergency.emergency_ward_entrance",
                            "emergency.control_centre",
                            "emergency.fire_water_pond",
                            "emergency.fire_hose",
                            "emergency.dry_riser_inlet",
                            "emergency.fire_detection_system",
                            "emergency.key_depot",
                            "emergency.fire_lookout",
                            "emergency.fire_flapper",
                            "emergency.lifeguard",
                            "emergency.life_ring",
                            "emergency.landing_site",
                            "emergency.water_rescue",
                            "emergency.marine_rescue",
                            "emergency.mountain_rescue",
                            "emergency.air_rescue_service",
                            "emergency.rescue_box",
                            "emergency.slipway",
                            "emergency.disaster_response",
                            "emergency.disaster_help_point",
                            "emergency.drinking_water",
                            "emergency.lifeguard_base",
                            "entertainment",
                            "entertainment.culture",
                            "entertainment.culture.theatre",
                            "entertainment.culture.arts_centre",
                            "entertainment.culture.gallery",
                            "entertainment.zoo",
                            "entertainment.aquarium",
                            "entertainment.planetarium",
                            "entertainment.museum",
                            "entertainment.cinema",
                            "entertainment.amusement_arcade",
                            "entertainment.escape_game",
                            "entertainment.miniature_golf",
                            "entertainment.bowling_alley",
                            "entertainment.flying_fox",
                            "entertainment.theme_park",
                            "entertainment.water_park",
                            "entertainment.activity_park",
                            "entertainment.activity_park.trampoline",
                            "entertainment.activity_park.climbing",
                            "healthcare",
                            "healthcare.clinic_or_praxis",
                            "healthcare.clinic_or_praxis.allergology",
                            "healthcare.clinic_or_praxis.vascular_surgery",
                            "healthcare.clinic_or_praxis.urology",
                            "healthcare.clinic_or_praxis.trauma",
                            "healthcare.clinic_or_praxis.rheumatology",
                            "healthcare.clinic_or_praxis.radiology",
                            "healthcare.clinic_or_praxis.pulmonology",
                            "healthcare.clinic_or_praxis.psychiatry",
                            "healthcare.clinic_or_praxis.paediatrics",
                            "healthcare.clinic_or_praxis.otolaryngology",
                            "healthcare.clinic_or_praxis.orthopaedics",
                            "healthcare.clinic_or_praxis.ophthalmology",
                            "healthcare.clinic_or_praxis.occupational",
                            "healthcare.clinic_or_praxis.gynaecology",
                            "healthcare.clinic_or_praxis.general",
                            "healthcare.clinic_or_praxis.gastroenterology",
                            "healthcare.clinic_or_praxis.endocrinology",
                            "healthcare.clinic_or_praxis.dermatology",
                            "healthcare.clinic_or_praxis.cardiology",
                            "healthcare.dentist",
                            "healthcare.dentist.orthodontics",
                            "healthcare.hospital",
                            "healthcare.pharmacy",
                            "heritage",
                            "heritage.unesco",
                            "traffic_signals",
                            "highway",
                            "highway.residential",
                            "highway.public",
                            "highway.service",
                            "highway.track",
                            "highway.footway",
                            "highway.busway",
                            "highway.cycleway",
                            "highway.pedestrian",
                            "highway.path",
                            "highway.living_street",
                            "highway.roundabout",
                            "highway.primary",
                            "highway.primary.link",
                            "highway.secondary",
                            "highway.secondary.link",
                            "highway.tertiary",
                            "highway.tertiary.link",
                            "highway.trunk",
                            "highway.trunk.link",
                            "highway.motorway",
                            "highway.motorway.junction",
                            "highway.motorway.link",
                            "leisure",
                            "leisure.picnic",
                            "leisure.picnic.picnic_site",
                            "leisure.picnic.picnic_table",
                            "leisure.picnic.bbq",
                            "leisure.playground",
                            "leisure.spa",
                            "leisure.spa.public_bath",
                            "leisure.spa.sauna",
                            "leisure.park",
                            "leisure.park.garden",
                            "leisure.park.nature_reserve",
                            "man_made",
                            "man_made.pier",
                            "man_made.breakwater",
                            "man_made.tower",
                            "man_made.water_tower",
                            "man_made.bridge",
                            "man_made.lighthouse",
                            "man_made.windmill",
                            "man_made.watermill",
                            "maritime",
                            "maritime.marina",
                            "memorial",
                            "memorial.graveyard",
                            "memorial.cemetery",
                            "memorial.cemetery.sector",
                            "memorial.christian",
                            "memorial.christian.catholic",
                            "memorial.christian.orthodox",
                            "memorial.christian.protestant",
                            "memorial.jewish",
                            "memorial.muslim",
                            "memorial.buddhist",
                            "memorial.hindu",
                            "natural",
                            "natural.forest",
                            "natural.coastal",
                            "natural.water",
                            "natural.water.sea",
                            "natural.water.bay",
                            "natural.water.spring",
                            "natural.water.reef",
                            "natural.water.inland",
                            "natural.water.moat",
                            "natural.water.river_system",
                            "natural.water.whitewater",
                            "natural.water.hot_spring",
                            "natural.water.geyser",
                            "natural.desert",
                            "natural.mountain",
                            "natural.mountain.peak",
                            "natural.mountain.hill",
                            "natural.mountain.fell",
                            "natural.mountain.volcano",
                            "natural.mountain.glacier",
                            "natural.mountain.cliff",
                            "natural.mountain.rock",
                            "natural.mountain.cave_entrance",
                            "natural.wetland",
                            "natural.heath_moor",
                            "natural.sand",
                            "natural.sand.dune",
                            "natural.protected_area",
                            "national_park",
                            "office",
                            "office.government",
                            "office.government.administrative",
                            "office.government.register_office",
                            "office.government.tax",
                            "office.government.public_service",
                            "office.government.ministry",
                            "office.government.healthcare",
                            "office.government.prosecutor",
                            "office.government.transportation",
                            "office.government.social_services",
                            "office.government.legislative",
                            "office.government.education",
                            "office.government.customs",
                            "office.government.embassy",
                            "office.government.social_security",
                            "office.government.environment",
                            "office.government.migration",
                            "office.government.cadaster",
                            "office.government.forestry",
                            "office.government.agriculture",
                            "office.company",
                            "office.estate_agent",
                            "office.insurance",
                            "office.lawyer",
                            "office.telecommunication",
                            "office.educational_institution",
                            "office.association",
                            "office.non_profit",
                            "office.diplomatic",
                            "office.it",
                            "office.accountant",
                            "office.employment_agency",
                            "office.religion",
                            "office.research",
                            "office.architect",
                            "office.financial",
                            "office.tax_advisor",
                            "office.advertising_agency",
                            "office.notary",
                            "office.newspaper",
                            "office.political_party",
                            "office.logistics",
                            "office.energy_supplier",
                            "office.travel_agent",
                            "office.financial_advisor",
                            "office.consulting",
                            "office.foundation",
                            "office.coworking",
                            "office.water_utility",
                            "office.forestry",
                            "office.charity",
                            "office.security",
                            "parking",
                            "parking.cars",
                            "parking.cars.surface",
                            "parking.cars.multistorey",
                            "parking.cars.underground",
                            "parking.cars.rooftop",
                            "parking.surface",
                            "parking.multistorey",
                            "parking.underground",
                            "parking.rooftop",
                            "parking.motorcycle",
                            "parking.bicycles",
                            "pet",
                            "pet.shop",
                            "pet.veterinary",
                            "pet.animal_boarding",
                            "pet.animal_shelter",
                            "pet.service",
                            "pet.dog_park",
                            "pet.crematorium",
                            "continent",
                            "country",
                            "island",
                            "populated_place",
                            "populated_place.hamlet",
                            "populated_place.village",
                            "populated_place.unpopulated_locality",
                            "populated_place.neighbourhood",
                            "populated_place.suburb",
                            "populated_place.town",
                            "populated_place.city_block",
                            "populated_place.quarter",
                            "populated_place.city",
                            "populated_place.allotments",
                            "populated_place.county",
                            "populated_place.municipality",
                            "populated_place.district",
                            "populated_place.region",
                            "populated_place.state",
                            "populated_place.borough",
                            "populated_place.subdistrict",
                            "populated_place.province",
                            "populated_place.township",
                            "power",
                            "power.tower",
                            "power.pole",
                            "power.portal",
                            "power.switch",
                            "power.plant",
                            "power.plant.solar",
                            "power.plant.hydro",
                            "power.plant.wind",
                            "power.plant.gas",
                            "power.plant.coal",
                            "power.plant.biomass",
                            "power.plant.oil",
                            "power.plant.waste",
                            "power.plant.geothermal",
                            "power.plant.nuclear",
                            "power.catenary_mast",
                            "power.cable",
                            "power.terminal",
                            "power.insulator",
                            "power.heliostat",
                            "power.connection",
                            "power.inverter",
                            "power.converter",
                            "power.compensator",
                            "power.generator",
                            "power.generator.solar",
                            "power.generator.wind",
                            "power.generator.gas",
                            "power.generator.biomass",
                            "power.generator.hydro",
                            "power.generator.oil",
                            "power.generator.coal",
                            "power.generator.nuclear",
                            "power.generator.geothermal",
                            "power.line",
                            "power.circuit",
                            "power.minor_line",
                            "power.substation",
                            "power.transformer",
                            "production",
                            "production.factory",
                            "production.winery",
                            "production.brewery",
                            "production.cheese",
                            "production.pottery",
                            "production.beekeeper",
                            "production.distillery",
                            "public_transport",
                            "public_transport.train",
                            "public_transport.light_rail",
                            "public_transport.monorail",
                            "public_transport.subway",
                            "public_transport.subway.entrance",
                            "public_transport.bus",
                            "public_transport.tram",
                            "public_transport.platform",
                            "public_transport.ferry",
                            "public_transport.aerialway",
                            "railway",
                            "railway.train",
                            "railway.subway",
                            "railway.tram",
                            "railway.light_rail",
                            "railway.funicular",
                            "railway.construction",
                            "railway.underground",
                            "railway.surface",
                            "religion",
                            "religion.place_of_worship",
                            "religion.place_of_worship.buddhism",
                            "religion.place_of_worship.christianity",
                            "religion.place_of_worship.hinduism",
                            "religion.place_of_worship.islam",
                            "religion.place_of_worship.judaism",
                            "religion.place_of_worship.shinto",
                            "religion.place_of_worship.sikhism",
                            "religion.place_of_worship.multifaith",
                            "rental",
                            "rental.car",
                            "rental.storage",
                            "rental.bicycle",
                            "rental.boat",
                            "rental.ski",
                            "service",
                            "service.financial",
                            "service.financial.atm",
                            "service.financial.payment_terminal",
                            "service.financial.bank",
                            "service.financial.bureau_de_change",
                            "service.financial.money_transfer",
                            "service.financial.money_lender",
                            "service.cleaning",
                            "service.cleaning.lavoir",
                            "service.cleaning.laundry",
                            "service.cleaning.dry_cleaning",
                            "service.crematorium",
                            "service.crematorium.pet",
                            "service.funeral_hall",
                            "service.mortuary",
                            "service.place_of_mourning",
                            "service.travel_agency",
                            "service.post",
                            "service.post.office",
                            "service.post.box",
                            "service.post.parcel_locker",
                            "service.police",
                            "service.fire_station",
                            "service.vehicle",
                            "service.vehicle.fuel",
                            "service.vehicle.car_wash",
                            "service.vehicle.charging_station",
                            "service.vehicle.repair",
                            "service.vehicle.repair.car",
                            "service.vehicle.repair.motorcycle",
                            "service.beauty",
                            "service.beauty.hairdresser",
                            "service.beauty.spa",
                            "service.beauty.massage",
                            "service.beauty.tanning_salon",
                            "service.beauty.tattoo",
                            "service.advertising",
                            "service.advertising.billboard",
                            "service.advertising.column",
                            "service.tailor",
                            "service.funeral_directors",
                            "service.bookmaker",
                            "service.estate_agent",
                            "service.locksmith",
                            "service.taxi",
                            "service.social_facility",
                            "service.social_facility.shelter",
                            "service.social_facility.food",
                            "service.social_facility.day_care",
                            "service.social_facility.nursing_home",
                            "service.social_facility.clothers",
                            "service.social_facility.retirement_home",
                            "service.recycling",
                            "service.recycling.container",
                            "service.recycling.centre",
                            "service.recycling.bin",
                            "service.blacksmith",
                            "service.carpenter",
                            "service.chimney_sweeper",
                            "service.electrician",
                            "service.key_cutter",
                            "service.metal_construction",
                            "service.photographer",
                            "service.shoemaker",
                            "service.watchmaker",
                            "ski",
                            "ski.lift",
                            "ski.lift.cable_car",
                            "ski.lift.gondola",
                            "ski.lift.mixed_lift",
                            "ski.lift.chair_lift",
                            "ski.lift.tow_line",
                            "ski.lift.magic_carpet",
                            "sport",
                            "sport.stadium",
                            "sport.dive_centre",
                            "sport.shooting",
                            "sport.skateboard",
                            "sport.fishing",
                            "sport.golf_course",
                            "sport.dojo",
                            "sport.horse_riding",
                            "sport.ice_rink",
                            "sport.pitch",
                            "sport.sports_centre",
                            "sport.sports_hall",
                            "sport.swimming_pool",
                            "sport.track",
                            "sport.fitness",
                            "sport.fitness.gym",
                            "sport.fitness.fitness_centre",
                            "sport.fitness.fitness_station",
                            "tourism",
                            "tourism.information",
                            "tourism.information.office",
                            "tourism.information.map",
                            "tourism.information.ranger_station",
                            "tourism.attraction",
                            "tourism.attraction.artwork",
                            "tourism.attraction.artwork.mural",
                            "tourism.attraction.artwork.sculpture",
                            "tourism.attraction.artwork.statue",
                            "tourism.attraction.viewpoint",
                            "tourism.attraction.fountain",
                            "tourism.attraction.clock",
                            "tourism.sights",
                            "tourism.sights.square",
                            "tourism.sights.place_of_worship",
                            "tourism.sights.place_of_worship.church",
                            "tourism.sights.place_of_worship.chapel",
                            "tourism.sights.place_of_worship.cathedral",
                            "tourism.sights.place_of_worship.mosque",
                            "tourism.sights.place_of_worship.synagogue",
                            "tourism.sights.place_of_worship.temple",
                            "tourism.sights.place_of_worship.shrine",
                            "tourism.sights.monastery",
                            "tourism.sights.city_hall",
                            "tourism.sights.conference_centre",
                            "tourism.sights.lighthouse",
                            "tourism.sights.windmill",
                            "tourism.sights.tower",
                            "tourism.sights.battlefield",
                            "tourism.sights.fort",
                            "tourism.sights.building",
                            "tourism.sights.manor",
                            "tourism.sights.castle",
                            "tourism.sights.mine",
                            "tourism.sights.ruines",
                            "tourism.sights.archaeological_site",
                            "tourism.sights.city_gate",
                            "tourism.sights.wreck",
                            "tourism.sights.bridge",
                            "tourism.sights.memorial",
                            "tourism.sights.memorial.aircraft",
                            "tourism.sights.memorial.locomotive",
                            "tourism.sights.memorial.railway_car",
                            "tourism.sights.memorial.ship",
                            "tourism.sights.memorial.tank",
                            "tourism.sights.memorial.tomb",
                            "tourism.sights.memorial.monument",
                            "tourism.sights.memorial.wayside_cross",
                            "tourism.sights.memorial.boundary_stone",
                            "tourism.sights.memorial.pillory",
                            "tourism.sights.memorial.milestone",
                            "tourism.sights.memorial.necropolis",
                            "tourism.sights.memorial.tumulus",
                            "waterway",
                            "waterway.navigation",
                            "waterway.channels",
                            "waterway.river_system",
                            "waterway.hydraulic_structures",
                            "waterway.whitewater",
                            "waterway.water_point"
                          ]
                        },
                        "isError": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid HTTP request or unsupported MCP protocol version. Tool validation errors are returned with HTTP 200 and result.isError set to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 400,
                  "error": "Bad Request",
                  "message": "MCP-Protocol-Version header must be \"2025-06-18\""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Geoapify API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 401,
                  "error": "Unauthorized",
                  "message": "Invalid apiKey"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 429,
                  "error": "Too Many Requests",
                  "message": "Quota exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal gateway error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 500,
                  "error": "Internal Server Error",
                  "message": "Request failed, please try again later"
                }
              }
            }
          }
        },
        "x-geoapify-mcp-tool": "list_place_categories",
        "x-geoapify-mcp-input-schema": "#/components/schemas/ListPlaceCategoriesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/ListPlaceCategoriesOutput"
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcId": {
        "description": "JSON-RPC request identifier. The server echoes this value in the response.",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "integer"
          },
          {
            "type": "null"
          }
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "description": "JSON-RPC error object.",
        "additionalProperties": false,
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "JSON-RPC error code, such as -32600 for an invalid request, -32601 for an unknown method, or -32602 for invalid parameters."
          },
          "message": {
            "type": "string",
            "description": "Human-readable JSON-RPC error message."
          },
          "data": {
            "description": "Optional machine-readable error details."
          }
        }
      },
      "JsonRpcErrorResponse": {
        "type": "object",
        "description": "JSON-RPC error response returned for invalid requests or unknown methods.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "error"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "error": {
            "$ref": "#/components/schemas/JsonRpcError"
          }
        }
      },
      "GatewayError": {
        "type": "object",
        "description": "HTTP gateway error returned before or outside JSON-RPC tool execution.",
        "additionalProperties": false,
        "required": [
          "statusCode",
          "error",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "error": {
            "type": "string",
            "description": "HTTP error name."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      },
      "ListPlaceCategoriesInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {}
      },
      "ListPlaceCategoriesOutput": {
        "type": "object",
        "description": "Supported category catalog for search_places.",
        "additionalProperties": false,
        "required": [
          "count",
          "categories"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of category values returned."
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact category strings accepted by search_places."
          }
        }
      },
      "ListPlaceCategoriesToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for list_place_categories.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "list_place_categories"
          },
          "arguments": {
            "description": "Arguments validated by the list_place_categories input schema.",
            "$ref": "#/components/schemas/ListPlaceCategoriesInput"
          }
        }
      },
      "ListPlaceCategoriesToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the list_place_categories MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for list_place_categories.",
            "$ref": "#/components/schemas/ListPlaceCategoriesToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "list_place_categories",
              "arguments": {}
            }
          },
          {
            "jsonrpc": "2.0",
            "id": "category-catalog",
            "method": "tools/call",
            "params": {
              "name": "list_place_categories",
              "arguments": {}
            }
          }
        ],
        "x-geoapify-mcp-tool": "list_place_categories",
        "x-geoapify-mcp-category": "Places",
        "x-geoapify-mcp-input-schema": "#/components/schemas/ListPlaceCategoriesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/ListPlaceCategoriesOutput"
      },
      "ListPlaceCategoriesToolCallSuccessResponse": {
        "type": "object",
        "description": "Successful JSON-RPC response with tool-specific structured content.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "content",
              "structuredContent",
              "isError"
            ],
            "properties": {
              "content": {
                "type": "array",
                "description": "JSON text representation of structuredContent.",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string",
                      "description": "JSON-encoded copy of structuredContent."
                    }
                  }
                }
              },
              "structuredContent": {
                "$ref": "#/components/schemas/ListPlaceCategoriesOutput"
              },
              "isError": {
                "const": false
              }
            }
          }
        }
      },
      "ToolCallErrorResponse": {
        "type": "object",
        "description": "JSON-RPC tools/call response when tool execution fails.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "content",
              "isError"
            ],
            "properties": {
              "content": {
                "type": "array",
                "description": "Tool error details represented as JSON text.",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string",
                      "description": "JSON-encoded GatewayError with statusCode, error, and message fields."
                    }
                  }
                }
              },
              "isError": {
                "const": true
              }
            }
          }
        }
      },
      "ListPlaceCategoriesToolCallResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ListPlaceCategoriesToolCallSuccessResponse"
          },
          {
            "$ref": "#/components/schemas/ToolCallErrorResponse"
          },
          {
            "$ref": "#/components/schemas/JsonRpcErrorResponse"
          }
        ]
      }
    },
    "securitySchemes": {
      "ApiKeyInHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Geoapify API key header. Recommended authentication method for MCP clients."
      }
    }
  },
  "x-geoapify-mcp-tool-index": "index.json",
  "security": [
    {
      "ApiKeyInHeader": []
    }
  ]
}
