{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Route Planner API",
    "version": "1.0.0",
    "description": "Assign jobs and pickup-delivery shipments to agents and optimize their routes and schedules."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Route Planner"
    }
  ],
  "paths": {
    "/routeplanner": {
      "post": {
        "tags": [
          "Route Planner"
        ],
        "operationId": "planRoutes",
        "summary": "Optimize jobs and shipments across agents",
        "description": "Optimizes jobs and pickup-delivery shipments across one or more agents.\n\n- Send `mode`, `agents`, and at least one non-empty `jobs` or `shipments` array in a JSON body.\n- Coordinates use GeoJSON order: `[longitude, latitude]`; reusable entries in `locations` can be referenced by index.\n- Agent capabilities must satisfy task requirements; capacities, priorities, durations, time windows, and breaks constrain assignment and order.\n- A regular API call supports up to 300 unique coordinates across locations, agents, jobs, and shipments.\n- Each returned GeoJSON feature is one agent plan with actions, waypoints, route legs, timing, distance, and `MultiLineString` geometry.\n- Unassigned agents, jobs, or shipments are reported in `properties.issues` when the complete task cannot be assigned.\n\n**Example:** optimize 73 pickup-delivery shipments across three passenger-car agents with `mode=drive`.",
        "requestBody": {
          "required": true,
          "description": "Route optimization task. The request body must be JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutePlannerRequest"
              },
              "example": {
                "mode": "drive",
                "type": "balanced",
                "traffic": "free_flow",
                "agents": [
                  {
                    "start_location": [
                      -120.4515315,
                      34.6426788
                    ],
                    "capabilities": [],
                    "time_windows": [
                      [
                        0,
                        10800
                      ]
                    ],
                    "breaks": []
                  },
                  {
                    "start_location": [
                      -120.458383,
                      34.6482148
                    ],
                    "capabilities": [],
                    "time_windows": [
                      [
                        0,
                        10800
                      ]
                    ],
                    "breaks": []
                  },
                  {
                    "start_location": [
                      -120.4497917,
                      34.6402832
                    ],
                    "capabilities": [],
                    "time_windows": [
                      [
                        0,
                        10800
                      ]
                    ],
                    "breaks": []
                  }
                ],
                "jobs": [],
                "shipments": [
                  {
                    "id": "order_1",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.4556971,
                        34.6349633
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_2",
                    "pickup": {
                      "location": [
                        -120.4556971,
                        34.6349633
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_3",
                    "pickup": {
                      "location": [
                        -120.45539300054236,
                        34.63454543884471
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_4",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45538990945768,
                        34.63525636284573
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_5",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45538990945768,
                        34.63525636284573
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_6",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45539227921631,
                        34.6347125770699
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_7",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45539047880497,
                        34.63512646793451
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_8",
                    "pickup": {
                      "location": [
                        -120.45573085357776,
                        34.6356894107974
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_9",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45539341570786,
                        34.6344492409798
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_10",
                    "pickup": {
                      "location": [
                        -120.45539341570786,
                        34.6344492409798
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_11",
                    "pickup": {
                      "location": [
                        -120.45663933609889,
                        34.63671168882335
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_12",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45632358976862,
                        34.63729103559498
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_13",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45632358976862,
                        34.63729103559498
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_14",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45632439543162,
                        34.63729104086327
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_15",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.45632439543162,
                        34.63729104086327
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_16",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.450286,
                        34.639978199629596
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_17",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.450286,
                        34.639978199629596
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_18",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.450286,
                        34.639978199629596
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_19",
                    "pickup": {
                      "location": [
                        -120.43976166021152,
                        34.65004947035748
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_20",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43955025895652,
                        34.65004668034916
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_21",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43908816569484,
                        34.65004058178536
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_22",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43908816569484,
                        34.65004058178536
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_23",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43889763710493,
                        34.65003806724802
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_24",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43889763710493,
                        34.65003806724802
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_25",
                    "pickup": {
                      "location": [
                        -120.43889763710493,
                        34.65003806724802
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_26",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43868040143849,
                        34.650035718340305
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_27",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43846708807897,
                        34.65003472686833
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_28",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43846708807897,
                        34.65003472686833
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_29",
                    "pickup": {
                      "location": [
                        -120.4382319174651,
                        34.65003363380471
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_30",
                    "pickup": {
                      "location": [
                        -120.4382319174651,
                        34.65003363380471
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_31",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43800885371971,
                        34.65003259701333
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_32",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43779297993767,
                        34.65003159364061
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_33",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43779297993767,
                        34.65003159364061
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_34",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43779297993767,
                        34.65003159364061
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_35",
                    "pickup": {
                      "location": [
                        -120.4375833472791,
                        34.650030619276386
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_36",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43738647115792,
                        34.65002970420404
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_37",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43695230222787,
                        34.64965790938001
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_38",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43695230222787,
                        34.64965790938001
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_39",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43695230222787,
                        34.64965790938001
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_40",
                    "pickup": {
                      "location": [
                        -120.43695230222787,
                        34.64965790938001
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_41",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43721979607122,
                        34.649246672045386
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_42",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43741996189797,
                        34.649263
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_43",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43784270687031,
                        34.649237914484516
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_44",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43784270687031,
                        34.649237914484516
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_45",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43807256124813,
                        34.64923698274203
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_46",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43830678788719,
                        34.64924841158308
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_47",
                    "pickup": {
                      "location": [
                        -120.43854563749403,
                        34.64927275509185
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_48",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43873813658364,
                        34.64927806098499
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_49",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43873813658364,
                        34.64927806098499
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_50",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.4391824,
                        34.6492976
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_51",
                    "pickup": {
                      "location": [
                        -120.4391824,
                        34.6492976
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_52",
                    "pickup": {
                      "location": [
                        -120.4391824,
                        34.6492976
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_53",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.439245,
                        34.6492771
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_54",
                    "pickup": {
                      "location": [
                        -120.439245,
                        34.6492771
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_55",
                    "pickup": {
                      "location": [
                        -120.439245,
                        34.6492771
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_56",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.4392818,
                        34.6492456
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_57",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.4392818,
                        34.6492456
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_58",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.4402028572808,
                        34.64963072453367
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_59",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.44020698944612,
                        34.649382186483415
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_60",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.44020698944612,
                        34.649382186483415
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_61",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.44020698944612,
                        34.649382186483415
                      ],
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_62",
                    "pickup": {
                      "location": [
                        -120.44020698944612,
                        34.649382186483415
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_63",
                    "pickup": {
                      "location": [
                        -120.44020698944612,
                        34.649382186483415
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_64",
                    "pickup": {
                      "location": [
                        -120.44020983714313,
                        34.64921090556858
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_65",
                    "pickup": {
                      "location": [
                        -120.44020983714313,
                        34.64921090556858
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_66",
                    "pickup": {
                      "location": [
                        -120.43929185470179,
                        34.649187785464726
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_67",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.44021599466662,
                        34.64884054795821
                      ],
                      "duration": 240,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_68",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.44021599466662,
                        34.64884054795821
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_69",
                    "pickup": {
                      "location": [
                        -120.44021599466662,
                        34.64884054795821
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_70",
                    "pickup": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location": [
                        -120.43927913969486,
                        34.64887147272057
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_71",
                    "pickup": {
                      "location": [
                        -120.43927913969486,
                        34.64887147272057
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_72",
                    "pickup": {
                      "location": [
                        -120.43927913969486,
                        34.64887147272057
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 300,
                      "time_windows": []
                    },
                    "requirements": []
                  },
                  {
                    "id": "order_73",
                    "pickup": {
                      "location": [
                        -120.44021915748402,
                        34.64865031344246
                      ],
                      "duration": 120,
                      "time_windows": []
                    },
                    "delivery": {
                      "location_index": 0,
                      "duration": 120,
                      "time_windows": []
                    },
                    "requirements": []
                  }
                ],
                "locations": [
                  {
                    "location": [
                      -120.45758,
                      34.6500314
                    ],
                    "id": "storage-0"
                  }
                ],
                "avoid": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Optimized plan. Each GeoJSON feature represents one assigned agent route; collection properties contain normalized task parameters and any assignment issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutePlannerResponse"
                },
                "example": {
                  "type": "FeatureCollection",
                  "properties": {
                    "mode": "drive",
                    "params": {
                      "mode": "drive",
                      "type": "balanced",
                      "traffic": "free_flow",
                      "agents": [
                        {
                          "start_location": [
                            -120.4515315,
                            34.6426788
                          ],
                          "time_windows": [
                            [
                              0,
                              10800
                            ]
                          ]
                        },
                        {
                          "start_location": [
                            -120.458383,
                            34.6482148
                          ],
                          "time_windows": [
                            [
                              0,
                              10800
                            ]
                          ]
                        },
                        {
                          "start_location": [
                            -120.4497917,
                            34.6402832
                          ],
                          "time_windows": [
                            [
                              0,
                              10800
                            ]
                          ]
                        }
                      ],
                      "shipments": [
                        {
                          "id": "order_1",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.4556971,
                              34.6349633
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_2",
                          "pickup": {
                            "location": [
                              -120.4556971,
                              34.6349633
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_3",
                          "pickup": {
                            "location": [
                              -120.45539300054236,
                              34.63454543884471
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_4",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45538990945768,
                              34.63525636284573
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_5",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45538990945768,
                              34.63525636284573
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_6",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45539227921631,
                              34.6347125770699
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_7",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45539047880497,
                              34.63512646793451
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_8",
                          "pickup": {
                            "location": [
                              -120.45573085357776,
                              34.6356894107974
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_9",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45539341570786,
                              34.6344492409798
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_10",
                          "pickup": {
                            "location": [
                              -120.45539341570786,
                              34.6344492409798
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_11",
                          "pickup": {
                            "location": [
                              -120.45663933609889,
                              34.63671168882335
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_12",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45632358976862,
                              34.63729103559498
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_13",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45632358976862,
                              34.63729103559498
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_14",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45632439543162,
                              34.63729104086327
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_15",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.45632439543162,
                              34.63729104086327
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_16",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.450286,
                              34.639978199629596
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_17",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.450286,
                              34.639978199629596
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_18",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.450286,
                              34.639978199629596
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_19",
                          "pickup": {
                            "location": [
                              -120.43976166021152,
                              34.65004947035748
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_20",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43955025895652,
                              34.65004668034916
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_21",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43908816569484,
                              34.65004058178536
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_22",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43908816569484,
                              34.65004058178536
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_23",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43889763710493,
                              34.65003806724802
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_24",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43889763710493,
                              34.65003806724802
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_25",
                          "pickup": {
                            "location": [
                              -120.43889763710493,
                              34.65003806724802
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_26",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43868040143849,
                              34.650035718340305
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_27",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43846708807897,
                              34.65003472686833
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_28",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43846708807897,
                              34.65003472686833
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_29",
                          "pickup": {
                            "location": [
                              -120.4382319174651,
                              34.65003363380471
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_30",
                          "pickup": {
                            "location": [
                              -120.4382319174651,
                              34.65003363380471
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_31",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43800885371971,
                              34.65003259701333
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_32",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43779297993767,
                              34.65003159364061
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_33",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43779297993767,
                              34.65003159364061
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_34",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43779297993767,
                              34.65003159364061
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_35",
                          "pickup": {
                            "location": [
                              -120.4375833472791,
                              34.650030619276386
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_36",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43738647115792,
                              34.65002970420404
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_37",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43695230222787,
                              34.64965790938001
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_38",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43695230222787,
                              34.64965790938001
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_39",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43695230222787,
                              34.64965790938001
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_40",
                          "pickup": {
                            "location": [
                              -120.43695230222787,
                              34.64965790938001
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_41",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43721979607122,
                              34.649246672045386
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_42",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43741996189797,
                              34.649263
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_43",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43784270687031,
                              34.649237914484516
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_44",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43784270687031,
                              34.649237914484516
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_45",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43807256124813,
                              34.64923698274203
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_46",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43830678788719,
                              34.64924841158308
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_47",
                          "pickup": {
                            "location": [
                              -120.43854563749403,
                              34.64927275509185
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_48",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43873813658364,
                              34.64927806098499
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_49",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43873813658364,
                              34.64927806098499
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_50",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.4391824,
                              34.6492976
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_51",
                          "pickup": {
                            "location": [
                              -120.4391824,
                              34.6492976
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_52",
                          "pickup": {
                            "location": [
                              -120.4391824,
                              34.6492976
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_53",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.439245,
                              34.6492771
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_54",
                          "pickup": {
                            "location": [
                              -120.439245,
                              34.6492771
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_55",
                          "pickup": {
                            "location": [
                              -120.439245,
                              34.6492771
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_56",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.4392818,
                              34.6492456
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_57",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.4392818,
                              34.6492456
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_58",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.4402028572808,
                              34.64963072453367
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_59",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.44020698944612,
                              34.649382186483415
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_60",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.44020698944612,
                              34.649382186483415
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_61",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.44020698944612,
                              34.649382186483415
                            ],
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_62",
                          "pickup": {
                            "location": [
                              -120.44020698944612,
                              34.649382186483415
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_63",
                          "pickup": {
                            "location": [
                              -120.44020698944612,
                              34.649382186483415
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_64",
                          "pickup": {
                            "location": [
                              -120.44020983714313,
                              34.64921090556858
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_65",
                          "pickup": {
                            "location": [
                              -120.44020983714313,
                              34.64921090556858
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_66",
                          "pickup": {
                            "location": [
                              -120.43929185470179,
                              34.649187785464726
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_67",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.44021599466662,
                              34.64884054795821
                            ],
                            "duration": 240
                          }
                        },
                        {
                          "id": "order_68",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.44021599466662,
                              34.64884054795821
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_69",
                          "pickup": {
                            "location": [
                              -120.44021599466662,
                              34.64884054795821
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_70",
                          "pickup": {
                            "location_index": 0,
                            "duration": 120
                          },
                          "delivery": {
                            "location": [
                              -120.43927913969486,
                              34.64887147272057
                            ],
                            "duration": 120
                          }
                        },
                        {
                          "id": "order_71",
                          "pickup": {
                            "location": [
                              -120.43927913969486,
                              34.64887147272057
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_72",
                          "pickup": {
                            "location": [
                              -120.43927913969486,
                              34.64887147272057
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 300
                          }
                        },
                        {
                          "id": "order_73",
                          "pickup": {
                            "location": [
                              -120.44021915748402,
                              34.64865031344246
                            ],
                            "duration": 120
                          },
                          "delivery": {
                            "location_index": 0,
                            "duration": 120
                          }
                        }
                      ],
                      "locations": [
                        {
                          "location": [
                            -120.45758,
                            34.6500314
                          ],
                          "id": "storage-0"
                        }
                      ]
                    }
                  },
                  "features": [
                    {
                      "geometry": {
                        "type": "MultiLineString",
                        "coordinates": [
                          [
                            [
                              -120.451494,
                              34.642678
                            ],
                            [
                              -120.439278,
                              34.648871
                            ]
                          ],
                          [
                            [
                              -120.439278,
                              34.648871
                            ],
                            [
                              -120.439292,
                              34.649187
                            ]
                          ],
                          [
                            [
                              -120.439292,
                              34.649187
                            ],
                            [
                              -120.439245,
                              34.649277
                            ]
                          ],
                          [
                            [
                              -120.439245,
                              34.649277
                            ],
                            [
                              -120.439182,
                              34.649297
                            ]
                          ],
                          [
                            [
                              -120.439182,
                              34.649297
                            ],
                            [
                              -120.438545,
                              34.649272
                            ]
                          ],
                          [
                            [
                              -120.438545,
                              34.649272
                            ],
                            [
                              -120.436952,
                              34.649657
                            ]
                          ],
                          [
                            [
                              -120.436952,
                              34.649657
                            ],
                            [
                              -120.437583,
                              34.65003
                            ]
                          ],
                          [
                            [
                              -120.437583,
                              34.65003
                            ],
                            [
                              -120.438231,
                              34.650033
                            ]
                          ],
                          [
                            [
                              -120.438231,
                              34.650033
                            ],
                            [
                              -120.438897,
                              34.650038
                            ]
                          ],
                          [
                            [
                              -120.438897,
                              34.650038
                            ],
                            [
                              -120.440209,
                              34.64921
                            ]
                          ],
                          [
                            [
                              -120.440209,
                              34.64921
                            ],
                            [
                              -120.440218,
                              34.64865
                            ]
                          ],
                          [
                            [
                              -120.440218,
                              34.64865
                            ],
                            [
                              -120.440215,
                              34.64884
                            ]
                          ],
                          [
                            [
                              -120.440215,
                              34.64884
                            ],
                            [
                              -120.440206,
                              34.649382
                            ]
                          ],
                          [
                            [
                              -120.440206,
                              34.649382
                            ],
                            [
                              -120.439761,
                              34.650049
                            ]
                          ],
                          [
                            [
                              -120.439761,
                              34.650049
                            ],
                            [
                              -120.457505,
                              34.649903
                            ]
                          ],
                          [
                            [
                              -120.457505,
                              34.649903
                            ],
                            [
                              -120.456324,
                              34.637291
                            ]
                          ],
                          [
                            [
                              -120.456324,
                              34.637291
                            ],
                            [
                              -120.456323,
                              34.637291
                            ]
                          ],
                          [
                            [
                              -120.456323,
                              34.637291
                            ],
                            [
                              -120.455697,
                              34.634918
                            ]
                          ],
                          [
                            [
                              -120.455697,
                              34.634918
                            ],
                            [
                              -120.45539,
                              34.635126
                            ]
                          ],
                          [
                            [
                              -120.45539,
                              34.635126
                            ],
                            [
                              -120.455389,
                              34.635256
                            ]
                          ],
                          [
                            [
                              -120.455389,
                              34.635256
                            ],
                            [
                              -120.455392,
                              34.634712
                            ]
                          ],
                          [
                            [
                              -120.455392,
                              34.634712
                            ],
                            [
                              -120.455393,
                              34.634449
                            ]
                          ]
                        ]
                      },
                      "type": "Feature",
                      "properties": {
                        "agent_index": 0,
                        "time": 10257,
                        "start_time": 0,
                        "end_time": 10257,
                        "distance": 7510,
                        "legs": [
                          {
                            "time": 206,
                            "distance": 1824,
                            "from_waypoint_index": 0,
                            "to_waypoint_index": 1,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 206,
                                "distance": 1824
                              }
                            ]
                          },
                          {
                            "time": 4,
                            "distance": 35,
                            "from_waypoint_index": 1,
                            "to_waypoint_index": 2,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 4,
                                "distance": 35
                              }
                            ]
                          },
                          {
                            "time": 2,
                            "distance": 12,
                            "from_waypoint_index": 2,
                            "to_waypoint_index": 3,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 2,
                                "distance": 12
                              }
                            ]
                          },
                          {
                            "time": 0,
                            "distance": 6,
                            "from_waypoint_index": 3,
                            "to_waypoint_index": 4,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 0,
                                "distance": 6
                              }
                            ]
                          },
                          {
                            "time": 7,
                            "distance": 59,
                            "from_waypoint_index": 4,
                            "to_waypoint_index": 5,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 7,
                                "distance": 59
                              }
                            ]
                          },
                          {
                            "time": 26,
                            "distance": 198,
                            "from_waypoint_index": 5,
                            "to_waypoint_index": 6,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 26,
                                "distance": 198
                              }
                            ]
                          },
                          {
                            "time": 14,
                            "distance": 96,
                            "from_waypoint_index": 6,
                            "to_waypoint_index": 7,
                            "steps": [
                              {
                                "from_index": 0,
                                "to_index": 1,
                                "time": 14,
                                "distance": 96
                              }
                            ]
                          },
                          {
                            "time": 7,
                            "distance": 59,
[...]
