{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify Batch API",
    "version": "1.0.0",
    "description": "Use the Batch API to process multiple requests in one job or run supported Geoapify tasks asynchronously.\n\n- Submit 1 to 1000 inputs for the same supported API endpoint.\n- Poll the returned batch job ID until processing is complete.\n- Choose a processing priority between `0.5` and `1` to balance credit cost and processing speed."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "Batch",
      "description": "Process multiple API requests together or execute supported tasks asynchronously, then retrieve the results."
    }
  ],
  "paths": {
    "/batch": {
      "post": {
        "tags": [
          "Batch"
        ],
        "operationId": "submitBatchJob",
        "summary": "Submit a generic batch job",
        "description": "Creates a job that processes up to 1000 requests for one supported Geoapify API endpoint.\n\n- Use batch processing to send multiple requests together or to execute a task asynchronously.\n- Put shared query parameters in top-level `params` and shared request data in top-level `body`; input-level values define each individual request.\n- Every input must contain `params`, `body`, or both. Body-based APIs do not require an empty `params` object.\n- Set `priority` from `0.5` to `1`. A value of `0.5` spends 50% of the normal credits but can take longer; `1` spends the full credits and is processed faster.\n\nReturns `202` while the job is processing or `200` if it completes immediately.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSubmitRequest"
              },
              "examples": {
                "isoline": {
                  "summary": "Calculate isolines",
                  "value": {
                    "api": "/v1/isoline",
                    "params": {
                      "type": "time",
                      "mode": "drive",
                      "range": 900
                    },
                    "inputs": [
                      {
                        "id": "berlin",
                        "params": {
                          "lat": 52.52,
                          "lon": 13.405
                        }
                      },
                      {
                        "id": "paris",
                        "params": {
                          "lat": 48.8566,
                          "lon": 2.3522
                        }
                      }
                    ]
                  }
                },
                "routing": {
                  "summary": "Calculate routes",
                  "value": {
                    "api": "/v1/routing",
                    "params": {
                      "mode": "drive",
                      "units": "metric"
                    },
                    "inputs": [
                      {
                        "id": "berlin-route",
                        "params": {
                          "waypoints": "52.52,13.405|52.5096,13.376"
                        }
                      },
                      {
                        "id": "paris-route",
                        "params": {
                          "waypoints": "48.8566,2.3522|48.8606,2.3376"
                        }
                      }
                    ]
                  }
                },
                "forwardGeocoding": {
                  "summary": "Forward geocode addresses",
                  "value": {
                    "api": "/v1/geocode/search",
                    "params": {
                      "lang": "en",
                      "limit": 1
                    },
                    "inputs": [
                      {
                        "id": "berlin",
                        "params": {
                          "text": "Alexanderplatz, Berlin"
                        }
                      },
                      {
                        "id": "paris",
                        "params": {
                          "text": "10 Avenue des Champs-Elysees, Paris"
                        }
                      }
                    ]
                  }
                },
                "reverseGeocoding": {
                  "summary": "Reverse geocode coordinates",
                  "value": {
                    "api": "/v1/geocode/reverse",
                    "params": {
                      "lang": "en",
                      "limit": 1
                    },
                    "inputs": [
                      {
                        "id": "berlin",
                        "params": {
                          "lat": 52.52,
                          "lon": 13.405
                        }
                      },
                      {
                        "id": "paris",
                        "params": {
                          "lat": 48.8566,
                          "lon": 2.3522
                        }
                      }
                    ]
                  }
                },
                "mapMatching": {
                  "summary": "Match GPS traces to roads",
                  "value": {
                    "api": "/v1/mapmatching",
                    "body": {
                      "mode": "drive"
                    },
                    "inputs": [
                      {
                        "id": "berlin-trace",
                        "body": {
                          "waypoints": [
                            {
                              "location": [
                                13.3889,
                                52.517
                              ]
                            },
                            {
                              "location": [
                                13.3976,
                                52.5294
                              ]
                            },
                            {
                              "location": [
                                13.4286,
                                52.5232
                              ]
                            }
                          ]
                        }
                      },
                      {
                        "id": "paris-trace",
                        "body": {
                          "waypoints": [
                            {
                              "location": [
                                2.3333,
                                48.8602
                              ]
                            },
                            {
                              "location": [
                                2.347,
                                48.8589
                              ]
                            },
                            {
                              "location": [
                                2.3601,
                                48.853
                              ]
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "placesV2": {
                  "summary": "Search places with Places API v2",
                  "value": {
                    "api": "/v2/places",
                    "params": {
                      "categories": "catering.restaurant",
                      "limit": 5
                    },
                    "inputs": [
                      {
                        "id": "berlin-restaurants",
                        "params": {
                          "filter": "circle:13.405,52.52,1000"
                        }
                      },
                      {
                        "id": "paris-restaurants",
                        "params": {
                          "filter": "circle:2.3522,48.8566,1000"
                        }
                      }
                    ]
                  }
                },
                "ipGeolocation": {
                  "summary": "Geolocate IP addresses",
                  "value": {
                    "api": "/v1/ipinfo",
                    "params": {
                      "lang": "en"
                    },
                    "inputs": [
                      {
                        "id": "google-dns",
                        "params": {
                          "ip": "8.8.8.8"
                        }
                      },
                      {
                        "id": "cloudflare-dns",
                        "params": {
                          "ip": "1.1.1.1"
                        }
                      }
                    ]
                  }
                },
                "routePlanner": {
                  "summary": "Optimize route-planning tasks",
                  "value": {
                    "api": "/v1/routeplanner",
                    "body": {
                      "mode": "drive"
                    },
                    "inputs": [
                      {
                        "id": "berlin-deliveries",
                        "body": {
                          "agents": [
                            {
                              "id": "vehicle-1",
                              "start_location": [
                                13.405,
                                52.52
                              ]
                            }
                          ],
                          "jobs": [
                            {
                              "id": "delivery-1",
                              "location": [
                                13.376,
                                52.5096
                              ],
                              "duration": 300
                            }
                          ]
                        }
                      },
                      {
                        "id": "paris-deliveries",
                        "body": {
                          "agents": [
                            {
                              "id": "vehicle-2",
                              "start_location": [
                                2.3522,
                                48.8566
                              ]
                            }
                          ],
                          "jobs": [
                            {
                              "id": "delivery-2",
                              "location": [
                                2.3376,
                                48.8606
                              ],
                              "duration": 300
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "routeMatrix": {
                  "summary": "Calculate route matrices",
                  "value": {
                    "api": "/v1/routematrix",
                    "body": {
                      "mode": "drive"
                    },
                    "inputs": [
                      {
                        "id": "berlin-matrix",
                        "body": {
                          "sources": [
                            {
                              "location": [
                                13.405,
                                52.52
                              ]
                            }
                          ],
                          "targets": [
                            {
                              "location": [
                                13.376,
                                52.5096
                              ]
                            },
                            {
                              "location": [
                                13.4286,
                                52.5232
                              ]
                            }
                          ]
                        }
                      },
                      {
                        "id": "paris-matrix",
                        "body": {
                          "sources": [
                            {
                              "location": [
                                2.3522,
                                48.8566
                              ]
                            }
                          ],
                          "targets": [
                            {
                              "location": [
                                2.3376,
                                48.8606
                              ]
                            },
                            {
                              "location": [
                                2.3601,
                                48.853
                              ]
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "boundariesPartOf": {
                  "summary": "Find containing boundaries",
                  "value": {
                    "api": "/v1/boundaries/part-of",
                    "params": {
                      "boundaries": "administrative,postal_code",
                      "geometry": "point",
                      "lang": "en"
                    },
                    "inputs": [
                      {
                        "id": "berlin",
                        "params": {
                          "lat": 52.52,
                          "lon": 13.405
                        }
                      },
                      {
                        "id": "paris",
                        "params": {
                          "lat": 48.8566,
                          "lon": 2.3522
                        }
                      }
                    ]
                  }
                },
                "boundariesConsistsOf": {
                  "summary": "Find contained boundaries",
                  "value": {
                    "api": "/v1/boundaries/consists-of",
                    "params": {
                      "boundary": "administrative",
                      "sublevel": 1,
                      "geometry": "point",
                      "lang": "en"
                    },
                    "inputs": [
                      {
                        "id": "south-carolina-children",
                        "params": {
                          "id": "513bfd69cccb2354c059ca8760aaf4cf4040f00101f901286b03000000000092030e536f757468204361726f6c696e61"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The batch job completed immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCompletedResponse"
                },
                "example": {
                  "api": "/v1/geocode/search",
                  "params": {
                    "lang": "en",
                    "limit": 1
                  },
                  "id": "884f79702109455199c6c60cf7201207",
                  "results": [
                    {
                      "id": "berlin",
                      "params": {
                        "text": "Alexanderplatz, Berlin"
                      },
                      "result": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "name": "Alexanderplatz",
                              "other_names": {
                                "name:be": "Плошча Аляксандра",
                                "name:ja": "アレクサンダー広場",
                                "name:ko": "알렉산더 광장",
                                "name:ru": "Александерплац",
                                "name:zh": "亚历山大广场",
                                "loc_name": "Alex"
                              },
                              "country": "Germany",
                              "country_code": "de",
                              "city": "Berlin",
                              "district": "Mitte",
                              "neighbourhood": "Scheunenviertel",
                              "suburb": "Mitte",
                              "quarter": "Spandauer Vorstadt",
                              "iso3166_2": "DE-BE",
                              "lon": 13.4136358,
                              "lat": 52.5219814,
                              "state": "Berlin",
                              "state_code": "BE",
                              "result_type": "amenity",
                              "postcode": "10178",
                              "formatted": "Alexanderplatz, 10178 Berlin, Germany",
                              "address_line1": "Alexanderplatz",
                              "address_line2": "10178 Berlin, Germany",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "plus_code": "9F4MGCC7+QF",
                              "plus_code_short": "C7+QF Berlin, Germany",
                              "rank": {
                                "importance": 0.5119277148736227,
                                "popularity": 9.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "match_type": "inner_part"
                              },
                              "place_id": "51dbe85212c8d32a4059660f5949d0424a40f00102f901146dac2e00000000c0020192030e416c6578616e646572706c61747a"
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                13.4136358,
                                52.5219814
                              ]
                            },
                            "bbox": [
                              13.4103097,
                              52.5201457,
                              13.4160801,
                              52.5238113
                            ]
                          }
                        ],
                        "query": {
                          "text": "Alexanderplatz, Berlin",
                          "parsed": {
                            "street": "alexanderplatz",
                            "city": "berlin",
                            "expected_type": "street"
                          }
                        }
                      }
                    },
                    {
                      "id": "paris",
                      "params": {
                        "text": "10 Avenue des Champs-Elysees, Paris"
                      },
                      "result": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "other_names": {
                                "name:eo": "Avenuo de la Elizeaj Kampoj",
                                "name:es": "Campos Elíseos",
                                "name:fa": "خیابان شانزلیزه",
                                "name:ko": "샹젤리제 거리",
                                "name:pl": "Pola Elizejskie",
                                "name:pt": "Avenida dos Campos Elísios",
                                "name:ru": "Елисейские поля",
                                "name:vi": "Đại lộ Champs-Élysées",
                                "name:zh": "香榭丽舍大街",
                                "name:zh-Hans": "香榭丽舍大街",
                                "name:zh-Hant": "香榭麗舍大道"
                              },
                              "country": "France",
                              "country_code": "fr",
                              "region": "Metropolitan France",
                              "state": "Ile-de-France",
                              "city": "Paris",
                              "postcode": "75008",
                              "district": "Paris",
                              "suburb": "8th Arrondissement of Paris",
                              "quarter": "Quartier des Champs-Élysées",
                              "street": "Avenue des Champs-Élysées",
                              "iso3166_2": "FR-IDF",
                              "iso3166_2_sublevel": "FR-75C",
                              "lon": 2.315269,
                              "lat": 48.867887,
                              "state_code": "IDF",
                              "state_COG": "11",
                              "housenumber": "10",
                              "result_type": "building",
                              "formatted": "10 Avenue des Champs-Élysées, 8th Arrondissement of Paris, 75008 Paris, France",
                              "address_line1": "10 Avenue des Champs-Élysées",
                              "address_line2": "8th Arrondissement of Paris, 75008 Paris, France",
                              "timezone": {
                                "name": "Europe/Paris",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "plus_code": "8FW4V898+54",
                              "plus_code_short": "V898+54 Paris, Ile-de-France, France",
                              "rank": {
                                "importance": 0.5888377598571204,
                                "popularity": 8.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "confidence_building_level": 1,
                                "match_type": "full_match"
                              },
                              "place_id": "517e8ae3c0ab85024059d1cfd4eb166f4840c00203e203266f70656e6164647265737365733a616464726573733a37663138383265313636313931333932"
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                2.315269,
                                48.867887
                              ]
                            },
                            "bbox": [
                              2.3103916,
                              48.8661938,
                              2.318469,
                              48.8687741
                            ]
                          }
                        ],
                        "query": {
                          "text": "10 Avenue des Champs-Elysees, Paris",
                          "parsed": {
                            "housenumber": "10",
                            "street": "avenue des champs-elysees",
                            "city": "paris",
                            "expected_type": "building"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "The batch job was accepted and is still processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPendingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The submission is invalid. Check the supported `api`, the 1–1000 item `inputs` array, each input's `params` or `body`, and the `priority` range of `0.5`–`1`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 400,
                  "error": "Bad Request",
                  "message": "\"inputs\" must contain at least 1 items"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because the Geoapify API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 401,
                  "error": "Unauthorized",
                  "message": "Invalid apiKey"
                }
              }
            }
          },
          "429": {
            "description": "The account quota or request rate limit was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 429,
                  "error": "Too Many Requests",
                  "message": "Quota exceeded"
                }
              }
            }
          },
          "500": {
            "description": "The gateway could not submit or retrieve the batch job because of an internal or upstream failure. Retry the request later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 500,
                  "error": "Internal Server Error",
                  "message": "Request failed, please try again later"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Batch"
        ],
        "operationId": "getBatchJob",
        "summary": "Get generic batch job result",
        "description": "Retrieves the processing status or completed results for a generic batch job.\n\n- Provide the 32-character batch job `id` returned by the submit operation.\n- Poll while the endpoint returns `202`; the results are ready when it returns `200`.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Batch job identifier returned by the submit endpoint.",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "example": "0123456789abcdef0123456789abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "The completed batch job and its typed API results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCompletedResponse"
                },
                "example": {
                  "api": "/v1/geocode/search",
                  "params": {
                    "lang": "en",
                    "limit": 1
                  },
                  "id": "884f79702109455199c6c60cf7201207",
                  "results": [
                    {
                      "id": "berlin",
                      "params": {
                        "text": "Alexanderplatz, Berlin"
                      },
                      "result": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "name": "Alexanderplatz",
                              "other_names": {
                                "name:be": "Плошча Аляксандра",
                                "name:ja": "アレクサンダー広場",
                                "name:ko": "알렉산더 광장",
                                "name:ru": "Александерплац",
                                "name:zh": "亚历山大广场",
                                "loc_name": "Alex"
                              },
                              "country": "Germany",
                              "country_code": "de",
                              "city": "Berlin",
                              "district": "Mitte",
                              "neighbourhood": "Scheunenviertel",
                              "suburb": "Mitte",
                              "quarter": "Spandauer Vorstadt",
                              "iso3166_2": "DE-BE",
                              "lon": 13.4136358,
                              "lat": 52.5219814,
                              "state": "Berlin",
                              "state_code": "BE",
                              "result_type": "amenity",
                              "postcode": "10178",
                              "formatted": "Alexanderplatz, 10178 Berlin, Germany",
                              "address_line1": "Alexanderplatz",
                              "address_line2": "10178 Berlin, Germany",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "plus_code": "9F4MGCC7+QF",
                              "plus_code_short": "C7+QF Berlin, Germany",
                              "rank": {
                                "importance": 0.5119277148736227,
                                "popularity": 9.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "match_type": "inner_part"
                              },
                              "place_id": "51dbe85212c8d32a4059660f5949d0424a40f00102f901146dac2e00000000c0020192030e416c6578616e646572706c61747a"
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                13.4136358,
                                52.5219814
                              ]
                            },
                            "bbox": [
                              13.4103097,
                              52.5201457,
                              13.4160801,
                              52.5238113
                            ]
                          }
                        ],
                        "query": {
                          "text": "Alexanderplatz, Berlin",
                          "parsed": {
                            "street": "alexanderplatz",
                            "city": "berlin",
                            "expected_type": "street"
                          }
                        }
                      }
                    },
                    {
                      "id": "paris",
                      "params": {
                        "text": "10 Avenue des Champs-Elysees, Paris"
                      },
                      "result": {
                        "type": "FeatureCollection",
                        "features": [
                          {
                            "type": "Feature",
                            "properties": {
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "other_names": {
                                "name:eo": "Avenuo de la Elizeaj Kampoj",
                                "name:es": "Campos Elíseos",
                                "name:fa": "خیابان شانزلیزه",
                                "name:ko": "샹젤리제 거리",
                                "name:pl": "Pola Elizejskie",
                                "name:pt": "Avenida dos Campos Elísios",
                                "name:ru": "Елисейские поля",
                                "name:vi": "Đại lộ Champs-Élysées",
                                "name:zh": "香榭丽舍大街",
                                "name:zh-Hans": "香榭丽舍大街",
                                "name:zh-Hant": "香榭麗舍大道"
                              },
                              "country": "France",
                              "country_code": "fr",
                              "region": "Metropolitan France",
                              "state": "Ile-de-France",
                              "city": "Paris",
                              "postcode": "75008",
                              "district": "Paris",
                              "suburb": "8th Arrondissement of Paris",
                              "quarter": "Quartier des Champs-Élysées",
                              "street": "Avenue des Champs-Élysées",
                              "iso3166_2": "FR-IDF",
                              "iso3166_2_sublevel": "FR-75C",
                              "lon": 2.315269,
                              "lat": 48.867887,
                              "state_code": "IDF",
                              "state_COG": "11",
                              "housenumber": "10",
                              "result_type": "building",
                              "formatted": "10 Avenue des Champs-Élysées, 8th Arrondissement of Paris, 75008 Paris, France",
                              "address_line1": "10 Avenue des Champs-Élysées",
                              "address_line2": "8th Arrondissement of Paris, 75008 Paris, France",
                              "timezone": {
                                "name": "Europe/Paris",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "plus_code": "8FW4V898+54",
                              "plus_code_short": "V898+54 Paris, Ile-de-France, France",
                              "rank": {
                                "importance": 0.5888377598571204,
                                "popularity": 8.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "confidence_building_level": 1,
                                "match_type": "full_match"
                              },
                              "place_id": "517e8ae3c0ab85024059d1cfd4eb166f4840c00203e203266f70656e6164647265737365733a616464726573733a37663138383265313636313931333932"
                            },
                            "geometry": {
                              "type": "Point",
                              "coordinates": [
                                2.315269,
                                48.867887
                              ]
                            },
                            "bbox": [
                              2.3103916,
                              48.8661938,
                              2.318469,
                              48.8687741
                            ]
                          }
                        ],
                        "query": {
                          "text": "10 Avenue des Champs-Elysees, Paris",
                          "parsed": {
                            "housenumber": "10",
                            "street": "avenue des champs-elysees",
                            "city": "paris",
                            "expected_type": "building"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "The batch job was accepted and is still processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPendingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The required batch job `id` is missing or is not a 32-character lowercase hexadecimal identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 400,
                  "error": "Bad Request",
                  "message": "\"id\" is required"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed because the Geoapify API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 401,
                  "error": "Unauthorized",
                  "message": "Invalid apiKey"
                }
              }
            }
          },
          "404": {
            "description": "No batch job was found for the supplied `id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchNotFoundError"
                },
                "example": {
                  "statusCode": 404,
                  "error": "Not Found"
                }
              }
            }
          },
          "429": {
            "description": "The account quota or request rate limit was exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 429,
                  "error": "Too Many Requests",
                  "message": "Quota exceeded"
                }
              }
            }
          },
          "500": {
            "description": "The gateway could not submit or retrieve the batch job because of an internal or upstream failure. Retry the request later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 500,
                  "error": "Internal Server Error",
                  "message": "Request failed, please try again later"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchSubmitRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "api",
          "inputs"
        ],
        "properties": {
          "api": {
            "type": "string",
            "enum": [
              "/v1/isoline",
              "/v1/routing",
              "/v1/places",
              "/v1/geometry",
              "/v1/geocode/search",
              "/v1/geocode/reverse",
              "/v1/mapmatching",
              "/v2/places",
              "/v2/place-info",
              "/v2/place-details",
              "/v1/ipinfo",
              "/v1/routeplanner",
              "/v1/routematrix",
              "/v1/boundaries/part-of",
              "/v1/boundaries/consists-of",
              "/v1/boundaries/near-by",
              "/v1/boundaries/parent-of"
            ],
            "description": "Geoapify API endpoint to execute for each batch input."
          },
          "params": {
            "type": "object",
            "additionalProperties": true,
            "description": "Request-level query parameters applied to all batch inputs."
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "Request-level body applied to all batch inputs."
          },
          "inputs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/BatchInput"
            }
          },
          "priority": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 1,
            "default": 0.5,
            "description": "Processing priority and credit-cost factor. Use `0.5` to spend 50% of the normal credits when longer processing is acceptable, or `1` to spend the full credits for faster processing. Values between `0.5` and `1` balance the discount and processing speed.",
            "example": 0.5
          }
        }
      },
      "BatchInput": {
        "type": "object",
        "additionalProperties": true,
        "anyOf": [
          {
            "required": [
              "params"
            ]
          },
          {
            "required": [
              "body"
            ]
          }
        ],
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Optional caller-supplied input identifier returned with the result."
          },
          "params": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional input-specific query parameters."
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "Input-specific request body."
          }
        }
      },
      "LongitudeLatitude": {
        "type": "array",
        "minItems": 2,
        "maxItems": 2,
        "prefixItems": [
          {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          }
        ],
        "items": false
      },
      "JsonValue": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonValue"
            }
          },
          {
            "$ref": "#/components/schemas/JsonObject"
          }
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        }
      },
      "LocationData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "lat",
          "lon"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Avoid": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "tolls",
              "ferries",
              "highways",
              "locations",
              "polygons",
              "green_zones",
              "country_codes",
              "transfers"
            ]
          },
          "importance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "values": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationData"
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationData"
                  }
                }
              }
            ]
          }
        }
      },
      "MultiLineStringGeometry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "MultiLineString"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "$ref": "#/components/schemas/LongitudeLatitude"
              }
            }
          }
        }
      },
      "PolygonGeometry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "Polygon"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "$ref": "#/components/schemas/LongitudeLatitude"
              }
            }
          }
        }
      },
      "MultiPolygonGeometry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "const": "MultiPolygon"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "minItems": 4,
                "items": {
                  "$ref": "#/components/schemas/LongitudeLatitude"
                }
              }
            }
          }
        }
      },
      "IsolineGeometry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PolygonGeometry"
          },
          {
            "$ref": "#/components/schemas/MultiPolygonGeometry"
          }
        ]
      },
      "RouteInstruction": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "transition_instruction": {
            "type": "string"
          },
          "pre_transition_instruction": {
            "type": "string"
          },
          "post_transition_instruction": {
            "type": "string"
          },
          "contains_next_instruction": {
            "type": "boolean"
          },
          "streets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_number": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_road_name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exit_towards": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roundabout_exit": {
            "type": "number"
          }
        }
      },
      "RouteStep": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "instruction": {
            "$ref": "#/components/schemas/RouteInstruction"
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "bridge": {
            "type": "boolean"
          },
          "tunnel": {
            "type": "boolean"
          },
          "elevation": {
            "type": "number"
          },
          "elevation_gain": {
            "type": "number"
          },
          "max_elevation": {
            "type": "number"
          },
          "min_elevation": {
            "type": "number"
          },
          "admin_area": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "speed": {
            "type": "number"
          },
          "speed_limit": {
            "type": "number"
          },
          "truck_limit": {
            "type": "number"
          },
          "surface": {
            "type": "string"
          },
          "lane_count": {
            "type": "number"
          },
          "road_class": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roundabout": {
            "type": "boolean"
          },
          "rightside": {
            "type": "boolean"
          },
          "traversability": {
            "type": "string"
          },
          "from_stop_id": {
            "type": "string"
          },
          "from_stop_name": {
            "type": "string"
          },
          "to_stop_id": {
            "type": "string"
          },
          "to_stop_name": {
            "type": "string"
          }
        }
      },
      "RouteLeg": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "time",
          "distance",
          "steps"
        ],
        "properties": {
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteStep"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "elevation": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "elevation_range": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "agency_name": {
            "type": "string"
          },
          "agency_id": {
            "type": "string"
          },
          "agency_url": {
            "type": "string"
          },
          "route_id": {
            "type": "string"
          },
          "route_short_name": {
            "type": "string"
          },
          "route_long_name": {
            "type": "string"
          },
          "trip_id": {
            "type": "string"
          }
        }
      },
      "SnappedRouteWaypoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "location"
        ],
        "properties": {
          "original_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "InputRouteWaypoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "lat",
          "lon"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "address": {
            "type": "string"
          }
        }
      },
      "RouteWaypoint": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SnappedRouteWaypoint"
          },
          {
            "$ref": "#/components/schemas/InputRouteWaypoint"
          }
        ]
      },
      "RoutingResponseOptions": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "units",
          "waypoints"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          }
        }
      },
      "RouteAdminArea": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "country_code"
        ],
        "properties": {
          "country_code": {
            "type": "string"
          },
          "country_text": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "state_text": {
            "type": "string"
          }
        }
      },
      "RouteAdminAreaCrossing": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "from_admin_index",
          "to_admin_index",
          "begin_shape_index",
          "end_shape_index"
        ],
        "properties": {
          "from_admin_index": {
            "type": "integer"
          },
          "to_admin_index": {
            "type": "integer"
          },
          "begin_shape_index": {
            "type": "integer"
          },
          "end_shape_index": {
            "type": "integer"
          }
        }
      },
      "RoutingFeatureProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "units",
          "waypoints",
          "distance",
          "time",
          "legs"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          },
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteLeg"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "admin_areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminArea"
            }
          },
          "admin_area_crossings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminAreaCrossing"
            }
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          }
        }
      },
      "RoutingFeature": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "RoutingFeatureCollection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "features",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutingFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingResponseOptions"
          }
        }
      },
      "RoutingJsonPoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "lon",
          "lat"
        ],
        "properties": {
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          }
        }
      },
      "RoutingJsonResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "units",
          "waypoints",
          "distance",
          "time",
          "legs",
          "geometry"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteWaypoint"
            }
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "instruction_details",
                "route_details",
                "elevation",
                "admin_areas"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "intermediate_waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ]
          },
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteLeg"
            }
          },
          "country_code": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "admin_areas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminArea"
            }
          },
          "admin_area_crossings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteAdminAreaCrossing"
            }
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "geometry": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RoutingJsonPoint"
              }
            }
          }
        }
      },
      "RoutingJsonResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "results",
          "properties"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutingJsonResult"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/RoutingResponseOptions"
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MapMatchingStepAddress": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {
          "street": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "MapMatchingStepOverlap": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "osm_way_id",
          "osmtags",
          "intersection_points"
        ],
        "properties": {
          "osm_way_id": {
            "type": "number"
          },
          "osmtags": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "intersection_points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LongitudeLatitude"
            }
          }
        }
      },
      "MapMatchingStep": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance",
          "osm_way_id"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "instruction": {
            "$ref": "#/components/schemas/RouteInstruction"
          },
          "toll": {
            "type": "boolean"
          },
          "ferry": {
            "type": "boolean"
          },
          "bridge": {
            "type": "boolean"
          },
          "tunnel": {
            "type": "boolean"
          },
          "elevation": {
            "type": "number"
          },
          "elevation_gain": {
            "type": "number"
          },
          "max_elevation": {
            "type": "number"
          },
          "min_elevation": {
            "type": "number"
          },
          "admin_area": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "speed": {
            "type": "number"
          },
          "speed_limit": {
            "type": "number"
          },
          "truck_limit": {
            "type": "number"
          },
          "surface": {
            "type": "string"
          },
          "lane_count": {
            "type": "number"
          },
          "road_class": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roundabout": {
            "type": "boolean"
          },
          "rightside": {
            "type": "boolean"
          },
          "traversability": {
            "type": "string"
          },
          "from_stop_id": {
            "type": "string"
          },
          "from_stop_name": {
            "type": "string"
          },
          "to_stop_id": {
            "type": "string"
          },
          "to_stop_name": {
            "type": "string"
          },
          "osm_way_id": {
            "type": "number"
          },
          "address": {
            "$ref": "#/components/schemas/MapMatchingStepAddress"
          },
          "osmtags": {
            "$ref": "#/components/schemas/JsonObject"
          },
          "overlaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingStepOverlap"
            }
          },
          "begin_bearing": {
            "type": "number"
          },
          "end_bearing": {
            "type": "number"
          }
        }
      },
      "MapMatchingLeg": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "time",
          "distance",
          "steps"
        ],
        "properties": {
          "time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingStep"
            }
          }
        }
      },
      "MapMatchingWaypoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "original_index",
          "location",
          "original_location",
          "match_type"
        ],
        "properties": {
          "original_index": {
            "type": "integer"
          },
          "location": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LongitudeLatitude"
              },
              {
                "type": "null"
              }
            ]
          },
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "match_type": {
            "type": "string",
            "enum": [
              "matched",
              "unmatched",
              "interpolated",
              "merged"
            ]
          },
          "match_distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "leg_index": {
            "type": "integer"
          },
          "step_index": {
            "type": "integer"
          }
        }
      },
      "MapMatchingFeatureProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "distance",
          "time",
          "legs",
          "mode",
          "waypoints"
        ],
        "properties": {
          "distance": {
            "type": "number"
          },
          "time": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingLeg"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "waypoints": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MapMatchingWaypoint"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        }
      },
      "MapMatchingFeature": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/MapMatchingFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "MapMatchingFeatureCollection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "features"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapMatchingFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonObject"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RouteMatrixLocation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "original_location"
        ],
        "properties": {
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "RouteMatrixCell": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "distance",
          "time",
          "source_index",
          "target_index"
        ],
        "properties": {
          "distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "source_index": {
            "type": "integer"
          },
          "target_index": {
            "type": "integer"
          }
        }
      },
      "RouteMatrixResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sources",
          "targets",
          "sources_to_targets",
          "units",
          "distance_units",
          "mode"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteMatrixLocation"
            }
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteMatrixLocation"
            }
          },
          "sources_to_targets": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RouteMatrixCell"
              }
            }
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "distance_units": {
            "type": "string",
            "enum": [
              "meters",
              "miles"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          }
        }
      },
      "IsolineDetails": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/JsonValue"
        },
        "properties": {
          "population": {
            "type": "object",
            "additionalProperties": false,
            "required": [],
            "properties": {
              "attribution": {
                "type": "string"
              },
              "value": {
                "type": "number"
              }
            }
          }
        }
      },
      "IsolineFeatureProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "lat",
          "lon",
          "mode",
          "type",
          "range"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "time",
              "distance"
            ]
          },
          "range": {
            "type": "number"
          },
          "details": {
            "$ref": "#/components/schemas/IsolineDetails"
          },
          "route_type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          }
        }
      },
      "IsolineCollectionProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "IsolineFeature": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/IsolineGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/IsolineFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "IsolineFeatureCollection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "features",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IsolineFeature"
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "maxItems": 6,
            "items": {
              "type": "number"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/IsolineCollectionProperties"
          }
        }
      },
      "RoutePlannerParamLocation": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "location"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          }
        }
      },
      "RoutePlannerParamStop": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "location_index",
          "location",
          "duration",
          "time_windows"
        ],
        "properties": {
          "location_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "duration": {
            "type": "number"
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          }
        }
      },
      "RoutePlannerParamShipment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "pickup",
          "delivery",
          "priority",
          "amount",
          "requirements"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "pickup": {
            "$ref": "#/components/schemas/RoutePlannerParamStop"
          },
          "delivery": {
            "$ref": "#/components/schemas/RoutePlannerParamStop"
          },
          "priority": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoutePlannerParamJob": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "location_index": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "priority": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "delivery_amount": {
            "type": "number"
          },
          "pickup_amount": {
            "type": "number"
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoutePlannerParamAgent": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {
          "id": {
            "type": "string"
          },
          "start_location_index": {
            "type": "integer"
          },
          "start_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "end_location_index": {
            "type": "integer"
          },
          "end_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "delivery_capacity": {
            "type": "number"
          },
          "pickup_capacity": {
            "type": "number"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "time_windows": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "prefixItems": [
                {
                  "type": "number"
                },
                {
                  "type": "number"
                }
              ],
              "items": false
            }
          },
          "breaks": {
            "$ref": "#/components/schemas/JsonValue"
          }
        }
      },
      "RoutePlannerParams": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "locations",
          "agents",
          "mode"
        ],
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamLocation"
            }
          },
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamAgent"
            }
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamJob"
            }
          },
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerParamShipment"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ]
          },
          "max_speed": {
            "type": "number"
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ]
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          "avoid": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Avoid"
            }
          }
        }
      },
      "RoutePlannerAction": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "index",
          "type",
          "start_time",
          "duration"
        ],
        "properties": {
          "index": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "start",
              "end",
              "job",
              "pickup",
              "delivery",
              "break"
            ]
          },
          "start_time": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "location_index": {
            "type": "integer"
          },
          "location_id": {
            "type": "string"
          },
          "shipment_id": {
            "type": "string"
          },
          "shipment_index": {
            "type": "integer"
          },
          "job_id": {
            "type": "string"
          },
          "job_index": {
            "type": "integer"
          },
          "waypoint_index": {
            "type": "integer"
          }
        }
      },
      "RoutePlannerWaypoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "original_location",
          "location",
          "start_time",
          "duration",
          "actions"
        ],
        "properties": {
          "next_leg_index": {
            "type": "integer"
          },
          "prev_leg_index": {
            "type": "integer"
          },
          "original_location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "location": {
            "$ref": "#/components/schemas/LongitudeLatitude"
          },
          "start_time": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerAction"
            }
          },
          "original_location_index": {
            "type": "integer"
          },
          "original_location_id": {
            "type": "string"
          }
        }
      },
      "RoutePlannerStep": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "from_index",
          "to_index",
          "time",
          "distance"
        ],
        "properties": {
          "from_index": {
            "type": "integer"
          },
          "to_index": {
            "type": "integer"
          },
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "distance": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "RoutePlannerLeg": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "time",
          "distance",
          "from_waypoint_index",
          "to_waypoint_index",
          "steps"
        ],
        "properties": {
          "time": {
            "type": [
              "number",
              "null"
            ]
          },
          "distance": {
            "type": [
              "number",
              "null"
            ]
          },
          "from_waypoint_index": {
            "type": "integer"
          },
          "to_waypoint_index": {
            "type": "integer"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerStep"
            }
          }
        }
      },
      "RoutePlannerFeatureProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "agent_index",
          "time",
          "start_time",
          "end_time",
          "distance",
          "legs",
          "mode",
          "actions",
          "waypoints"
        ],
        "properties": {
          "agent_index": {
            "type": "integer"
          },
          "agent_id": {
            "type": "string"
          },
          "time": {
            "type": "number"
          },
          "start_time": {
            "type": "number"
          },
          "end_time": {
            "type": "number"
          },
          "distance": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerLeg"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerAction"
            }
          },
          "waypoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoutePlannerWaypoint"
            }
          }
        }
      },
      "RoutePlannerIssues": {
        "type": "object",
        "additionalProperties": false,
        "required": [],
        "properties": {
          "unassigned_shipments": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "unassigned_agents": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "unassigned_jobs": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "RoutePlannerCollectionProperties": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "params"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "walk",
              "hike",
              "scooter",
              "motorcycle",
              "drive",
              "light_truck",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "bus",
              "medium_truck",
              "truck",
              "truck_dangerous_goods",
              "heavy_truck",
              "long_truck",
              "transit",
              "approximated_transit"
            ]
          },
          "params": {
            "$ref": "#/components/schemas/RoutePlannerParams"
          },
          "issues": {
            "$ref": "#/components/schemas/RoutePlannerIssues"
          }
        }
      },
      "RoutePlannerFeature": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "const": "Feature"
          },
          "geometry": {
            "$ref": "#/components/schemas/MultiLineStringGeometry"
          },
          "properties": {
            "$ref": "#/components/schemas/RoutePlannerFeatureProperties"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
[...]
