{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify MCP API",
    "version": "1.0.0",
    "description": "OpenAPI specification for the Geoapify Model Context Protocol JSON-RPC endpoint."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "Model Context Protocol JSON-RPC endpoint."
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "operationId": "callMcpJsonRpc",
        "summary": "Call the Geoapify MCP JSON-RPC endpoint",
        "description": "Send MCP initialize, tools/list, tools/call, or notification JSON-RPC requests. Tool execution and validation failures return HTTP 200 with result.isError set to true; transport, authentication, quota, and gateway failures use HTTP error statuses.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "description": "Optional protocol version. Defaults to 2025-06-18 when omitted; explicitly unsupported versions are rejected.",
            "schema": {
              "type": "string",
              "enum": [
                "2025-06-18"
              ]
            },
            "example": "2025-06-18"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InitializeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ToolsListRequest"
                  },
                  {
                    "$ref": "#/components/schemas/NotificationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/GeocodeAddressToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/GeocodeStructuredAddressToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReverseGeocodeCoordinatesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SearchPlacesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ListPlaceCategoriesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CalculateRouteToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CalculateRouteMatrixToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CombineGeometriesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/EvaluateSpatialRelationToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MeasureGeometryToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/TransformGeometryToolCallRequest"
                  }
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "tools/list"
              },
              "examples": {
                "toolsList": {
                  "summary": "List MCP tools",
                  "description": "Default request body. Returns the tools and input schemas exposed by the Geoapify MCP endpoint.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/list"
                  }
                },
                "initialize": {
                  "summary": "Initialize MCP session",
                  "description": "Initialize an MCP client session and read server capabilities.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "initialize",
                    "params": {
                      "protocolVersion": "2025-06-18",
                      "capabilities": {},
                      "clientInfo": {
                        "name": "swagger-ui",
                        "version": "1.0.0"
                      }
                    }
                  }
                },
                "geocodeAddressBerlin": {
                  "summary": "Geocode a city name",
                  "description": "Convert a free-text address or place query into coordinates and structured address data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_address",
                      "arguments": {
                        "query": "Berlin",
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "geocodeAddressStreet": {
                  "summary": "Geocode a complete street address",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_address",
                      "arguments": {
                        "query": "200 Larkin Street, San Francisco, CA 94102",
                        "country_codes": [
                          "us"
                        ],
                        "limit": 3,
                        "lang": "en"
                      }
                    }
                  }
                },
                "geocodeAddressLandmark": {
                  "summary": "Geocode a landmark in French",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_address",
                      "arguments": {
                        "query": "Tour Eiffel, Paris",
                        "country_codes": [
                          "fr"
                        ],
                        "limit": 1,
                        "lang": "fr"
                      }
                    }
                  }
                },
                "geocodeStructuredAddressStreet": {
                  "summary": "Geocode structured street fields",
                  "description": "Geocode structured address fields into coordinates and normalized address data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_structured_address",
                      "arguments": {
                        "street": "Unter den Linden",
                        "city": "Berlin",
                        "country": "Germany",
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "geocodeStructuredAddressPostcode": {
                  "summary": "Geocode a postcode",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_structured_address",
                      "arguments": {
                        "postcode": "94102",
                        "country": "United States",
                        "country_codes": [
                          "us"
                        ],
                        "limit": 3,
                        "lang": "en"
                      }
                    }
                  }
                },
                "geocodeStructuredAddressVenue": {
                  "summary": "Geocode a named venue",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_structured_address",
                      "arguments": {
                        "name": "Sydney Opera House",
                        "city": "Sydney",
                        "country": "Australia",
                        "country_codes": [
                          "au"
                        ],
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "reverseGeocodeBerlin": {
                  "summary": "Reverse geocode a coordinate",
                  "description": "Convert latitude and longitude coordinates into nearby address or place data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "reverse_geocode_coordinates",
                      "arguments": {
                        "lat": 52.52,
                        "lon": 13.405,
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "reverseGeocodeBuilding": {
                  "summary": "Find the building at a coordinate",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "reverse_geocode_coordinates",
                      "arguments": {
                        "lat": 42.365344,
                        "lon": -71.052655,
                        "type": "building",
                        "country_codes": [
                          "us"
                        ],
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "reverseGeocodeCity": {
                  "summary": "Resolve a coordinate to its city",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "reverse_geocode_coordinates",
                      "arguments": {
                        "lat": 48.8566,
                        "lon": 2.3522,
                        "type": "city",
                        "country_codes": [
                          "fr"
                        ],
                        "limit": 1,
                        "lang": "fr"
                      }
                    }
                  }
                },
                "searchPlacesRestaurants": {
                  "summary": "Find nearby restaurants",
                  "description": "Find places and points of interest by category near geographic coordinates.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "search_places",
                      "arguments": {
                        "category": "catering.restaurant",
                        "lat": 52.52,
                        "lon": 13.405,
                        "radius_meters": 1000,
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "searchPlacesSupermarkets": {
                  "summary": "Find supermarkets within walking distance",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "search_places",
                      "arguments": {
                        "category": "commercial.supermarket",
                        "lat": 48.8566,
                        "lon": 2.3522,
                        "radius_meters": 1000,
                        "limit": 10,
                        "lang": "fr"
                      }
                    }
                  }
                },
                "searchPlacesAttractions": {
                  "summary": "Find tourist attractions",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "search_places",
                      "arguments": {
                        "category": "tourism.attraction",
                        "lat": 51.5074,
                        "lon": -0.1278,
                        "radius_meters": 5000,
                        "limit": 15,
                        "lang": "en"
                      }
                    }
                  }
                },
                "listPlaceCategoriesNumericId": {
                  "summary": "List place categories",
                  "description": "List the category values accepted by search_places.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "list_place_categories",
                      "arguments": {}
                    }
                  }
                },
                "listPlaceCategoriesStringId": {
                  "summary": "List categories with a string request id",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "category-catalog",
                    "method": "tools/call",
                    "params": {
                      "name": "list_place_categories",
                      "arguments": {}
                    }
                  }
                },
                "calculateRouteDrive": {
                  "summary": "Calculate a driving route",
                  "description": "Calculate a route between geographic waypoints for a supported travel mode.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route",
                      "arguments": {
                        "waypoints": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.51,
                            "lon": 13.39
                          }
                        ],
                        "mode": "drive",
                        "geometry_scope": "none",
                        "include_instructions": false,
                        "units": "metric"
                      }
                    }
                  }
                },
                "calculateRouteWalk": {
                  "summary": "Calculate a walking route with instructions",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route",
                      "arguments": {
                        "waypoints": [
                          {
                            "lat": 48.8606,
                            "lon": 2.3376
                          },
                          {
                            "lat": 48.8584,
                            "lon": 2.2945
                          }
                        ],
                        "mode": "walk",
                        "geometry_scope": "steps",
                        "geometry_format": "geojson",
                        "include_instructions": true,
                        "lang": "fr"
                      }
                    }
                  }
                },
                "calculateRouteBicycle": {
                  "summary": "Optimize a multi-stop bicycle route",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route",
                      "arguments": {
                        "waypoints": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.5145,
                            "lon": 13.3501
                          },
                          {
                            "lat": 52.5096,
                            "lon": 13.376
                          }
                        ],
                        "mode": "bicycle",
                        "optimize_stops": true,
                        "geometry_scope": "route",
                        "geometry_format": "polyline"
                      }
                    }
                  }
                },
                "calculateRouteMatrixSymmetric": {
                  "summary": "Calculate a symmetric route matrix",
                  "description": "Calculate travel times and distances between source and target locations.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route_matrix",
                      "arguments": {
                        "sources": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.51,
                            "lon": 13.39
                          }
                        ],
                        "mode": "drive"
                      }
                    }
                  }
                },
                "calculateRouteMatrixSourcesToTargets": {
                  "summary": "Calculate a source-to-target driving matrix",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route_matrix",
                      "arguments": {
                        "sources": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.5096,
                            "lon": 13.376
                          }
                        ],
                        "targets": [
                          {
                            "lat": 52.5163,
                            "lon": 13.3777
                          },
                          {
                            "lat": 52.4986,
                            "lon": 13.3762
                          }
                        ],
                        "mode": "drive",
                        "traffic": "approximated",
                        "avoid": [
                          "tolls"
                        ],
                        "units": "metric"
                      }
                    }
                  }
                },
                "calculateRouteMatrixWalk": {
                  "summary": "Calculate a walking matrix",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route_matrix",
                      "arguments": {
                        "sources": [
                          {
                            "lat": 48.8566,
                            "lon": 2.3522
                          }
                        ],
                        "targets": [
                          {
                            "lat": 48.8606,
                            "lon": 2.3376
                          },
                          {
                            "lat": 48.8584,
                            "lon": 2.2945
                          }
                        ],
                        "mode": "walk",
                        "type": "short",
                        "units": "metric"
                      }
                    }
                  }
                },
                "combineIntersection": {
                  "summary": "Geometry: intersect two polygons",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 10,
                    "method": "tools/call",
                    "params": {
                      "name": "combine_geometries",
                      "arguments": {
                        "operation": "intersection",
                        "geometries": [
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.38,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.5
                                ]
                              ]
                            ]
                          },
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.4,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.51
                                ]
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "combineDifference": {
                  "summary": "Geometry: subtract one polygon from another",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 11,
                    "method": "tools/call",
                    "params": {
                      "name": "combine_geometries",
                      "arguments": {
                        "operation": "difference",
                        "geometries": [
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.38,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.5
                                ]
                              ]
                            ]
                          },
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.4,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.51
                                ]
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "description": "Every geometry after the first is subtracted from the first geometry."
                },
                "combineUnion": {
                  "summary": "Geometry: merge two polygons",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 12,
                    "method": "tools/call",
                    "params": {
                      "name": "combine_geometries",
                      "arguments": {
                        "operation": "union",
                        "geometries": [
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.38,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.5
                                ]
                              ]
                            ]
                          },
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.4,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.51
                                ]
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "combineEnvelope": {
                  "summary": "Geometry: calculate an envelope around mixed geometries",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 13,
                    "method": "tools/call",
                    "params": {
                      "name": "combine_geometries",
                      "arguments": {
                        "operation": "envelope",
                        "geometries": [
                          {
                            "type": "Point",
                            "coordinates": [
                              13.405,
                              52.52
                            ]
                          },
                          {
                            "type": "LineString",
                            "coordinates": [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.41,
                                52.53
                              ],
                              [
                                13.44,
                                52.54
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "relationContains": {
                  "summary": "Geometry: check whether a polygon contains a point",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 13,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "contains",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "other_geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        }
                      }
                    }
                  }
                },
                "relationIntersects": {
                  "summary": "Geometry: check whether two polygons intersect",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 14,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "intersects",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "other_geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.4,
                                52.51
                              ],
                              [
                                13.44,
                                52.51
                              ],
                              [
                                13.44,
                                52.55
                              ],
                              [
                                13.4,
                                52.55
                              ],
                              [
                                13.4,
                                52.51
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "relationWithin": {
                  "summary": "Geometry: check whether a point is within a polygon",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 15,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "within",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "other_geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "relationCrosses": {
                  "summary": "Geometry: check whether two lines cross",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 16,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "crosses",
                        "geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "other_geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.54
                            ],
                            [
                              13.44,
                              52.5
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "relationDisjoint": {
                  "summary": "Geometry: check whether two geometries are disjoint",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 17,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "disjoint",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "other_geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.5,
                            52.6
                          ]
                        }
                      }
                    }
                  }
                },
                "relationValid": {
                  "summary": "Geometry: validate a polygon",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 18,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "valid",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "relationPointOnLine": {
                  "summary": "Geometry: check whether a point lies on a line",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 19,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "point_on_line",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.41,
                            52.53
                          ]
                        },
                        "other_geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "measureArea": {
                  "summary": "Geometry: calculate polygon area",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 16,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "area",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "measureDistance": {
                  "summary": "Geometry: measure distance between two points",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 17,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "distance",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "other_geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.39,
                            52.51
                          ]
                        },
                        "units": "meters"
                      }
                    }
                  }
                },
                "measureLengthLineString": {
                  "summary": "Geometry: measure a LineString",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 18,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "length",
                        "geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "units": "meters"
                      }
                    }
                  }
                },
                "measureLengthMultiLineString": {
                  "summary": "Geometry: measure a MultiLineString",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 19,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "length",
                        "geometry": {
                          "type": "MultiLineString",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.41,
                                52.52
                              ]
                            ],
                            [
                              [
                                13.41,
                                52.52
                              ],
                              [
                                13.44,
                                52.54
                              ]
                            ]
                          ]
                        },
                        "units": "kilometers"
                      }
                    }
                  }
                },
                "measureBbox": {
                  "summary": "Geometry: calculate a bounding box",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 20,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "bbox",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "recompute": true
                      }
                    }
                  }
                },
                "measureNearestPointOnLine": {
                  "summary": "Geometry: find the nearest position on a line",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 21,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "nearest_point_on_line",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "other_geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "units": "meters"
                      }
                    }
                  }
                },
                "measurePointToLineDistance": {
                  "summary": "Geometry: measure point-to-line distance",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 22,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "point_to_line_distance",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "other_geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "units": "meters"
                      }
                    }
                  }
                },
                "measurePointToPolygonDistance": {
                  "summary": "Geometry: measure point-to-polygon distance",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 23,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "point_to_polygon_distance",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.45,
                            52.56
                          ]
                        },
                        "other_geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "units": "meters"
                      }
                    }
                  }
                },
                "measureAlong": {
                  "summary": "Geometry: find a point along a line",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 24,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "along",
                        "geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "distance": 2,
                        "units": "kilometers"
                      }
                    }
                  }
                },
                "transformBuffer": {
                  "summary": "Geometry: create a 500-meter point buffer",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 22,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "buffer",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "distance": 500,
                        "units": "meters",
                        "steps": 16
                      }
                    }
                  }
                },
                "transformSimplify": {
                  "summary": "Geometry: simplify a line",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 23,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "simplify",
                        "geometry": {
                          "type": "LineString",
                          "coordinates": [
                            [
                              13.38,
                              52.5
                            ],
                            [
                              13.41,
                              52.53
                            ],
                            [
                              13.44,
                              52.54
                            ]
                          ]
                        },
                        "tolerance": 0.001,
                        "high_quality": true
                      }
                    }
                  }
                },
                "transformRotate": {
                  "summary": "Geometry: rotate a polygon around its centroid",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 24,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "rotate",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "angle": 45
                      }
                    }
                  }
                },
                "transformScale": {
                  "summary": "Geometry: scale a polygon from its center",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 25,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "scale",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "factor": 1.5,
                        "origin": "center"
                      }
                    }
                  }
                },
                "transformTranslate": {
                  "summary": "Geometry: translate a polygon east",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 26,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "translate",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "distance": 1,
                        "direction": 90,
                        "units": "kilometers"
                      }
                    }
                  }
                },
                "transformCenter": {
                  "summary": "Geometry: calculate a bounding-box center",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 27,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "center",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "transformCenterMean": {
                  "summary": "Geometry: calculate the mean center",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 28,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "center_mean",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "transformCenterMedian": {
                  "summary": "Geometry: calculate the median center",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 29,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "center_median",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "transformCenterOfMass": {
                  "summary": "Geometry: calculate a polygon center of mass",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 24,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "center_of_mass",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "notificationsInitialized": {
                  "summary": "Initialized notification",
                  "description": "Send an MCP initialized notification. Notifications do not include a JSON-RPC id.",
                  "value": {
                    "jsonrpc": "2.0",
                    "method": "notifications/initialized"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response for initialize, tools/list, and tools/call requests, including tool failures with result.isError set to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                },
                "examples": {
                  "geocodeAddressSuccess": {
                    "summary": "Geocode address result",
                    "description": "Live response for the geocodeAddressBerlin request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"query\": \"Berlin\",\n  \"count\": 1,\n  \"results\": [\n    {\n      \"formatted\": \"Berlin Mountain, Berlin, NY, United States of America\",\n      \"address_line1\": \"Berlin Mountain\",\n      \"address_line2\": \"Berlin, NY, United States of America\",\n      \"lon\": -73.2862195,\n      \"lat\": 42.6920245,\n      \"place_id\": \"518ffe976b515252c059f0c3414294584540f00103f901f7c04f1500000000c0020192030f4265726c696e204d6f756e7461696e\",\n      \"result_type\": \"amenity\",\n      \"rank\": {\n        \"popularity\": 2.1667100707167255,\n        \"confidence\": 1,\n        \"match_type\": \"full_match\"\n      },\n      \"confidence\": 1,\n      \"city\": \"Town of Berlin\",\n      \"county\": \"Rensselaer County\",\n      \"state\": \"New York\",\n      \"country\": \"United States\",\n      \"country_code\": \"us\",\n      \"timezone\": {\n        \"name\": \"America/New_York\",\n        \"offset_STD\": \"-05:00\",\n        \"offset_DST\": \"-04:00\",\n        \"offset_STD_seconds\": -18000,\n        \"offset_DST_seconds\": -14400,\n        \"abbreviation_STD\": \"EST\",\n        \"abbreviation_DST\": \"EDT\"\n      },\n      \"bbox\": {\n        \"lon1\": -73.2862195,\n        \"lat1\": 42.6920245,\n        \"lon2\": -73.2862195,\n        \"lat2\": 42.6920245\n      }\n    }\n  ]\n}"
                          }
                        ],
                        "structuredContent": {
                          "query": "Berlin",
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Berlin Mountain, Berlin, NY, United States of America",
                              "address_line1": "Berlin Mountain",
                              "address_line2": "Berlin, NY, United States of America",
                              "lon": -73.2862195,
                              "lat": 42.6920245,
                              "place_id": "518ffe976b515252c059f0c3414294584540f00103f901f7c04f1500000000c0020192030f4265726c696e204d6f756e7461696e",
                              "result_type": "amenity",
                              "rank": {
                                "popularity": 2.1667100707167255,
                                "confidence": 1,
                                "match_type": "full_match"
                              },
                              "confidence": 1,
                              "city": "Town of Berlin",
                              "county": "Rensselaer County",
                              "state": "New York",
                              "country": "United States",
                              "country_code": "us",
                              "timezone": {
                                "name": "America/New_York",
                                "offset_STD": "-05:00",
                                "offset_DST": "-04:00",
                                "offset_STD_seconds": -18000,
                                "offset_DST_seconds": -14400,
                                "abbreviation_STD": "EST",
                                "abbreviation_DST": "EDT"
                              },
                              "bbox": {
                                "lon1": -73.2862195,
                                "lat1": 42.6920245,
                                "lon2": -73.2862195,
                                "lat2": 42.6920245
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "geocodeStructuredAddressSuccess": {
                    "summary": "Structured address result",
                    "description": "Live response for the geocodeStructuredAddressStreet request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"address\": {\n    \"street\": \"Unter den Linden\",\n    \"city\": \"Berlin\",\n    \"country\": \"Germany\"\n  },\n  \"count\": 1,\n  \"results\": [\n    {\n      \"formatted\": \"Unter den Linden, 10117 Berlin, Germany\",\n      \"address_line1\": \"Unter den Linden\",\n      \"address_line2\": \"10117 Berlin, Germany\",\n      \"lon\": 13.3831728,\n      \"lat\": 52.5167822,\n      \"place_id\": \"51fa6ea9392fc42a4059d5134ceb25424a40f00102f9013fe4c04200000000c00204920310556e7465722064656e204c696e64656e\",\n      \"result_type\": \"street\",\n      \"rank\": {\n        \"importance\": 0.5166848938100648,\n        \"popularity\": 8.995467104553104,\n        \"confidence\": 1,\n        \"confidence_city_level\": 1,\n        \"confidence_street_level\": 1,\n        \"match_type\": \"full_match\"\n      },\n      \"confidence\": 1,\n      \"street\": \"Unter den Linden\",\n      \"postcode\": \"10117\",\n      \"city\": \"Berlin\",\n      \"state\": \"Berlin\",\n      \"country\": \"Germany\",\n      \"country_code\": \"de\",\n      \"timezone\": {\n        \"name\": \"Europe/Berlin\",\n        \"offset_STD\": \"+01:00\",\n        \"offset_DST\": \"+02:00\",\n        \"offset_STD_seconds\": 3600,\n        \"offset_DST_seconds\": 7200,\n        \"abbreviation_STD\": \"CET\",\n        \"abbreviation_DST\": \"CEST\"\n      },\n      \"bbox\": {\n        \"lon1\": 13.3817021,\n        \"lat1\": 52.5166853,\n        \"lon2\": 13.3846435,\n        \"lat2\": 52.5168788\n      }\n    }\n  ]\n}"
                          }
                        ],
                        "structuredContent": {
                          "address": {
                            "street": "Unter den Linden",
                            "city": "Berlin",
                            "country": "Germany"
                          },
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Unter den Linden, 10117 Berlin, Germany",
                              "address_line1": "Unter den Linden",
                              "address_line2": "10117 Berlin, Germany",
                              "lon": 13.3831728,
                              "lat": 52.5167822,
                              "place_id": "51fa6ea9392fc42a4059d5134ceb25424a40f00102f9013fe4c04200000000c00204920310556e7465722064656e204c696e64656e",
                              "result_type": "street",
                              "rank": {
                                "importance": 0.5166848938100648,
                                "popularity": 8.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "match_type": "full_match"
                              },
                              "confidence": 1,
                              "street": "Unter den Linden",
                              "postcode": "10117",
                              "city": "Berlin",
                              "state": "Berlin",
                              "country": "Germany",
                              "country_code": "de",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "bbox": {
                                "lon1": 13.3817021,
                                "lat1": 52.5166853,
                                "lon2": 13.3846435,
                                "lat2": 52.5168788
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "reverseGeocodeCoordinatesSuccess": {
                    "summary": "Reverse geocoding result",
                    "description": "Live response for the reverseGeocodeBerlin request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"coordinates\": {\n    \"lat\": 52.52,\n    \"lon\": 13.405\n  },\n  \"count\": 1,\n  \"results\": [\n    {\n      \"formatted\": \"Nordsee, Spandauer Straße 4, 10178 Berlin, Germany\",\n      \"address_line1\": \"Nordsee\",\n      \"address_line2\": \"Spandauer Straße 4, 10178 Berlin, Germany\",\n      \"lon\": 13.4049136,\n      \"lat\": 52.5204075,\n      \"place_id\": \"514869dbd550cf2a4059eb8b84b69c424a40f00103f901726b151a00000000c002019203074e6f7264736565e203226f70656e7374726565746d61703a76656e75653a6e6f64652f343337363131333738\",\n      \"result_type\": \"amenity\",\n      \"rank\": {\n        \"importance\": 0.00008875486381318407,\n        \"popularity\": 8.995467104553104\n      },\n      \"housenumber\": \"4\",\n      \"street\": \"Spandauer Straße\",\n      \"postcode\": \"10178\",\n      \"city\": \"Berlin\",\n      \"state\": \"Berlin\",\n      \"country\": \"Germany\",\n      \"country_code\": \"de\",\n      \"timezone\": {\n        \"name\": \"Europe/Berlin\",\n        \"offset_STD\": \"+01:00\",\n        \"offset_DST\": \"+02:00\",\n        \"offset_STD_seconds\": 3600,\n        \"offset_DST_seconds\": 7200,\n        \"abbreviation_STD\": \"CET\",\n        \"abbreviation_DST\": \"CEST\"\n      },\n      \"bbox\": {\n        \"lon1\": 13.4048636,\n        \"lat1\": 52.5203575,\n        \"lon2\": 13.4049636,\n        \"lat2\": 52.5204575\n      }\n    }\n  ]\n}"
                          }
                        ],
                        "structuredContent": {
                          "coordinates": {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Nordsee, Spandauer Straße 4, 10178 Berlin, Germany",
                              "address_line1": "Nordsee",
                              "address_line2": "Spandauer Straße 4, 10178 Berlin, Germany",
                              "lon": 13.4049136,
                              "lat": 52.5204075,
                              "place_id": "514869dbd550cf2a4059eb8b84b69c424a40f00103f901726b151a00000000c002019203074e6f7264736565e203226f70656e7374726565746d61703a76656e75653a6e6f64652f343337363131333738",
                              "result_type": "amenity",
                              "rank": {
                                "importance": 0.00008875486381318407,
                                "popularity": 8.995467104553104
                              },
                              "housenumber": "4",
                              "street": "Spandauer Straße",
                              "postcode": "10178",
                              "city": "Berlin",
                              "state": "Berlin",
                              "country": "Germany",
                              "country_code": "de",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "bbox": {
                                "lon1": 13.4048636,
                                "lat1": 52.5203575,
                                "lon2": 13.4049636,
                                "lat2": 52.5204575
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "searchPlacesSuccess": {
                    "summary": "Nearby places result",
                    "description": "Live response for the searchPlacesRestaurants request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"category\": \"catering.restaurant\",\n  \"coordinates\": {\n    \"lat\": 52.52,\n    \"lon\": 13.405\n  },\n  \"radius_meters\": 1000,\n  \"count\": 1,\n  \"results\": [\n    {\n      \"name\": \"BLOCK HOUSE\",\n      \"country\": \"Germany\",\n      \"country_code\": \"de\",\n      \"city\": \"Berlin\",\n      \"postcode\": \"10178\",\n      \"district\": \"Mitte\",\n      \"neighbourhood\": \"Nikolaiviertel\",\n      \"suburb\": \"Mitte\",\n      \"street\": \"Karl-Liebknecht-Straße\",\n      \"housenumber\": \"7\",\n      \"lon\": 13.4051631,\n      \"lat\": 52.5205315,\n      \"state\": \"Berlin\",\n      \"state_code\": \"BE\",\n      \"formatted\": \"BLOCK HOUSE, Karl-Liebknecht-Straße 7, 10178 Berlin, Germany\",\n      \"categories\": [\n        \"catering\",\n        \"catering.restaurant\",\n        \"catering.restaurant.steak_house\"\n      ],\n      \"datasource\": {\n        \"sourcename\": \"openstreetmap\",\n        \"attribution\": \"© OpenStreetMap contributors\",\n        \"license\": \"Open Database License\",\n        \"url\": \"https://www.openstreetmap.org/copyright\"\n      },\n      \"website\": \"http://www.block-house.de\",\n      \"opening_hours\": \"Mo-Sa 12:00-23:00; Su 12:00-22:00\",\n      \"brand\": \"BLOCK HOUSE\",\n      \"brand_details\": {\n        \"wikidata\": \"Q320430\",\n        \"wikipedia\": \"de:Block House\"\n      },\n      \"name_international\": {\n        \"de\": \"BLOCK HOUSE\"\n      },\n      \"contact\": {\n        \"phone\": \"+49 30 2423300\"\n      },\n      \"facilities\": {\n        \"wheelchair\": true,\n        \"smoking\": true,\n        \"toilets\": false,\n        \"outdoor_seating\": true\n      },\n      \"catering\": {\n        \"cuisine\": \"steak_house\"\n      },\n      \"distance\": 60,\n      \"place_id\": \"518a17b08971cf2a4059d784b4c6a0424a40f00103f901bb70151a0000000092030b424c4f434b20484f555345\"\n    }\n  ]\n}"
                          }
                        ],
                        "structuredContent": {
                          "category": "catering.restaurant",
                          "coordinates": {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          "radius_meters": 1000,
                          "count": 1,
                          "results": [
                            {
                              "name": "BLOCK HOUSE",
                              "country": "Germany",
                              "country_code": "de",
                              "city": "Berlin",
                              "postcode": "10178",
                              "district": "Mitte",
                              "neighbourhood": "Nikolaiviertel",
                              "suburb": "Mitte",
                              "street": "Karl-Liebknecht-Straße",
                              "housenumber": "7",
                              "lon": 13.4051631,
                              "lat": 52.5205315,
                              "state": "Berlin",
                              "state_code": "BE",
                              "formatted": "BLOCK HOUSE, Karl-Liebknecht-Straße 7, 10178 Berlin, Germany",
                              "categories": [
                                "catering",
                                "catering.restaurant",
                                "catering.restaurant.steak_house"
                              ],
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "website": "http://www.block-house.de",
                              "opening_hours": "Mo-Sa 12:00-23:00; Su 12:00-22:00",
                              "brand": "BLOCK HOUSE",
                              "brand_details": {
                                "wikidata": "Q320430",
                                "wikipedia": "de:Block House"
                              },
                              "name_international": {
                                "de": "BLOCK HOUSE"
                              },
                              "contact": {
                                "phone": "+49 30 2423300"
                              },
                              "facilities": {
                                "wheelchair": true,
                                "smoking": true,
                                "toilets": false,
                                "outdoor_seating": true
                              },
                              "catering": {
                                "cuisine": "steak_house"
                              },
                              "distance": 60,
                              "place_id": "518a17b08971cf2a4059d784b4c6a0424a40f00103f901bb70151a0000000092030b424c4f434b20484f555345"
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "listPlaceCategoriesSuccess": {
                    "summary": "Place category catalog",
                    "description": "Live response for the listPlaceCategoriesNumericId request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\n  \"count\": 833,\n  \"categories\": [\n    \"accommodation\",\n    \"accommodation.hotel\",\n    \"accommodation.hut\",\n    \"accommodation.apartment\",\n    \"accommodation.chalet\",\n    \"accommodation.guest_house\",\n    \"accommodation.hostel\",\n    \"accommodation.motel\",\n    \"activity\",\n    \"activity.community_center\",\n    \"activity.events_venue\",\n    \"activity.hackerspace\",\n    \"activity.sport_club\",\n    \"adult\",\n    \"adult.nightclub\",\n    \"adult.stripclub\",\n    \"adult.swingerclub\",\n    \"adult.brothel\",\n    \"adult.casino\",\n    \"adult.adult_gaming_centre\",\n    \"airport\",\n    \"airport.terminal\",\n    \"airport.private\",\n    \"airport.international\",\n    \"airport.military\",\n    \"airport.gliding\",\n    \"airport.airfield\",\n    \"amenity\",\n    \"amenity.toilet\",\n    \"amenity.toilet.changing_table\",\n    \"amenity.drinking_water\",\n    \"amenity.give_box\",\n    \"amenity.give_box.food\",\n    \"amenity.give_box.books\",\n    \"beach\",\n    \"beach.beach_resort\",\n    \"administrative\",\n    \"administrative.continent_level\",\n    \"administrative.country_level\",\n    \"administrative.country_part_level\",\n    \"administrative.state_level\",\n    \"administrative.county_level\",\n    \"administrative.city_level\",\n    \"administrative.district_level\",\n    \"administrative.suburb_level\",\n    \"administrative.neighbourhood_level\",\n    \"postal_code\",\n    \"political\",\n    \"low_emission_zone\",\n    \"building\",\n    \"building.residential\",\n    \"building.commercial\",\n    \"building.industrial\",\n    \"building.office\",\n    \"building.catering\",\n    \"building.healthcare\",\n    \"building.university\",\n    \"building.college\",\n    \"building.dormitory\",\n    \"building.school\",\n    \"building.driving_school\",\n    \"building.kindergarten\",\n    \"building.public_and_civil\",\n    \"building.sport\",\n    \"building.spa\",\n    \"building.place_of_worship\",\n    \"building.holiday_house\",\n    \"building.accommodation\",\n    \"building.tourism\",\n    \"building.transportation\",\n    \"building.military\",\n    \"building.service\",\n    \"building.facility\",\n    \"building.garage\",\n    \"building.parking\",\n    \"building.toilet\",\n    \"building.prison\",\n    \"building.entertainment\",\n    \"building.historic\",\n    \"camping\",\n    \"camping.camp_pitch\",\n    \"camping.camp_site\",\n    \"camping.summer_camp\",\n    \"camping.caravan_site\",\n    \"catering\",\n    \"catering.restaurant\",\n    \"catering.restaurant.pizza\",\n    \"catering.restaurant.burger\",\n    \"catering.restaurant.regional\",\n    \"catering.restaurant.italian\",\n    \"catering.restaurant.chinese\",\n    \"catering.restaurant.sandwich\",\n    \"catering.restaurant.chicken\",\n    \"catering.restaurant.mexican\",\n    \"catering.restaurant.japanese\",\n    \"catering.restaurant.american\",\n    \"catering.restaurant.kebab\",\n    \"catering.restaurant.indian\",\n    \"catering.restaurant.asian\",\n    \"catering.restaurant.sushi\",\n    \"catering.restaurant.french\",\n    \"catering.restaurant.german\",\n    \"catering.restaurant.thai\",\n    \"catering.restaurant.greek\",\n    \"catering.restaurant.seafood\",\n    \"catering.restaurant.fish_and_chips\",\n    \"catering.restaurant.steak_house\",\n    \"catering.restaurant.international\",\n    \"catering.restaurant.tex-mex\",\n    \"catering.restaurant.vietnamese\",\n    \"catering.restaurant.turkish\",\n    \"catering.restaurant.korean\",\n    \"catering.restaurant.noodle\",\n    \"catering.restaurant.barbecue\",\n    \"catering.restaurant.spanish\",\n    \"catering.restaurant.fish\",\n    \"catering.restaurant.ramen\",\n    \"catering.restaurant.mediterranean\",\n    \"catering.restaurant.friture\",\n    \"catering.restaurant.beef_bowl\",\n    \"catering.restaurant.lebanese\",\n    \"catering.restaurant.wings\",\n    \"catering.restaurant.georgian\",\n    \"catering.restaurant.tapas\",\n    \"catering.restaurant.indonesian\",\n    \"catering.restaurant.arab\",\n    \"catering.restaurant.portuguese\",\n    \"catering.restaurant.russian\",\n    \"catering.restaurant.filipino\",\n    \"catering.restaurant.african\",\n    \"catering.restaurant.malaysian\",\n    \"catering.restaurant.caribbean\",\n    \"catering.restaurant.peruvian\",\n    \"catering.restaurant.bavarian\",\n    \"catering.restaurant.brazilian\",\n    \"catering.restaurant.curry\",\n    \"catering.restaurant.dumpling\",\n    \"catering.restaurant.persian\",\n    \"catering.restaurant.argentinian\",\n    \"catering.restaurant.oriental\",\n    \"catering.restaurant.balkan\",\n    \"catering.restaurant.moroccan\",\n    \"catering.restaurant.pita\",\n    \"catering.restaurant.ethiopian\",\n    \"catering.restaurant.taiwanese\",\n    \"catering.restaurant.latin_american\",\n    \"catering.restaurant.hawaiian\",\n    \"catering.restaurant.irish\",\n    \"catering.restaurant.austrian\",\n    \"catering.restaurant.croatian\",\n    \"catering.restaurant.danish\",\n    \"catering.restaurant.tacos\",\n    \"catering.restaurant.bolivian\",\n    \"catering.restaurant.hungarian\",\n    \"catering.restaurant.western\",\n    \"catering.restaurant.european\",\n    \"catering.restaurant.jamaican\",\n    \"catering.restaurant.cuban\",\n    \"catering.restaurant.soup\",\n    \"catering.restaurant.uzbek\",\n    \"catering.restaurant.nepalese\",\n    \"catering.restaurant.czech\",\n    \"catering.restaurant.syrian\",\n    \"catering.restaurant.afghan\",\n    \"catering.restaurant.malay\",\n    \"catering.restaurant.chili\",\n    \"catering.restaurant.belgian\",\n    \"catering.restaurant.ukrainian\",\n    \"catering.restaurant.swedish\",\n    \"catering.restaurant.pakistani\",\n    \"catering.fast_food\",\n    \"catering.fast_food.pizza\",\n    \"catering.fast_food.burger\",\n    \"catering.fast_food.sandwich\",\n    \"catering.fast_food.kebab\",\n    \"catering.fast_food.fish_and_chips\",\n    \"catering.fast_food.noodle\",\n    \"catering.fast_food.ramen\",\n    \"catering.fast_food.wings\",\n    \"catering.fast_food.tapas\",\n    \"catering.fast_food.pita\",\n    \"catering.fast_food.tacos\",\n    \"catering.fast_food.soup\",\n    \"catering.fast_food.salad\",\n    \"catering.fast_food.hot_dog\",\n    \"catering.cafe\",\n    \"catering.cafe.waffle\",\n    \"catering.cafe.ice_cream\",\n    \"catering.cafe.coffee_shop\",\n    \"catering.cafe.donut\",\n    \"catering.cafe.crepe\",\n    \"catering.cafe.bubble_tea\",\n    \"catering.cafe.cake\",\n    \"catering.cafe.frozen_yogurt\",\n    \"catering.cafe.dessert\",\n    \"catering.cafe.coffee\",\n    \"catering.cafe.tea\",\n    \"catering.food_court\",\n    \"catering.bar\",\n    \"catering.pub\",\n    \"catering.ice_cream\",\n    \"catering.biergarten\",\n    \"catering.taproom\",\n    \"commercial\",\n    \"commercial.supermarket\",\n    \"commercial.marketplace\",\n    \"commercial.shopping_mall\",\n    \"commercial.department_store\",\n    \"commercial.elektronics\",\n    \"commercial.outdoor_and_sport\",\n    \"commercial.outdoor_and_sport.water_sports\",\n    \"commercial.outdoor_and_sport.ski\",\n    \"commercial.outdoor_and_sport.diving\",\n    \"commercial.outdoor_and_sport.hunting\",\n    \"commercial.outdoor_and_sport.bicycle\",\n    \"commercial.outdoor_and_sport.fishing\",\n    \"commercial.outdoor_and_sport.golf\",\n    \"commercial.vehicle\",\n    \"commercial.hobby\",\n    \"commercial.hobby.model\",\n    \"commercial.hobby.anime\",\n    \"commercial.hobby.collecting\",\n    \"commercial.hobby.games\",\n    \"commercial.hobby.brewing\",\n    \"commercial.hobby.photo\",\n    \"commercial.hobby.music\",\n    \"commercial.hobby.sewing_and_knitting\",\n    \"commercial.hobby.art\",\n    \"commercial.books\",\n    \"commercial.gift_and_souvenir\",\n    \"commercial.stationery\",\n    \"commercial.newsagent\",\n    \"commercial.tickets_and_lottery\",\n    \"commercial.clothing\",\n    \"commercial.clothing.shoes\",\n    \"commercial.clothing.clothes\",\n    \"commercial.clothing.underwear\",\n    \"commercial.clothing.sport\",\n    \"commercial.clothing.men\",\n    \"commercial.clothing.women\",\n    \"commercial.clothing.kids\",\n    \"commercial.clothing.accessories\",\n    \"commercial.bag\",\n    \"commercial.baby_goods\",\n    \"commercial.agrarian\",\n    \"commercial.garden\",\n    \"commercial.houseware_and_hardware\",\n    \"commercial.houseware_and_hardware.doityourself\",\n    \"commercial.houseware_and_hardware.hardware_and_tools\",\n    \"commercial.houseware_and_hardware.building_materials\",\n    \"commercial.houseware_and_hardware.building_materials.paint\",\n    \"commercial.houseware_and_hardware.building_materials.glaziery\",\n    \"commercial.houseware_and_hardware.building_materials.doors\",\n    \"commercial.houseware_and_hardware.building_materials.tiles\",\n    \"commercial.houseware_and_hardware.building_materials.windows\",\n    \"commercial.houseware_and_hardware.building_materials.flooring\",\n    \"commercial.houseware_and_hardware.fireplace\",\n    \"commercial.houseware_and_hardware.swimming_pool\",\n    \"commercial.florist\",\n    \"commercial.furniture_and_interior\",\n    \"commercial.furniture_and_interior.lighting\",\n    \"commercial.furniture_and_interior.curtain\",\n    \"commercial.furniture_and_interior.carpet\",\n    \"commercial.furniture_and_interior.kitchen\",\n    \"commercial.furniture_and_interior.bed\",\n    \"commercial.furniture_and_interior.bathroom\",\n    \"commercial.chemist\",\n    \"commercial.health_and_beauty\",\n    \"commercial.health_and_beauty.pharmacy\",\n    \"commercial.health_and_beauty.optician\",\n    \"commercial.health_and_beauty.medical_supply\",\n    \"commercial.health_and_beauty.hearing_aids\",\n    \"commercial.health_and_beauty.herbalist\",\n    \"commercial.health_and_beauty.cosmetics\",\n    \"commercial.health_and_beauty.wigs\",\n    \"commercial.toy_and_game\",\n    \"commercial.pet\",\n    \"commercial.food_and_drink\",\n    \"commercial.food_and_drink.bakery\",\n    \"commercial.food_and_drink.deli\",\n    \"commercial.food_and_drink.frozen_food\",\n    \"commercial.food_and_drink.pasta\",\n    \"commercial.food_and_drink.spices\",\n    \"commercial.food_and_drink.organic\",\n    \"commercial.food_and_drink.honey\",\n    \"commercial.food_and_drink.rice\",\n    \"commercial.food_and_drink.nuts\",\n    \"commercial.food_and_drink.health_food\",\n    \"commercial.food_and_drink.ice_cream\",\n    \"commercial.food_and_drink.seafood\",\n    \"commercial.food_and_drink.fruit_and_vegetable\",\n    \"commercial.food_and_drink.farm\",\n    \"commercial.food_and_drink.confectionery\",\n    \"commercial.food_and_drink.chocolate\",\n    \"commercial.food_and_drink.butcher\",\n    \"commercial.food_and_drink.cheese_and_dairy\",\n    \"commercial.food_and_drink.drinks\",\n    \"commercial.food_and_drink.coffee_and_tea\",\n    \"commercial.convenience\",\n    \"commercial.discount_store\",\n    \"commercial.smoking\",\n    \"commercial.second_hand\",\n    \"commercial.gas\",\n    \"commercial.weapons\",\n    \"commercial.pyrotechnics\",\n    \"commercial.energy\",\n    \"commercial.wedding\",\n    \"commercial.jewelry\",\n    \"commercial.watches\",\n    \"commercial.art\",\n    \"commercial.antiques\",\n    \"commercial.video_and_music\",\n    \"commercial.erotic\",\n    \"commercial.trade\",\n    \"commercial.kiosk\",\n    \"education\",\n    \"education.school\",\n    \"education.driving_school\",\n    \"education.music_school\",\n    \"education.language_school\",\n    \"education.library\",\n    \"education.college\",\n    \"education.university\",\n    \"childcare\",\n    \"childcare.kindergarten\",\n    \"emergency\",\n    \"emergency.fire_hydrant\",\n    \"emergency.fire_service_inlet\",\n    \"emergency.suction_point\",\n    \"emergency.defibrillator\",\n    \"emergency.water_tank\",\n    \"emergency.phone\",\n    \"emergency.assembly_point\",\n    \"emergency.fire_extinguisher\",\n    \"emergency.ambulance_station\",\n    \"emergency.access_point\",\n    \"emergency.siren\",\n    \"emergency.fire_alarm_box\",\n    \"emergency.first_aid_kit\",\n    \"emergency.first_aid\",\n    \"emergency.bleed_control_kit\",\n    \"emergency.emergency_ward_entrance\",\n    \"emergency.control_centre\",\n    \"emergency.fire_water_pond\",\n    \"em
[...]
