{
  "openapi": "3.1.0",
  "info": {
    "title": "Geoapify MCP API",
    "version": "1.1.0",
    "description": "Compact catalog for the Geoapify Model Context Protocol JSON-RPC endpoint. Use the linked focused specifications for complete tool output contracts and additional examples."
  },
  "servers": [
    {
      "url": "https://api.geoapify.com/v1",
      "description": "Default API endpoint."
    },
    {
      "url": "https://api-eu.geoapify.com/v1",
      "description": "EU-focused endpoint. Geoapify service processing uses EU infrastructure."
    }
  ],
  "tags": [
    {
      "name": "MCP",
      "description": "Model Context Protocol JSON-RPC endpoint."
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "tags": [
          "MCP"
        ],
        "operationId": "callMcpJsonRpc",
        "summary": "Call the Geoapify MCP JSON-RPC endpoint",
        "description": "Send MCP initialize, tools/list, tools/call, or notification JSON-RPC requests. Tool execution and validation failures return HTTP 200 with result.isError set to true; transport, authentication, quota, and gateway failures use HTTP error statuses.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "description": "Optional protocol version. Defaults to 2025-06-18 when omitted; explicitly unsupported versions are rejected.",
            "schema": {
              "type": "string",
              "enum": [
                "2025-06-18"
              ]
            },
            "example": "2025-06-18"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InitializeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ToolsListRequest"
                  },
                  {
                    "$ref": "#/components/schemas/NotificationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/GeocodeAddressToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/GeocodeStructuredAddressToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReverseGeocodeCoordinatesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SearchPlacesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ListPlaceCategoriesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CalculateRouteToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CalculateRouteMatrixToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CombineGeometriesToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/EvaluateSpatialRelationToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MeasureGeometryToolCallRequest"
                  },
                  {
                    "$ref": "#/components/schemas/TransformGeometryToolCallRequest"
                  }
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "tools/list"
              },
              "examples": {
                "toolsList": {
                  "summary": "List MCP tools",
                  "description": "Default request body. Returns the tools and input schemas exposed by the Geoapify MCP endpoint.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/list"
                  }
                },
                "initialize": {
                  "summary": "Initialize MCP session",
                  "description": "Initialize an MCP client session and read server capabilities.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "initialize",
                    "params": {
                      "protocolVersion": "2025-06-18",
                      "capabilities": {},
                      "clientInfo": {
                        "name": "swagger-ui",
                        "version": "1.0.0"
                      }
                    }
                  }
                },
                "geocodeAddressBerlin": {
                  "summary": "Geocode a city name",
                  "description": "Convert a free-text address or place query into coordinates and structured address data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_address",
                      "arguments": {
                        "query": "Berlin",
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "geocodeStructuredAddressStreet": {
                  "summary": "Geocode structured street fields",
                  "description": "Geocode structured address fields into coordinates and normalized address data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "geocode_structured_address",
                      "arguments": {
                        "street": "Unter den Linden",
                        "city": "Berlin",
                        "country": "Germany",
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "reverseGeocodeBerlin": {
                  "summary": "Reverse geocode a coordinate",
                  "description": "Convert latitude and longitude coordinates into nearby address or place data.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "reverse_geocode_coordinates",
                      "arguments": {
                        "lat": 52.52,
                        "lon": 13.405,
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "searchPlacesRestaurants": {
                  "summary": "Find nearby restaurants",
                  "description": "Find places and points of interest by category near geographic coordinates.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "search_places",
                      "arguments": {
                        "category": "catering.restaurant",
                        "lat": 52.52,
                        "lon": 13.405,
                        "radius_meters": 1000,
                        "limit": 1,
                        "lang": "en"
                      }
                    }
                  }
                },
                "listPlaceCategoriesNumericId": {
                  "summary": "List place categories",
                  "description": "List the category values accepted by search_places.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "list_place_categories",
                      "arguments": {}
                    }
                  }
                },
                "calculateRouteDrive": {
                  "summary": "Calculate a driving route",
                  "description": "Calculate a route between geographic waypoints for a supported travel mode.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route",
                      "arguments": {
                        "waypoints": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.51,
                            "lon": 13.39
                          }
                        ],
                        "mode": "drive",
                        "geometry_scope": "none",
                        "include_instructions": false,
                        "units": "metric"
                      }
                    }
                  }
                },
                "calculateRouteMatrixSymmetric": {
                  "summary": "Calculate a symmetric route matrix",
                  "description": "Calculate travel times and distances between source and target locations.",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/call",
                    "params": {
                      "name": "calculate_route_matrix",
                      "arguments": {
                        "sources": [
                          {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          {
                            "lat": 52.51,
                            "lon": 13.39
                          }
                        ],
                        "mode": "drive"
                      }
                    }
                  }
                },
                "combineIntersection": {
                  "summary": "Geometry: intersect two polygons",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 10,
                    "method": "tools/call",
                    "params": {
                      "name": "combine_geometries",
                      "arguments": {
                        "operation": "intersection",
                        "geometries": [
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.38,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.5
                                ],
                                [
                                  13.42,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.54
                                ],
                                [
                                  13.38,
                                  52.5
                                ]
                              ]
                            ]
                          },
                          {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  13.4,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.51
                                ],
                                [
                                  13.44,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.55
                                ],
                                [
                                  13.4,
                                  52.51
                                ]
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "relationContains": {
                  "summary": "Geometry: check whether a polygon contains a point",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 13,
                    "method": "tools/call",
                    "params": {
                      "name": "evaluate_spatial_relation",
                      "arguments": {
                        "operation": "contains",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        },
                        "other_geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        }
                      }
                    }
                  }
                },
                "measureArea": {
                  "summary": "Geometry: calculate polygon area",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 16,
                    "method": "tools/call",
                    "params": {
                      "name": "measure_geometry",
                      "arguments": {
                        "operation": "area",
                        "geometry": {
                          "type": "Polygon",
                          "coordinates": [
                            [
                              [
                                13.38,
                                52.5
                              ],
                              [
                                13.42,
                                52.5
                              ],
                              [
                                13.42,
                                52.54
                              ],
                              [
                                13.38,
                                52.54
                              ],
                              [
                                13.38,
                                52.5
                              ]
                            ]
                          ]
                        }
                      }
                    }
                  }
                },
                "transformBuffer": {
                  "summary": "Geometry: create a 500-meter point buffer",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 22,
                    "method": "tools/call",
                    "params": {
                      "name": "transform_geometry",
                      "arguments": {
                        "operation": "buffer",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            13.405,
                            52.52
                          ]
                        },
                        "distance": 500,
                        "units": "meters",
                        "steps": 16
                      }
                    }
                  }
                },
                "notificationsInitialized": {
                  "summary": "Initialized notification",
                  "description": "Send an MCP initialized notification. Notifications do not include a JSON-RPC id.",
                  "value": {
                    "jsonrpc": "2.0",
                    "method": "notifications/initialized"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response for initialize, tools/list, and tools/call requests, including tool failures with result.isError set to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                },
                "examples": {
                  "geocodeAddressSuccess": {
                    "summary": "Geocode address result",
                    "description": "Live response for the geocodeAddressBerlin request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"query\":\"Berlin\",\"count\":1,\"results\":[{\"formatted\":\"Berlin Mountain, Berlin, NY, United States of America\",\"address_line1\":\"Berlin Mountain\",\"address_line2\":\"Berlin, NY, United States of America\",\"lon\":-73.2862195,\"lat\":42.6920245,\"place_id\":\"518ffe976b515252c059f0c3414294584540f00103f901f7c04f1500000000c0020192030f4265726c696e204d6f756e7461696e\",\"result_type\":\"amenity\",\"rank\":{\"popularity\":2.1667100707167255,\"confidence\":1,\"match_type\":\"full_match\"},\"confidence\":1,\"city\":\"Town of Berlin\",\"county\":\"Rensselaer County\",\"state\":\"New York\",\"country\":\"United States\",\"country_code\":\"us\",\"timezone\":{\"name\":\"America/New_York\",\"offset_STD\":\"-05:00\",\"offset_DST\":\"-04:00\",\"offset_STD_seconds\":-18000,\"offset_DST_seconds\":-14400,\"abbreviation_STD\":\"EST\",\"abbreviation_DST\":\"EDT\"},\"bbox\":{\"lon1\":-73.2862195,\"lat1\":42.6920245,\"lon2\":-73.2862195,\"lat2\":42.6920245}}]}"
                          }
                        ],
                        "structuredContent": {
                          "query": "Berlin",
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Berlin Mountain, Berlin, NY, United States of America",
                              "address_line1": "Berlin Mountain",
                              "address_line2": "Berlin, NY, United States of America",
                              "lon": -73.2862195,
                              "lat": 42.6920245,
                              "place_id": "518ffe976b515252c059f0c3414294584540f00103f901f7c04f1500000000c0020192030f4265726c696e204d6f756e7461696e",
                              "result_type": "amenity",
                              "rank": {
                                "popularity": 2.1667100707167255,
                                "confidence": 1,
                                "match_type": "full_match"
                              },
                              "confidence": 1,
                              "city": "Town of Berlin",
                              "county": "Rensselaer County",
                              "state": "New York",
                              "country": "United States",
                              "country_code": "us",
                              "timezone": {
                                "name": "America/New_York",
                                "offset_STD": "-05:00",
                                "offset_DST": "-04:00",
                                "offset_STD_seconds": -18000,
                                "offset_DST_seconds": -14400,
                                "abbreviation_STD": "EST",
                                "abbreviation_DST": "EDT"
                              },
                              "bbox": {
                                "lon1": -73.2862195,
                                "lat1": 42.6920245,
                                "lon2": -73.2862195,
                                "lat2": 42.6920245
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "geocodeStructuredAddressSuccess": {
                    "summary": "Structured address result",
                    "description": "Live response for the geocodeStructuredAddressStreet request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"address\":{\"street\":\"Unter den Linden\",\"city\":\"Berlin\",\"country\":\"Germany\"},\"count\":1,\"results\":[{\"formatted\":\"Unter den Linden, 10117 Berlin, Germany\",\"address_line1\":\"Unter den Linden\",\"address_line2\":\"10117 Berlin, Germany\",\"lon\":13.3831728,\"lat\":52.5167822,\"place_id\":\"51fa6ea9392fc42a4059d5134ceb25424a40f00102f9013fe4c04200000000c00204920310556e7465722064656e204c696e64656e\",\"result_type\":\"street\",\"rank\":{\"importance\":0.5166848938100648,\"popularity\":8.995467104553104,\"confidence\":1,\"confidence_city_level\":1,\"confidence_street_level\":1,\"match_type\":\"full_match\"},\"confidence\":1,\"street\":\"Unter den Linden\",\"postcode\":\"10117\",\"city\":\"Berlin\",\"state\":\"Berlin\",\"country\":\"Germany\",\"country_code\":\"de\",\"timezone\":{\"name\":\"Europe/Berlin\",\"offset_STD\":\"+01:00\",\"offset_DST\":\"+02:00\",\"offset_STD_seconds\":3600,\"offset_DST_seconds\":7200,\"abbreviation_STD\":\"CET\",\"abbreviation_DST\":\"CEST\"},\"bbox\":{\"lon1\":13.3817021,\"lat1\":52.5166853,\"lon2\":13.3846435,\"lat2\":52.5168788}}]}"
                          }
                        ],
                        "structuredContent": {
                          "address": {
                            "street": "Unter den Linden",
                            "city": "Berlin",
                            "country": "Germany"
                          },
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Unter den Linden, 10117 Berlin, Germany",
                              "address_line1": "Unter den Linden",
                              "address_line2": "10117 Berlin, Germany",
                              "lon": 13.3831728,
                              "lat": 52.5167822,
                              "place_id": "51fa6ea9392fc42a4059d5134ceb25424a40f00102f9013fe4c04200000000c00204920310556e7465722064656e204c696e64656e",
                              "result_type": "street",
                              "rank": {
                                "importance": 0.5166848938100648,
                                "popularity": 8.995467104553104,
                                "confidence": 1,
                                "confidence_city_level": 1,
                                "confidence_street_level": 1,
                                "match_type": "full_match"
                              },
                              "confidence": 1,
                              "street": "Unter den Linden",
                              "postcode": "10117",
                              "city": "Berlin",
                              "state": "Berlin",
                              "country": "Germany",
                              "country_code": "de",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "bbox": {
                                "lon1": 13.3817021,
                                "lat1": 52.5166853,
                                "lon2": 13.3846435,
                                "lat2": 52.5168788
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "reverseGeocodeCoordinatesSuccess": {
                    "summary": "Reverse geocoding result",
                    "description": "Live response for the reverseGeocodeBerlin request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"coordinates\":{\"lat\":52.52,\"lon\":13.405},\"count\":1,\"results\":[{\"formatted\":\"Nordsee, Spandauer Straße 4, 10178 Berlin, Germany\",\"address_line1\":\"Nordsee\",\"address_line2\":\"Spandauer Straße 4, 10178 Berlin, Germany\",\"lon\":13.4049136,\"lat\":52.5204075,\"place_id\":\"514869dbd550cf2a4059eb8b84b69c424a40f00103f901726b151a00000000c002019203074e6f7264736565e203226f70656e7374726565746d61703a76656e75653a6e6f64652f343337363131333738\",\"result_type\":\"amenity\",\"rank\":{\"importance\":0.00008875486381318407,\"popularity\":8.995467104553104},\"housenumber\":\"4\",\"street\":\"Spandauer Straße\",\"postcode\":\"10178\",\"city\":\"Berlin\",\"state\":\"Berlin\",\"country\":\"Germany\",\"country_code\":\"de\",\"timezone\":{\"name\":\"Europe/Berlin\",\"offset_STD\":\"+01:00\",\"offset_DST\":\"+02:00\",\"offset_STD_seconds\":3600,\"offset_DST_seconds\":7200,\"abbreviation_STD\":\"CET\",\"abbreviation_DST\":\"CEST\"},\"bbox\":{\"lon1\":13.4048636,\"lat1\":52.5203575,\"lon2\":13.4049636,\"lat2\":52.5204575}}]}"
                          }
                        ],
                        "structuredContent": {
                          "coordinates": {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          "count": 1,
                          "results": [
                            {
                              "formatted": "Nordsee, Spandauer Straße 4, 10178 Berlin, Germany",
                              "address_line1": "Nordsee",
                              "address_line2": "Spandauer Straße 4, 10178 Berlin, Germany",
                              "lon": 13.4049136,
                              "lat": 52.5204075,
                              "place_id": "514869dbd550cf2a4059eb8b84b69c424a40f00103f901726b151a00000000c002019203074e6f7264736565e203226f70656e7374726565746d61703a76656e75653a6e6f64652f343337363131333738",
                              "result_type": "amenity",
                              "rank": {
                                "importance": 0.00008875486381318407,
                                "popularity": 8.995467104553104
                              },
                              "housenumber": "4",
                              "street": "Spandauer Straße",
                              "postcode": "10178",
                              "city": "Berlin",
                              "state": "Berlin",
                              "country": "Germany",
                              "country_code": "de",
                              "timezone": {
                                "name": "Europe/Berlin",
                                "offset_STD": "+01:00",
                                "offset_DST": "+02:00",
                                "offset_STD_seconds": 3600,
                                "offset_DST_seconds": 7200,
                                "abbreviation_STD": "CET",
                                "abbreviation_DST": "CEST"
                              },
                              "bbox": {
                                "lon1": 13.4048636,
                                "lat1": 52.5203575,
                                "lon2": 13.4049636,
                                "lat2": 52.5204575
                              }
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "searchPlacesSuccess": {
                    "summary": "Nearby places result",
                    "description": "Live response for the searchPlacesRestaurants request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"category\":\"catering.restaurant\",\"coordinates\":{\"lat\":52.52,\"lon\":13.405},\"radius_meters\":1000,\"count\":1,\"results\":[{\"name\":\"BLOCK HOUSE\",\"country\":\"Germany\",\"country_code\":\"de\",\"city\":\"Berlin\",\"postcode\":\"10178\",\"district\":\"Mitte\",\"neighbourhood\":\"Nikolaiviertel\",\"suburb\":\"Mitte\",\"street\":\"Karl-Liebknecht-Straße\",\"housenumber\":\"7\",\"lon\":13.4051631,\"lat\":52.5205315,\"state\":\"Berlin\",\"state_code\":\"BE\",\"formatted\":\"BLOCK HOUSE, Karl-Liebknecht-Straße 7, 10178 Berlin, Germany\",\"categories\":[\"catering\",\"catering.restaurant\",\"catering.restaurant.steak_house\"],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"website\":\"http://www.block-house.de\",\"opening_hours\":\"Mo-Sa 12:00-23:00; Su 12:00-22:00\",\"brand\":\"BLOCK HOUSE\",\"brand_details\":{\"wikidata\":\"Q320430\",\"wikipedia\":\"de:Block House\"},\"name_international\":{\"de\":\"BLOCK HOUSE\"},\"contact\":{\"phone\":\"+49 30 2423300\"},\"facilities\":{\"wheelchair\":true,\"smoking\":true,\"toilets\":false,\"outdoor_seating\":true},\"catering\":{\"cuisine\":\"steak_house\"},\"distance\":60,\"place_id\":\"518a17b08971cf2a4059d784b4c6a0424a40f00103f901bb70151a0000000092030b424c4f434b20484f555345\"}]}"
                          }
                        ],
                        "structuredContent": {
                          "category": "catering.restaurant",
                          "coordinates": {
                            "lat": 52.52,
                            "lon": 13.405
                          },
                          "radius_meters": 1000,
                          "count": 1,
                          "results": [
                            {
                              "name": "BLOCK HOUSE",
                              "country": "Germany",
                              "country_code": "de",
                              "city": "Berlin",
                              "postcode": "10178",
                              "district": "Mitte",
                              "neighbourhood": "Nikolaiviertel",
                              "suburb": "Mitte",
                              "street": "Karl-Liebknecht-Straße",
                              "housenumber": "7",
                              "lon": 13.4051631,
                              "lat": 52.5205315,
                              "state": "Berlin",
                              "state_code": "BE",
                              "formatted": "BLOCK HOUSE, Karl-Liebknecht-Straße 7, 10178 Berlin, Germany",
                              "categories": [
                                "catering",
                                "catering.restaurant",
                                "catering.restaurant.steak_house"
                              ],
                              "datasource": {
                                "sourcename": "openstreetmap",
                                "attribution": "© OpenStreetMap contributors",
                                "license": "Open Database License",
                                "url": "https://www.openstreetmap.org/copyright"
                              },
                              "website": "http://www.block-house.de",
                              "opening_hours": "Mo-Sa 12:00-23:00; Su 12:00-22:00",
                              "brand": "BLOCK HOUSE",
                              "brand_details": {
                                "wikidata": "Q320430",
                                "wikipedia": "de:Block House"
                              },
                              "name_international": {
                                "de": "BLOCK HOUSE"
                              },
                              "contact": {
                                "phone": "+49 30 2423300"
                              },
                              "facilities": {
                                "wheelchair": true,
                                "smoking": true,
                                "toilets": false,
                                "outdoor_seating": true
                              },
                              "catering": {
                                "cuisine": "steak_house"
                              },
                              "distance": 60,
                              "place_id": "518a17b08971cf2a4059d784b4c6a0424a40f00103f901bb70151a0000000092030b424c4f434b20484f555345"
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "listPlaceCategoriesSuccess": {
                    "summary": "Representative place category catalog",
                    "description": "Representative response containing 30 diverse categories. Call `list_place_categories` to retrieve the complete current catalog.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"count\":30,\"categories\":[\"accommodation.hotel\",\"activity.sport_club\",\"administrative.city_level\",\"airport.international\",\"amenity.drinking_water\",\"beach.beach_resort\",\"building.office\",\"camping.camp_site\",\"catering.restaurant\",\"catering.cafe\",\"commercial.supermarket\",\"commercial.clothing\",\"education.school\",\"emergency.ambulance_station\",\"entertainment.cinema\",\"healthcare.hospital\",\"leisure.park\",\"natural.forest\",\"office.company\",\"parking\",\"pet\",\"populated_place.city\",\"public_transport.bus\",\"railway.train\",\"rental.bicycle\",\"service.financial\",\"ski.lift\",\"sport.swimming_pool\",\"tourism.attraction\",\"waterway.water_point\"]}"
                          }
                        ],
                        "structuredContent": {
                          "count": 30,
                          "categories": [
                            "accommodation.hotel",
                            "activity.sport_club",
                            "administrative.city_level",
                            "airport.international",
                            "amenity.drinking_water",
                            "beach.beach_resort",
                            "building.office",
                            "camping.camp_site",
                            "catering.restaurant",
                            "catering.cafe",
                            "commercial.supermarket",
                            "commercial.clothing",
                            "education.school",
                            "emergency.ambulance_station",
                            "entertainment.cinema",
                            "healthcare.hospital",
                            "leisure.park",
                            "natural.forest",
                            "office.company",
                            "parking",
                            "pet",
                            "populated_place.city",
                            "public_transport.bus",
                            "railway.train",
                            "rental.bicycle",
                            "service.financial",
                            "ski.lift",
                            "sport.swimming_pool",
                            "tourism.attraction",
                            "waterway.water_point"
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "calculateRouteSuccess": {
                    "summary": "Route result",
                    "description": "Live response for the calculateRouteDrive request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"distance\":2250,\"units\":\"metric\",\"distance_units\":\"meters\",\"time\":222.763,\"time_units\":\"seconds\",\"waypoints\":[{\"lat\":52.52,\"lon\":13.405},{\"lat\":52.51,\"lon\":13.39}],\"legs\":[{\"distance\":2250,\"time\":222.763}]}"
                          }
                        ],
                        "structuredContent": {
                          "distance": 2250,
                          "units": "metric",
                          "distance_units": "meters",
                          "time": 222.763,
                          "time_units": "seconds",
                          "waypoints": [
                            {
                              "lat": 52.52,
                              "lon": 13.405
                            },
                            {
                              "lat": 52.51,
                              "lon": 13.39
                            }
                          ],
                          "legs": [
                            {
                              "distance": 2250,
                              "time": 222.763
                            }
                          ]
                        },
                        "isError": false
                      }
                    }
                  },
                  "calculateRouteMatrixSuccess": {
                    "summary": "Route matrix result",
                    "description": "Live response for the calculateRouteMatrixSymmetric request example.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"sources\":[{\"lat\":52.520013,\"lon\":13.404987},{\"lat\":52.509996,\"lon\":13.389986}],\"targets\":[{\"lat\":52.520013,\"lon\":13.404987},{\"lat\":52.509996,\"lon\":13.389986}],\"sources_to_targets\":[[{\"distance\":0,\"time\":0,\"source_index\":0,\"target_index\":0},{\"distance\":2250,\"time\":222,\"source_index\":0,\"target_index\":1}],[{\"distance\":1960,\"time\":154,\"source_index\":1,\"target_index\":0},{\"distance\":0,\"time\":0,\"source_index\":1,\"target_index\":1}]],\"units\":\"metric\",\"distance_units\":\"meters\",\"time_units\":\"seconds\"}"
                          }
                        ],
                        "structuredContent": {
                          "sources": [
                            {
                              "lat": 52.520013,
                              "lon": 13.404987
                            },
                            {
                              "lat": 52.509996,
                              "lon": 13.389986
                            }
                          ],
                          "targets": [
                            {
                              "lat": 52.520013,
                              "lon": 13.404987
                            },
                            {
                              "lat": 52.509996,
                              "lon": 13.389986
                            }
                          ],
                          "sources_to_targets": [
                            [
                              {
                                "distance": 0,
                                "time": 0,
                                "source_index": 0,
                                "target_index": 0
                              },
                              {
                                "distance": 2250,
                                "time": 222,
                                "source_index": 0,
                                "target_index": 1
                              }
                            ],
                            [
                              {
                                "distance": 1960,
                                "time": 154,
                                "source_index": 1,
                                "target_index": 0
                              },
                              {
                                "distance": 0,
                                "time": 0,
                                "source_index": 1,
                                "target_index": 1
                              }
                            ]
                          ],
                          "units": "metric",
                          "distance_units": "meters",
                          "time_units": "seconds"
                        },
                        "isError": false
                      }
                    }
                  },
                  "geocodeAddressValidationError": {
                    "summary": "Tool validation failure",
                    "description": "Tool argument errors are MCP results with HTTP 200 and isError set to true.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "content": [
                          {
                            "type": "text",
                            "text": "{\"statusCode\":400,\"error\":\"Bad Request\",\"message\":\"\\\"query\\\" is required\"}"
                          }
                        ],
                        "isError": true
                      }
                    }
                  },
                  "unknownTool": {
                    "summary": "Unknown MCP tool",
                    "description": "An unknown tool name is returned as a JSON-RPC invalid-params error with HTTP 200.",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "error": {
                        "code": -32602,
                        "message": "Unknown tool: unknown_tool"
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted notification request with no JSON-RPC response body."
          },
          "400": {
            "description": "Invalid HTTP request or unsupported MCP protocol version. Tool validation errors are returned with HTTP 200 and result.isError set to true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 400,
                  "error": "Bad Request",
                  "message": "MCP-Protocol-Version header must be \"2025-06-18\""
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Geoapify API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 401,
                  "error": "Unauthorized",
                  "message": "Invalid apiKey"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 429,
                  "error": "Too Many Requests",
                  "message": "Quota exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal gateway error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "statusCode": 500,
                  "error": "Internal Server Error",
                  "message": "Request failed, please try again later"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcId": {
        "description": "JSON-RPC request identifier. The server echoes this value in the response.",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "integer"
          },
          {
            "type": "null"
          }
        ]
      },
      "InitializeRequest": {
        "type": "object",
        "description": "JSON-RPC request that initializes an MCP client session.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP initialize method.",
            "const": "initialize"
          },
          "params": {
            "description": "Optional MCP initialize parameters supplied by the client.",
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ToolsListRequest": {
        "type": "object",
        "description": "JSON-RPC request that lists available MCP tools and their input schemas.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method that lists tools.",
            "const": "tools/list"
          },
          "params": {
            "description": "Optional tools/list parameters.",
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "NotificationRequest": {
        "type": "object",
        "description": "JSON-RPC notification request. Notifications do not receive a JSON-RPC response and must not include id.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "method": {
            "description": "MCP notification method name.",
            "type": "string",
            "pattern": "^notifications/"
          },
          "params": {
            "description": "Optional notification parameters.",
            "type": "object",
            "additionalProperties": true
          }
        },
        "not": {
          "required": [
            "id"
          ]
        }
      },
      "JsonRpcError": {
        "type": "object",
        "description": "JSON-RPC error object.",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "JSON-RPC error code, such as -32600 for an invalid request, -32601 for an unknown method, or -32602 for invalid parameters."
          },
          "message": {
            "type": "string",
            "description": "Human-readable JSON-RPC error message."
          },
          "data": {
            "description": "Optional machine-readable error details."
          }
        }
      },
      "JsonRpcErrorResponse": {
        "type": "object",
        "description": "JSON-RPC error response returned for invalid requests or unknown methods.",
        "required": [
          "jsonrpc",
          "id",
          "error"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "error": {
            "$ref": "#/components/schemas/JsonRpcError"
          }
        }
      },
      "InitializeResponse": {
        "type": "object",
        "description": "Successful JSON-RPC response for initialize.",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "required": [
              "protocolVersion",
              "serverInfo",
              "capabilities"
            ],
            "properties": {
              "protocolVersion": {
                "type": "string"
              },
              "serverInfo": {
                "type": "object",
                "required": [
                  "name",
                  "version"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "capabilities": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "ToolMetadata": {
        "type": "object",
        "description": "MCP tool metadata returned by tools/list.",
        "required": [
          "name",
          "description",
          "inputSchema",
          "outputSchema",
          "_meta"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "inputSchema": {
            "type": "object",
            "additionalProperties": true
          },
          "outputSchema": {
            "type": "object",
            "additionalProperties": true
          },
          "_meta": {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "geoapify/category"
            ],
            "properties": {
              "geoapify/category": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolsListResponse": {
        "type": "object",
        "description": "Successful JSON-RPC response for tools/list.",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "required": [
              "tools"
            ],
            "properties": {
              "tools": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolMetadata"
                }
              }
            }
          }
        }
      },
      "ToolCallResponse": {
        "type": "object",
        "description": "Successful JSON-RPC response for tools/call. Tool failures are returned with isError set to true.",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "required": [
              "content",
              "isError"
            ],
            "properties": {
              "content": {
                "type": "array",
                "description": "Text representation of the structured result or error.",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string",
                      "description": "JSON-encoded tool result or GatewayError object."
                    }
                  }
                }
              },
              "structuredContent": true,
              "isError": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "McpResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/InitializeResponse"
          },
          {
            "$ref": "#/components/schemas/ToolsListResponse"
          },
          {
            "$ref": "#/components/schemas/ToolCallResponse"
          },
          {
            "$ref": "#/components/schemas/JsonRpcErrorResponse"
          }
        ]
      },
      "GatewayError": {
        "type": "object",
        "description": "HTTP gateway error returned before or outside JSON-RPC tool execution.",
        "required": [
          "statusCode",
          "error",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "error": {
            "type": "string",
            "description": "HTTP error name."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      },
      "GeocodeAddressInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Street address or free-text location query to geocode."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5,
            "description": "Maximum number of results to return."
          },
          "lang": {
            "type": "string",
            "default": "en",
            "description": "Result language as a supported two-letter language code."
          },
          "country_codes": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "description": "Optional ISO 3166-1 alpha-2 country code filters, for example \"de\" or \"us\". Values are case-insensitive and normalized to lowercase."
          }
        }
      },
      "GeocodeAddressOutput": {
        "type": "object",
        "description": "Compact geocoding result for a free-text query. See the focused tool specification for the complete output contract."
      },
      "GeocodeAddressToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for geocode_address.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "geocode_address"
          },
          "arguments": {
            "description": "Arguments validated by the geocode_address input schema.",
            "$ref": "#/components/schemas/GeocodeAddressInput"
          }
        }
      },
      "GeocodeAddressToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the geocode_address MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for geocode_address.",
            "$ref": "#/components/schemas/GeocodeAddressToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "geocode_address",
              "arguments": {
                "query": "Berlin",
                "limit": 1,
                "lang": "en"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "geocode_address",
        "x-geoapify-mcp-category": "Geocoding",
        "x-geoapify-mcp-input-schema": "#/components/schemas/GeocodeAddressInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/GeocodeAddressOutput"
      },
      "GeocodeStructuredAddressInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Place or venue name, for example \"Central Station\"."
          },
          "housenumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "House or building number. Use together with street."
          },
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Street name without city, state, or country."
          },
          "postcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Postal or ZIP code."
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "City, town, village, or locality."
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "State, region, province, or administrative area."
          },
          "country": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Country name."
          },
          "country_codes": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "description": "Optional ISO 3166-1 alpha-2 country code filters, for example \"de\" or \"us\". Values are case-insensitive and normalized to lowercase."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5,
            "description": "Maximum number of results to return."
          },
          "lang": {
            "type": "string",
            "default": "en",
            "description": "Result language as a supported two-letter language code."
          }
        },
        "anyOf": [
          {
            "required": [
              "name"
            ]
          },
          {
            "required": [
              "street"
            ]
          },
          {
            "required": [
              "postcode"
            ]
          },
          {
            "required": [
              "city"
            ]
          },
          {
            "required": [
              "state"
            ]
          },
          {
            "required": [
              "country"
            ]
          }
        ]
      },
      "GeocodeStructuredAddressOutput": {
        "type": "object",
        "description": "Compact geocoding result for structured address components. See the focused tool specification for the complete output contract."
      },
      "GeocodeStructuredAddressToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for geocode_structured_address.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "geocode_structured_address"
          },
          "arguments": {
            "description": "Arguments validated by the geocode_structured_address input schema.",
            "$ref": "#/components/schemas/GeocodeStructuredAddressInput"
          }
        }
      },
      "GeocodeStructuredAddressToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the geocode_structured_address MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for geocode_structured_address.",
            "$ref": "#/components/schemas/GeocodeStructuredAddressToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "geocode_structured_address",
              "arguments": {
                "street": "Unter den Linden",
                "city": "Berlin",
                "country": "Germany",
                "limit": 1,
                "lang": "en"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "geocode_structured_address",
        "x-geoapify-mcp-category": "Geocoding",
        "x-geoapify-mcp-input-schema": "#/components/schemas/GeocodeStructuredAddressInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/GeocodeStructuredAddressOutput"
      },
      "ReverseGeocodeCoordinatesInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "lat",
          "lon"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude of the coordinate to reverse geocode."
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude of the coordinate to reverse geocode."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1,
            "description": "Maximum number of nearby address or place results to return."
          },
          "lang": {
            "type": "string",
            "default": "en",
            "description": "Result language as a supported two-letter language code."
          },
          "type": {
            "type": "string",
            "enum": [
              "country",
              "state",
              "city",
              "postcode",
              "street",
              "amenity",
              "locality",
              "building"
            ],
            "description": "Optional result granularity, for example building for address-level results, city for city-level results, or postcode for postal-code results."
          },
          "country_codes": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "description": "Optional ISO 3166-1 alpha-2 country code filters, for example \"de\" or \"us\". Values are case-insensitive and normalized to lowercase."
          }
        }
      },
      "ReverseGeocodeCoordinatesOutput": {
        "type": "object",
        "description": "Compact reverse-geocoding result for one coordinate. See the focused tool specification for the complete output contract."
      },
      "ReverseGeocodeCoordinatesToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for reverse_geocode_coordinates.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "reverse_geocode_coordinates"
          },
          "arguments": {
            "description": "Arguments validated by the reverse_geocode_coordinates input schema.",
            "$ref": "#/components/schemas/ReverseGeocodeCoordinatesInput"
          }
        }
      },
      "ReverseGeocodeCoordinatesToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the reverse_geocode_coordinates MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for reverse_geocode_coordinates.",
            "$ref": "#/components/schemas/ReverseGeocodeCoordinatesToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "reverse_geocode_coordinates",
              "arguments": {
                "lat": 52.52,
                "lon": 13.405,
                "limit": 1,
                "lang": "en"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "reverse_geocode_coordinates",
        "x-geoapify-mcp-category": "Geocoding",
        "x-geoapify-mcp-input-schema": "#/components/schemas/ReverseGeocodeCoordinatesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/ReverseGeocodeCoordinatesOutput"
      },
      "SearchPlacesInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "category",
          "lat",
          "lon"
        ],
        "properties": {
          "category": {
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z0-9_-]+(?:\\.[a-z0-9_-]+)*$",
            "description": "Place category to find. Call list_place_categories first to get the supported category values."
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude of the search center."
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude of the search center."
          },
          "radius_meters": {
            "type": "number",
            "minimum": 1,
            "description": "Optional search radius in meters. When omitted, returns the nearest matching places without a hard distance limit."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20,
            "description": "Maximum number of places to return."
          },
          "lang": {
            "type": "string",
            "default": "en",
            "description": "Result language as a supported two-letter language code."
          }
        }
      },
      "SearchPlacesOutput": {
        "type": "object",
        "description": "Places matching one category around a coordinate. See the focused tool specification for the complete output contract."
      },
      "SearchPlacesToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for search_places.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "search_places"
          },
          "arguments": {
            "description": "Arguments validated by the search_places input schema.",
            "$ref": "#/components/schemas/SearchPlacesInput"
          }
        }
      },
      "SearchPlacesToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the search_places MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for search_places.",
            "$ref": "#/components/schemas/SearchPlacesToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "search_places",
              "arguments": {
                "category": "catering.restaurant",
                "lat": 52.52,
                "lon": 13.405,
                "radius_meters": 1000,
                "limit": 1,
                "lang": "en"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "search_places",
        "x-geoapify-mcp-category": "Places",
        "x-geoapify-mcp-input-schema": "#/components/schemas/SearchPlacesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/SearchPlacesOutput"
      },
      "ListPlaceCategoriesInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {}
      },
      "ListPlaceCategoriesOutput": {
        "type": "object",
        "description": "Supported category catalog for search_places. See the focused tool specification for the complete output contract."
      },
      "ListPlaceCategoriesToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for list_place_categories.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "list_place_categories"
          },
          "arguments": {
            "description": "Arguments validated by the list_place_categories input schema.",
            "$ref": "#/components/schemas/ListPlaceCategoriesInput"
          }
        }
      },
      "ListPlaceCategoriesToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the list_place_categories MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for list_place_categories.",
            "$ref": "#/components/schemas/ListPlaceCategoriesToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "list_place_categories",
              "arguments": {}
            }
          }
        ],
        "x-geoapify-mcp-tool": "list_place_categories",
        "x-geoapify-mcp-category": "Places",
        "x-geoapify-mcp-input-schema": "#/components/schemas/ListPlaceCategoriesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/ListPlaceCategoriesOutput"
      },
      "CalculateRouteInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "waypoints"
        ],
        "properties": {
          "waypoints": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "lat",
                "lon"
              ],
              "properties": {
                "lat": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90,
                  "description": "Waypoint latitude."
                },
                "lon": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180,
                  "description": "Waypoint longitude."
                }
              }
            },
            "description": "Ordered route waypoints. Provide at least an origin and destination."
          },
          "mode": {
            "type": "string",
            "enum": [
              "drive",
              "light_truck",
              "medium_truck",
              "truck",
              "heavy_truck",
              "truck_dangerous_goods",
              "long_truck",
              "bus",
              "scooter",
              "motorcycle",
              "bicycle",
              "mountain_bike",
              "road_bike",
              "walk",
              "hike",
              "transit",
              "approximated_transit"
            ],
            "default": "drive",
            "description": "Travel or vehicle mode used to calculate the route."
          },
          "waypoint_mode": {
            "type": "string",
            "enum": [
              "stopover",
              "through_stop",
              "pass_through"
            ],
            "default": "stopover",
            "description": "How intermediate waypoints are treated."
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ],
            "default": "balanced",
            "description": "Route optimization preference."
          },
          "avoid": {
            "type": "array",
            "maxItems": 3,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "tolls",
                "ferries",
                "highways"
              ]
            },
            "description": "Route features to avoid. Supported values are \"tolls\", \"ferries\", and \"highways\"."
          },
          "geometry_scope": {
            "type": "string",
            "enum": [
              "none",
              "route",
              "legs",
              "steps"
            ],
            "default": "route",
            "description": "Geometry detail to return: none, route only, route and legs, or route, legs, and instruction steps."
          },
          "geometry_format": {
            "type": "string",
            "enum": [
              "geojson",
              "polyline"
            ],
            "default": "geojson",
            "description": "Return geometry as a GeoJSON geometry object or an encoded precision-5 polyline."
          },
          "include_instructions": {
            "type": "boolean",
            "default": false,
            "description": "Include detailed turn-by-turn instruction steps."
          },
          "optimize_stops": {
            "type": "boolean",
            "default": false,
            "description": "Optimize the order of intermediate stops while preserving the first and last waypoint."
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ],
            "default": "metric",
            "description": "Distance and speed units."
          },
          "lang": {
            "type": "string",
            "enum": [
              "bg",
              "ca",
              "cs",
              "da",
              "de",
              "el",
              "en-GB",
              "en",
              "es",
              "et",
              "fi",
              "fr",
              "hi",
              "hu",
              "it",
              "ja",
              "nb-NO",
              "nl",
              "pl",
              "pt-BR",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sv",
              "tr",
              "uk"
            ],
            "default": "en",
            "description": "Language used for turn-by-turn instructions."
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ],
            "default": "free_flow",
            "description": "Traffic model used for motorized routing."
          }
        }
      },
      "CalculateRouteOutput": {
        "type": "object",
        "description": "Route totals, resolved waypoints, legs, and optional geometry. See the focused tool specification for the complete output contract."
      },
      "CalculateRouteToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for calculate_route.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "calculate_route"
          },
          "arguments": {
            "description": "Arguments validated by the calculate_route input schema.",
            "$ref": "#/components/schemas/CalculateRouteInput"
          }
        }
      },
      "CalculateRouteToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the calculate_route MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for calculate_route.",
            "$ref": "#/components/schemas/CalculateRouteToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "calculate_route",
              "arguments": {
                "waypoints": [
                  {
                    "lat": 52.52,
                    "lon": 13.405
                  },
                  {
                    "lat": 52.51,
                    "lon": 13.39
                  }
                ],
                "mode": "drive",
                "geometry_scope": "none",
                "include_instructions": false,
                "units": "metric"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "calculate_route",
        "x-geoapify-mcp-category": "Routing",
        "x-geoapify-mcp-input-schema": "#/components/schemas/CalculateRouteInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/CalculateRouteOutput"
      },
      "CalculateRouteMatrixInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "lat",
                "lon"
              ],
              "properties": {
                "lat": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90,
                  "description": "Location latitude."
                },
                "lon": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180,
                  "description": "Location longitude."
                }
              }
            },
            "description": "Matrix source locations. sources.length multiplied by targets.length must not exceed 1000."
          },
          "targets": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "lat",
                "lon"
              ],
              "properties": {
                "lat": {
                  "type": "number",
                  "minimum": -90,
                  "maximum": 90,
                  "description": "Location latitude."
                },
                "lon": {
                  "type": "number",
                  "minimum": -180,
                  "maximum": 180,
                  "description": "Location longitude."
                }
              }
            },
            "description": "Matrix target locations. Defaults to the source locations when omitted. sources.length multiplied by targets.length must not exceed 1000."
          },
          "mode": {
            "type": "string",
            "enum": [
              "drive",
              "truck",
              "light_truck",
              "medium_truck",
              "bus",
              "motorcycle",
              "scooter",
              "bicycle",
              "walk",
              "hike"
            ],
            "default": "drive",
            "description": "Travel or vehicle mode used to calculate the matrix."
          },
          "type": {
            "type": "string",
            "enum": [
              "balanced",
              "short",
              "less_maneuvers"
            ],
            "default": "balanced",
            "description": "Route optimization preference."
          },
          "traffic": {
            "type": "string",
            "enum": [
              "free_flow",
              "approximated"
            ],
            "default": "free_flow",
            "description": "Traffic model used for motorized routing."
          },
          "avoid": {
            "type": "array",
            "maxItems": 3,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "tolls",
                "highways",
                "ferries"
              ]
            },
            "description": "Route features to avoid. Supported values are \"tolls\", \"highways\", and \"ferries\"."
          },
          "units": {
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ],
            "default": "metric",
            "description": "Distance and speed units."
          }
        }
      },
      "CalculateRouteMatrixOutput": {
        "type": "object",
        "description": "Resolved matrix locations and source-to-target travel costs. See the focused tool specification for the complete output contract."
      },
      "CalculateRouteMatrixToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for calculate_route_matrix.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "calculate_route_matrix"
          },
          "arguments": {
            "description": "Arguments validated by the calculate_route_matrix input schema.",
            "$ref": "#/components/schemas/CalculateRouteMatrixInput"
          }
        }
      },
      "CalculateRouteMatrixToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the calculate_route_matrix MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for calculate_route_matrix.",
            "$ref": "#/components/schemas/CalculateRouteMatrixToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/call",
            "params": {
              "name": "calculate_route_matrix",
              "arguments": {
                "sources": [
                  {
                    "lat": 52.52,
                    "lon": 13.405
                  },
                  {
                    "lat": 52.51,
                    "lon": 13.39
                  }
                ],
                "mode": "drive"
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "calculate_route_matrix",
        "x-geoapify-mcp-category": "Routing",
        "x-geoapify-mcp-input-schema": "#/components/schemas/CalculateRouteMatrixInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/CalculateRouteMatrixOutput"
      },
      "CombineGeometriesIntersectionInput": {
        "type": "object",
        "title": "intersection",
        "description": "Return the area shared by all input polygons.",
        "additionalProperties": false,
        "required": [
          "operation",
          "geometries"
        ],
        "properties": {
          "operation": {
            "const": "intersection",
            "description": "Return the area shared by all input polygons."
          },
          "geometries": {
            "type": "array",
            "minItems": 2,
            "maxItems": 100,
            "items": {
              "type": "object",
              "description": "GeoJSON Geometry (Polygon, or MultiPolygon); not a Feature or FeatureCollection."
            },
            "description": "GeoJSON geometries to combine."
          }
        }
      },
      "CombineGeometriesIntersectionOutput": {
        "type": "object",
        "description": "Returns `{ \"type\": \"geojson\", \"data\": Feature }` for the shared Polygon or MultiPolygon area, or `{ \"type\": \"empty\", \"data\": null }` when the inputs have no shared area."
      },
      "CombineGeometriesDifferenceInput": {
        "type": "object",
        "title": "difference",
        "description": "Subtract every later polygon from the first polygon.",
        "additionalProperties": false,
        "required": [
          "operation",
          "geometries"
        ],
        "properties": {
          "operation": {
            "const": "difference",
            "description": "Subtract every later polygon from the first polygon."
          },
          "geometries": {
            "type": "array",
            "minItems": 2,
            "maxItems": 100,
            "items": {
              "type": "object",
              "description": "GeoJSON Geometry (Polygon, or MultiPolygon); not a Feature or FeatureCollection."
            },
            "description": "Ordered polygons. Every geometry after the first is subtracted from the first."
          }
        }
      },
      "CombineGeometriesDifferenceOutput": {
        "type": "object",
        "description": "Returns `{ \"type\": \"geojson\", \"data\": Feature }` for the part of the first Polygon or MultiPolygon that remains, or `{ \"type\": \"empty\", \"data\": null }` when nothing remains."
      },
      "CombineGeometriesUnionInput": {
        "type": "object",
        "title": "union",
        "description": "Merge two or more polygons into their geometric union.",
        "additionalProperties": false,
        "required": [
          "operation",
          "geometries"
        ],
        "properties": {
          "operation": {
            "const": "union",
            "description": "Merge two or more polygons into their geometric union."
          },
          "geometries": {
            "type": "array",
            "minItems": 2,
            "maxItems": 100,
            "items": {
              "type": "object",
              "description": "GeoJSON Geometry (Polygon, or MultiPolygon); not a Feature or FeatureCollection."
            },
            "description": "GeoJSON geometries to combine."
          }
        }
      },
      "CombineGeometriesUnionOutput": {
        "type": "object",
        "description": "Returns `{ \"type\": \"geojson\", \"data\": Feature }` containing the merged Polygon or MultiPolygon."
      },
      "CombineGeometriesEnvelopeInput": {
        "type": "object",
        "title": "envelope",
        "description": "Return a rectangular envelope containing all input geometries.",
        "additionalProperties": false,
        "required": [
          "operation",
          "geometries"
        ],
        "properties": {
          "operation": {
            "const": "envelope",
            "description": "Return a rectangular envelope containing all input geometries."
          },
          "geometries": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "object",
              "description": "GeoJSON Geometry (Point, LineString, Polygon, MultiPoint, MultiLineString, or MultiPolygon); not a Feature or FeatureCollection."
            },
            "description": "GeoJSON geometries to combine."
          }
        }
      },
      "CombineGeometriesEnvelopeOutput": {
        "type": "object",
        "description": "Returns `{ \"type\": \"geojson\", \"data\": Feature }` containing the rectangular Polygon that encloses all input geometries."
      },
      "CombineGeometriesInput": {
        "description": "Choose one combination operation. Each branch lists the exact accepted geometry types and limits.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CombineGeometriesIntersectionInput"
          },
          {
            "$ref": "#/components/schemas/CombineGeometriesDifferenceInput"
          },
          {
            "$ref": "#/components/schemas/CombineGeometriesUnionInput"
          },
          {
            "$ref": "#/components/schemas/CombineGeometriesEnvelopeInput"
          }
        ]
      },
      "CombineGeometriesOutput": {
        "type": "object",
        "description": "Typed geometry-operation result. The type value determines the data schema. See the focused tool specification for the complete output contract."
      },
      "CombineGeometriesToolCallParams": {
        "type": "object",
        "description": "MCP tools/call params for combine_geometries.",
        "additionalProperties": false,
        "required": [
          "name",
          "arguments"
        ],
        "properties": {
          "name": {
            "description": "Registered MCP tool name.",
            "const": "combine_geometries"
          },
          "arguments": {
            "description": "Arguments validated by the combine_geometries input schema.",
            "$ref": "#/components/schemas/CombineGeometriesInput"
          }
        }
      },
      "CombineGeometriesToolCallRequest": {
        "type": "object",
        "description": "JSON-RPC tools/call request for the combine_geometries MCP tool.",
        "additionalProperties": false,
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "description": "JSON-RPC protocol version.",
            "const": "2.0"
          },
          "id": {
            "description": "Client-supplied JSON-RPC request id echoed in the response.",
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "description": "MCP method used to call a tool.",
            "const": "tools/call"
          },
          "params": {
            "description": "Tool call parameters for combine_geometries.",
            "$ref": "#/components/schemas/CombineGeometriesToolCallParams"
          }
        },
        "examples": [
          {
            "jsonrpc": "2.0",
            "id": 10,
            "method": "tools/call",
            "params": {
              "name": "combine_geometries",
              "arguments": {
                "operation": "intersection",
                "geometries": [
                  {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          13.38,
                          52.5
                        ],
                        [
                          13.42,
                          52.5
                        ],
                        [
                          13.42,
                          52.54
                        ],
                        [
                          13.38,
                          52.54
                        ],
                        [
                          13.38,
                          52.5
                        ]
                      ]
                    ]
                  },
                  {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          13.4,
                          52.51
                        ],
                        [
                          13.44,
                          52.51
                        ],
                        [
                          13.44,
                          52.55
                        ],
                        [
                          13.4,
                          52.55
                        ],
                        [
                          13.4,
                          52.51
                        ]
                      ]
                    ]
                  }
                ]
              }
            }
          }
        ],
        "x-geoapify-mcp-tool": "combine_geometries",
        "x-geoapify-mcp-category": "Utilities",
        "x-geoapify-mcp-input-schema": "#/components/schemas/CombineGeometriesInput",
        "x-geoapify-mcp-output-schema": "#/components/schemas/CombineGeometriesOutput",
        "x-geoapify-mcp-operations": [
          {
[...]
